[2018-01-18 17:03] DigitalMachinist opened #8 "Exception thrown when no sort is provided in query string and calling allowedSorts"
It seems as though when `allowedSorts()` is called, not including a `sort` in the query string, the sort is assumed to be "" (empty string) and an exception is thrown.

The query string:
[code]

The exception:
[code]

The code:
[code]

**The workaround:**

Leave out the call to `allowedSorts()` and everything's fine.

If I get a chance, I'll submit a PR in the coming days to address this.

[2018-01-19 08:39] #8 closed

[2018-01-20 06:07] spyric opened #10 "[Feature Request] Range values"
Hello. Thanks for great package.
One of thing I'm really missing is range values, here is few cases where it will be useful:

- Price range on catalog page
- Date range on orders/payments page

I can implement this feature, but let's discuss how it can be. I have two option:

## Option 1
Add filter `Filter::range('column_name')`
and user will send next request `/orders?filter[column_name][min]=VAL

[2018-01-22 12:14] AlexVanderbist commented on #10
Hi @spyric

I agree that these kind of filters are something you'll be doing often. However my only concern is that this is not part of the JSON API spec. As everyone seems to use different approaches to this kind of filtering (`?filter[column_name_max]`, `?filter[column_name_before]` for dates, `?filter[column_name][max]` as proposed, `?filter[column_name][gt]` short for "greater then", etc...) I

[2018-01-25 15:56] ntzm opened #13 "Query builder ignores soft delete scope"
Potentially all global scopes?

[2018-01-26 21:16] Insolita opened #14 "Add ILike varaint for postgres"
In mysql "like" is case-insensitive, for postgres ilike is more useful;
or common variant  for any db - "like" compare with LOWER() wrapper for column value and searchable value

[2018-01-29 10:20] AlexVanderbist commented on #13
Good catch, thanks! Fixed this in 1.2.0 :)

[2018-01-29 12:48] shabushabu commented on #13
Pretty sure this update just broke my tests. If, for example, you pass in an existing query that removed a global scope, then the query builder adds them all back in again, like so:

[code]

[2018-01-30 23:20] GERJohnson opened #20 "[QUESTION] Any Ideas to Improve my Source Code"
Hi, I am new to this kind of development. So please spare with me If my question sounds silly to you. I found your package and really like it much. I am planning to test Laravel with Vue.js including your package for data exchange.

I faced an issue that I solved at the end but in an very strange way. I wonder if you have an idea on how to achieve this in a smarter and more simpler way.

I have an

[2018-01-31 11:37] shabushabu commented on #13
It's easy to refactor and call those global scope methods on the query builder instead of passing them in, but it should either be documented somewhere or you could use the `removedScopes()` method to not add already removed scopes back in again.

[2018-01-31 12:35] AlexVanderbist commented on #13
@shabushabu Sorry this broke your tests. I'll look into it right now.

[2018-01-31 15:35] AlexVanderbist commented on #13
Turns out this is not as simple as it seems. Looks like we'll manually have to set scopes, eager loaded relationships, local macro's and the `onDelete` callback.

I'm nearly done with a fix on [`fix-scopes-and-other-builder-properties` branch](https://github.com/spatie/laravel-query-builder/tree/fix-scopes-and-other-builder-properties)

[2018-02-01 10:21] shabushabu commented on #13
No worries, it's what tests are for ;)

[2018-02-01 16:22] ntzm opened #21 "Ability to include nested relationships"
I would like to be able to include nested relationships like you do with `load` or `with`: `->load('relation1.relation2')`

Obviously this is a bit more difficult because PHP translates `.` to `_` in GET request values

[2018-02-02 01:36] selmonal opened #23 "How can i create a QueryBuilder from a model relation?"
I have Product and Category model. A product belongs to many categories then i need a query like below

[code]

But it won't work. How can i make it work?

Thanks! great package.

[2018-02-02 09:15] AlexVanderbist commented on #21
Hi! Sounds like a great idea, let's handle this further in #22 👍

[2018-02-02 09:15] #21 closed

[2018-02-02 09:27] AlexVanderbist commented on #14
I think I prefer this approach as it's not too much conditional code based on what db is used. I'll look into this later this weekend :)

[2018-02-02 09:40] AlexVanderbist commented on #23
Hi @selmonal! This is because the `QueryBuilder` expects a `Builder` (eloquent query) instance instead of a relationship.

You can easily solve this by calling `getQuery()` on the relationship:
[code]

Let me know if you need any more help :)

[2018-02-02 09:40] #23 closed

[2018-02-02 21:41] markdieselcore opened #25 "'for' method triggers phpfmt to mark that method as a control structure"
When using phpfmt to auto-psr2 php files, phpfmt treats the QueryBuilder::for method as a control structure and will attempt to auto format it, resulting in broken code.

`$products = QueryBuilder::for(Product::class)->allowedFilters('name')->paginate($count);`

becomes

        $products = QueryBuilder::for (Product::class) {
                ->allowedFilters('name')->paginate($count);
        }

[2018-02-02 21:46] markdieselcore opened #26 "Allow allowedIncludes and allowFilters to accept an array"
Would really appreciate it if these two methods could accept arrays or strings. Would be nice to declare my filters in an array and pass them in as needed.

[2018-02-02 21:52] jshayes commented on #26
You should still be able to do it by doing
[code]

[2018-02-03 13:53] lukevincent opened #27 "Class 'Spatie\QueryBuilder\QueryBuilderFacade' not found"
Hi I'm trying to use this package, but i just can't get it working.

I've got a fresh install of Laravel 5.5
[code]

Then I run
[code]
and finally a closure in api.php
[code]
But, I get this error
[code]
It's a fresh install of laravel 5.5, and i've tried

[code]
and
[code]
Is there anything more I can try??

Thanks!!!

[2018-02-03 15:02] lukevincent commented on #27
I managed to get the package working by changing the alias path in composer.json from

[code]
to
[code]

[code]

Is this a bug worthy of a pull request or something I'm doing wrong?

Thanks!!

[2018-02-03 15:39] freekmurze commented on #27
I've tagged a new version where this problem has been fixed.

[2018-02-03 15:39] #27 closed

[2018-02-03 15:45] freekmurze commented on #20
This question is not really about this package. For general question on how to do project specific things ask your question on either the [laracasts forum](https://laracasts.com/discuss), [larachat](https://larachat.co/) or [Laravel.io](https://laravel.io)

[2018-02-03 15:45] #20 closed

[2018-02-03 15:50] freekmurze commented on #25
Seems like this is something that should be fixed in `phpfmt` instead of changing the perfectly valid code in this package.

[2018-02-03 15:50] #25 closed

[2018-02-03 15:53] freekmurze commented on #26
@jshayes that's a nice suggestion, that'll work.

But it would indeed be nice if passing an array would just work.

We'd accept a PR with tests for this.

[2018-02-03 16:09] lukevincent commented on #27
:thumbsup:

[2018-02-05 08:44] #26 closed

[2018-02-05 16:29] chall86 opened #30 "Custom filter throws - Class not found"
Nevermind, my mistake, typo.

[2018-02-05 16:51] #30 closed

[2018-02-06 19:45] roshangautam opened #34 "Protocols"
Do you guys have any plans to support other specs like odata (http://www.odata.org/) ?

[2018-02-06 22:05] freekmurze commented on #34
Currently there are no plans to support other specs.

[2018-02-06 22:05] #34 closed

[2018-02-07 22:09] #13 closed

[2018-02-09 10:20] AlexVanderbist opened #36 "Sorting by related properties"
As described in the spec here: http://jsonapi.org/format/#fetching-sorting

However this is not possible on an eloquent query builder. `Model::with('related')->orderBy('related.name')->get()` doesn't work as the related models would be fetched in a second query and the first query doesn't know the `related.name` field.
I'm also not sure what the intended behaviour would be relationships returning

[2018-02-21 15:43] ntzm commented on #36
Would be a great feature but I'm not sure how possible it is without joins. I tried to do something similar on a personal project and ended up just abandoning the idea because I couldn't find a reliable way to get it to work for every relationship type.

[2018-02-23 10:07] brendt commented on #36
Is there a problem to use joins?

Another thing coming to mind, my first thought when I was trying to do this without knowing it wasn't possible: I wouldn't mind implementing this sort myself if that makes it easier for the package, something like:

[code]

Don't know if this would be possible, I haven't really looked at the internals of the package yet.

[2018-02-23 19:04] pedrosalpr opened #42 "Mapping attribute to another name in sort order"
I would like to know how do I sort by an attribute that is mapped differently in the database?

In my database, the `km` field exists, and when I return to the user I use class` Resource` and return this field as `distance`.

If it were to filter for example, this attribute, I would use `Filter::custom`.

[code]

But how would I order by `distance`?

[code]

Because if I order this way it gives an

[2018-02-27 15:35] tabuna opened #43 "Add feature filter/sort in JSON"
I propose to add the ability to filter and sort for fields containing JSON:

Model (example), `content` - Is a JSON or JSONB field.
[code]

Laravel can handle this:
[code]

My suggestion is to enable filtering and sorting for such things.
Defining allowed as `content`:

Filtering an API request: `/users?filter[content][en][name]=alexandr`:

[code]

To avoid overlapping several conditions using the

[2018-03-06 09:52] AlexVanderbist commented on #43
Hi! Thanks for the suggestion. I've been coming back to this issue a couple of times last week. If Laravel supports this using the simple `content->en->name` notation I'd love to implement it in this package as well.

For the URL structure I'm still unsure. Preferably we do not use the nested arrays notation (`/users?filter[content][en][name]=alexandr`) to avoid the issue of fields overlapping alt

[2018-03-06 11:24] tabuna commented on #43
@AlexVanderbist Could you give an example of the problem of overlapping fields?

[2018-03-06 14:29] AlexVanderbist commented on #43
I was talking about:

[2018-03-06 15:27] tabuna commented on #43
For this we will check the `cast` models

[code]

[2018-03-07 00:06] einnar82 commented on #27
i solve by using this approach:

add this code in laravel-query-builder composer
  `"extra": {
        "laravel": {
            "providers": [
                "Spatie\\QueryBuilder\\QueryBuilderServiceProvider"
            ],
            "aliases": {
                "QueryBuilder": "Spatie\\QueryBuilder\\QueryBuilder"
            }
        }
    }`

then register in your laravel's app.php

provide

[2018-03-16 04:24] robsontenorio opened #46 "[Feature] ->allowedAppends()"
It would be nice if we can dynamically append a property (or many) from Models

`/users?append=fullname`

[code]

[2018-03-16 04:40] robsontenorio commented on #36
@AlexVanderbist
Maybe? https://github.com/fico7489/laravel-eloquent-join

[2018-03-16 16:10] freekmurze commented on #46
Feel free to send a PR for this.

[2018-03-23 20:20] golubkovden commented on #36
Yeah, it would be great to see this feature.

[2018-03-27 03:17] robsontenorio commented on #46
@freekmurze

Here is #50  👍

[2018-03-28 20:25] leandroruel opened #51 "[InvalidArgumentException] Could not find package spatie/laravel-query-builder at any version matching your PHP version 7.0.10.0"
i'm trying install this package but this error occurs:
` [InvalidArgumentException]  Could not find package spatie/laravel-query-builder at any version matching your PHP version 7.0.10.0`

what i'm doing wrong?

[2018-03-28 21:35] freekmurze commented on #51
This package requires PHP 7.1

[2018-03-28 21:35] #51 closed

[2018-03-28 21:37] leandroruel commented on #51
Ok, my bad

[2018-03-29 13:41] leandroruel opened #52 "QueryBuilder on multiple conections"
my project uses two different databases, when i'm testing my querybuilder in one of my models it gives me the following error:
[code]
have any workaround to this?

[2018-03-29 16:09] leandroruel commented on #52
nevermind, fixed, i use wamp and my php has no mssql driver, switched to another php version with the drivers and worked

[2018-03-29 16:09] #52 closed

[2018-04-17 12:26] Tarasovych opened #53 "Ability to include certain fields from related model"
In Eloquent I can use [`with()`](https://laravel.com/api/5.6/Illuminate/Database/Eloquent/Builder.html#method_with) to fetch certain fields from related model.
I'd like to able do the same with `allowedIncludes()` like `allowedIncludes('related_model:id,name')`.

[2018-04-18 13:24] slashequip opened #54 "Nested relation includes too strict?"
Hey,

Given this query builder:
[code]

If I only try to include `division` in my request I get an error saying `division` isn't in the list of allowed includes. Is this intended behaviour? Feels too restrictive/strict to me.

The work around is to do this:
[code]

Feels a little repetitive?

If I can get some time I don't mind attempting a PR but let me know how you feel about this.

[2018-04-18 13:40] freekmurze commented on #54
I'd accept a PR with tests.

[2018-04-18 13:40] #54 closed

[2018-04-19 10:25] slashequip commented on #43
Is this a problem which could be resolved using the built in custom filters? It feels like a tough call to make with the spec being "agnostic" about filter implementation.

https://github.com/spatie/laravel-query-builder#custom-filters

Personally I've even been using them to clean up standard filters to use `'comment'` instead of things like `'comment_id'`.

Does passing through arrow notation no

[2018-04-20 07:37] hubroot opened #56 "Model guarded attribute doesn't play"
Hi,

Model {
   guarded : deleted_at
}

QueryBuilder(Model)->get()

returns all Model attributes, is there a way to link the QueryBuilder and Laravel Model guarded attribute together ?

[2018-04-20 11:43] freekmurze commented on #56
No. If you want to limits attributes being returned you could use a resource class that doesn't return all attributes.

Alternatively take a look at the `hidden` property of a model

[2018-04-20 11:43] #56 closed

[2018-04-23 05:53] zhi8617 opened #57 "About paginate parameters"
[code]
HTTP GET  `/user?filter[status]=2`

But paginate meta links will get `/user?page=1`, Filter parameters lost .

Any idea?
Thank all.

[2018-04-23 16:25] hedii commented on #57
@zhi8617

[code]

[2018-04-23 17:39] zhi8617 commented on #57
Thank for respond.

[2018-04-24 09:01] matthijsfringe opened #58 "Example selecting specific columns on relationship not working"
The following given example does not seem to work:
`GET /posts?include=author&fields[author]=name`

The value of the author relation will be null.

It looks like when calling a One To One (Inverse) or a One To Many (Inverse) relationship and specifying at least one field of the relationship, you have to include the primary_key as following:
`GET /posts?include=author&fields[author]=id,name`

Same

[2018-04-25 19:24] mattboban opened #60 "Lumen compatibility"
Just wanted to check the compatibility level of the package with Lumen 5.6.*.

I just did a base install and I'm currently stuck with the following exception:

[code]

this was caused by a simple call:

[code]
I'm investigating further, but any insight would be appreciated.

[2018-05-07 11:37] dadigu opened #62 "Nested array in filters"
I'll start of by saying thank you for a great package.

How ever there is one functionality that I'm missing, that is to have nested array filter query params. To give you some context is that I'm trying to build a filter that need a very nested set from the url query string. I was able to build a normal range filter by calling `filter[price][min]=1` and `filter[price][max]=10` That works all fine

[2018-05-07 14:50] freekmurze commented on #62
Our package does support calling scopes: https://github.com/spatie/laravel-query-builder#scope-filters

You could define `scopeStock`, `scopeMinimumPrice` and `scopeMaximumPrice` on your model.

Would that work for you?

[2018-05-08 09:07] dadigu commented on #62
Oh cool, I see that this is a recent addition to the package, I didn't notice it. This actually would solve another problem I have, that's fantastic. I'll see if I can use the scope filter for what I'm trying to to, Thanks!

How ever I still think that the `$filtersMapper` in the Request macro `filters` should be recursive so it would be possible to have very nested filters if someone needs that f

[2018-05-08 14:21] Tarasovych opened #63 "Trying to makeHidden() before fetching data"
[deleted]

[2018-05-08 22:38] AlexVanderbist commented on #58
Hi! I've checked this out and it looks like selecting specific fields using `select()` causes eloquent to ignore required fields for the relationship... (I guess we missed the giant red warning in the docs).

A possible solution might be to automatically `select` necessary foreign/local keys based on the relationship you're trying to include. However it feels like that might be quite brittle as el

[2018-05-09 00:08] #63 closed

[2018-05-09 06:09] freekmurze commented on #62
Sure, send us a well tested and well documented PR.

If the code is simple enough, we’ll merge it 👍

[2018-05-09 06:09] #62 closed

[2018-05-10 01:43] kevmt commented on #60
Hi @mattboban

This is probably due to Lumen 5.4+ changes, see: https://laravel-news.com/request-object-changes-in-lumen-5-4

[code]

[2018-05-15 12:11] viezel commented on #53
or even better, being able to do:

[code]

[2018-05-16 06:32] prodigy7 commented on #58
+1

[2018-05-18 09:25] alexgiuvara opened #65 "order by created_at desc, created_at desc, created_at desc"
[code]
Request: `sort=-created_at&page[size]=25&page[number]=1&filter[status]=deleted`
The generated query:
[code]

While debugging, I see that `addSortsToQuery` is called 3 times with this payload:
[code]

[2018-05-18 09:42] alexgiuvara commented on #25
@markdieselcore you can add this method in your main repository or a place you don't touch too often:
[code]

and use it in child classes:
[code]

[2018-05-19 18:36] alexgiuvara commented on #65
I changed these two tests on `SortTest.php` to prove what I'm saying:
[code]

[code]
both went green

[2018-05-21 11:36] #65 closed

[2018-05-25 20:18] Indemnity83 commented on #42
Interested in this too; slightly different use case but requires similar functionality. I have a table with version numbers (following symver) so basic SQL sorting doesn't result in the correct ouput.

What I do have though is a pre-calculated sort order column (that isn't presented in the api output), so when a user asks to sort by `version` I really want to sort by `build` at the server.

[2018-05-28 19:04] ibrunotome commented on #14
Hi @AlexVanderbist , first of all, congratulations for this great package. Do you have any idea of when will be released the lowercase search feature?

[2018-05-29 19:12] sdebacker commented on #42
Also, custom sorting classes would be great to build this kind of queries:

[code]
Perfect for [spatie/laravel-translatable](https://github.com/spatie/laravel-translatable), because MySQL’s JSON fields are collated to utf8(mb4)_bin, not useful for multilingual sorting. What do you think?

[2018-05-31 12:33] mr-jingles opened #69 "Eloquent query gets ignored since 1.9.1"
Hi,
since Version 1.9.1 Eloquent Querys get ignored. Basically I do something like this:

QueryBuilder::for(Order::select(#some columns))
                                  ->allowedFilters(#same columns as above)
                                  ->paginate($request->per_page);

Before 1.9.1 only those columns I selected where in the endresult - with 1.9.1 onwards this part will be ignored. Is thi

[2018-06-05 08:40] #14 closed

[2018-06-05 08:41] #60 closed

[2018-06-09 19:54] josiasmontag opened #73 "PostgreSQL exception"
#71  seems to break the `FilterPartial` in combination with Postgres.

I am getting:
``
SQLSTATE[42883]: Undefined function: 7 ERROR:  operator does not exist: ` character varying
LINE 1: ..._accounts"."user_id" is not null and LOWER(`some_filter`...
``

``
HINT:  No operator matches the given name and argument type(s). You might need to add explicit type casts. (SQL: select "my_accounts".* from "

[2018-06-11 07:18] freekmurze commented on #73
Seems like we only need to apply those backticks when using MySQL.

[2018-06-11 07:20] josiasmontag commented on #73
Better: use `` $query->getGrammar()->wrap($property); ``

[2018-06-11 07:53] #73 closed

[2018-06-19 00:02] twickstrom opened #77 "Ability to include withTrashed"
In the index of my user controller I have the following:

[code]

I was hoping to pass an include param like this:

[code]

To append the `withTrashed()` global scope to the query.

Is this possible? I am most likely missing something obvious, I have tried a few variations in my testing usually ending up with an error like:

[code]

Thanks for the help! This has been a HUGE time saver.

[2018-06-19 07:04] netojose opened #78 "Laravel auto discovery Alias missing"
On [package.json file](https://github.com/spatie/laravel-query-builder/blob/1.10.0/composer.json), the aliases *QueryBuilder* is missing.

[2018-06-19 10:55] freekmurze commented on #78
This package doesn't provide a Facade.

[2018-06-19 10:55] #78 closed

[2018-06-19 11:12] netojose opened #79 "Essential information on install instructions"
As this package does not provide a facade, the install instructions have a missing important step, say the needed add an alias on config/app.php. Without this, is impossible use the Package on controllers.

[2018-06-19 11:13] freekmurze commented on #79
You can just use `Spatie\QueryBuilder\QueryBuilder` in your controllers.

[2018-06-19 11:13] #79 closed

[2018-06-19 16:11] rajasekar-d opened #80 "hasMany relationship search filter throws an error"
### hasMany relationship search filter throws an error

**Eloquent Query:**
`QueryBuilder::for(User::class)->allowedIncludes('roles')->allowedFilters(Filter::exact('role_id'))->with('roles')->paginate(20);`
**Query Parameters:**
`/users?include=roles&filter[role_id]=5`
**Exception:**
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'role_id' in 'where clause' (SQL: select count(*) as aggrega

[2018-06-19 19:35] netojose commented on #79
But I think this info should be present on docs.

Thanks

[2018-06-19 21:39] twickstrom commented on #77
In case anyone else is looking for this I was able to make it work using filters.

[code]

And to interact with it is simple. Here is an example:
`http://127.0.0.1:8000/v1/users?filter[withTrashed]=true`

**Important Note**: in Laravel, withTrashed does not accept parameters, however adding =true or =1 is necessary for the scope to be attached.

[2018-06-19 21:40] #77 closed

[2018-06-20 09:48] brunen9 commented on #53
@Tarasovych did you try the [Selecting specific columns](https://github.com/spatie/laravel-query-builder#selecting-specific-columns)?

[2018-06-24 21:04] #53 closed

[2018-06-24 21:16] freekmurze commented on #80
Out of the box a given `Filter` will operate on the table you're building up a query for.

If you want to filter on a related take a look at [this example in the readme](https://github.com/spatie/laravel-query-builder#custom-filters).

[2018-06-24 21:16] #80 closed

[2018-07-02 15:51] jamiehd opened #81 "By default sorting by a non-existant property throws an error"
If you visit http://my-api.com/users?sort=thisfielddoesnotexist you recieve an sql error:

"SQLSTATE[42S22]: Column not found: 1054 Unknown column 'thisfielddoesnotexist' in 'order clause' (SQL: select `users`.* from `users` order by `thisfielddoesnotexist` asc limit 15 offset 0)"

I didn't set any  explicitly allowed sorting but it seems weird that the default allows for an SQL error to be trigge

[2018-07-02 16:10] jamiehd commented on #81
Also if you do something like this:  http://my-api.com/users?fields[users]=doesnotexist

Then you get a similar SQL error. There does not even seem to be an allowedFields method so I can't see any way to avoid this at all.

Please let me know if I'm missing something obvious.

[2018-07-03 09:40] lionslair commented on #77
For me this approach is looking for a withTrashed field on the table. How did you get around that?

[2018-07-03 15:36] twickstrom commented on #77
Make sure that you are using soft delete trait within your model. More info here:

https://laravel.com/docs/5.6/eloquent#soft-deleting

[2018-07-15 18:13] rajasekar-d opened #82 "Pagination query parameter page throws an error"
Removed filter name from the query parameter by specifying null reference in the config file.

`
'filter' => null,
`

After removing  filter query parameter name from the URL. Now it throws throws an error  when i use the pagination query parameter page **Given filter(s) `page` are not allowed.**

**Query:**
`
$users = QueryBuilder::for(User::class)->allowedFilters(Filter::custom('role', UserRole:

[2018-07-17 08:36] gizburdt opened #83 "Using in combination with nicolaslopezj/searchable"
Hi,

I'm using this package (https://github.com/nicolaslopezj/searchable) to search for students (Student model) within the QueryBuilder package. I have a custom filter named "SearchesStudents". Within the __invoke method I have this:

[code]

When I dump this, I get an Builder object. And when I dump this with ->toSql(), I get this:

[code]

But when I dump the QueryBuilder in my controller, I st

[2018-07-17 08:42] gizburdt commented on #83
Found it, had to set the Query on the $query variable:

[code]

[2018-07-17 08:42] #83 closed

[2018-07-18 02:28] ziming opened #84 "Possible to filter by not equal?"
Is it possible to filter by not equal?

For example

/users?filter[parent_id]!=null

or

/users?filter[role]!=admin

[2018-07-19 16:34] freekmurze commented on #84
That currently isn't possible and I believe it will be kinda hard to make that proposed syntax work. It would probably be easier to create a [custom filter](https://github.com/spatie/laravel-query-builder#custom-filters) to filter by not equal.

[2018-07-19 16:34] #84 closed

[2018-07-20 11:37] AlexVanderbist commented on #81
Hi! The problem with the fields and sort url parameters is that we don't know what fields are available to sort/include. An `allowedFields` method would solve both of these issues, feel free to send a non-breaking and tested PR :) Thanks

[2018-07-20 16:50] siarheipashkevich opened #85 "Skip exceptions"
Hello, are there any ability to skip exceptions and do silent query?

[2018-07-20 18:44] bachilli opened #86 "Helper to fill filters in html forms"
Hi! Any helper to fill the active filters in html?

Thanks!

[2018-07-22 13:21] DJafari opened #87 "laravel queryBuilder->withCount"
if i want get relationship count only (`builder->withCount('childs')`) how can do it ?

[2018-07-23 07:13] pactode commented on #87
You can chain the method to the `QueryBuilder` like this:

[code]

[2018-07-23 09:00] DJafari commented on #87
my bad, thanks

[2018-07-23 09:00] #87 closed

[2018-07-23 13:04] freekmurze commented on #85
There is no such option. You could always wrap your code in a try/catch block.

[2018-07-23 13:04] #85 closed

[2018-07-24 18:22] Tarasovych commented on #53
@brunen9 I need specific column for related model. I don't need specific columns for the model whose class is used for `QueryBuilder::for()` argument.

[2018-07-24 22:57] DJafari opened #88 "filter not worked when value is empty"
i want define a filter

when value is empty ( `?filter[parent_id]=` ) must be :

[code]

[code]

when value not empty ( `?filter[parent_id]=1` ) :

[code]

[code]

but in your library when value is empty, custom filters not called! how can solve it ?

[2018-07-24 23:04] robsontenorio commented on #88
What URL does it build with this?

[code]

[2018-07-24 23:06] DJafari commented on #88
@robsontenorio

currently because `filter[parent_id]=` is empty, in `request->filters()` skipped, but i want get null parent_id from database

[2018-07-24 23:20] DJafari commented on #88
i found a trick for that:

JavaScript:
[code]

laravel:
[code]

this is a trick, but i think you must add filters reverse, if i add `parent_id` as `allowedFilters` for example ( `Filter:scope('parent_id')` ) you must add it event value is empty

[2018-07-26 04:51] freekmurze commented on #86
I don't understand the question. Open up a new issue with a little bit more detail.

[2018-07-26 04:51] #86 closed

[2018-07-27 08:04] matthias-schmitt commented on #36
Hello @ all

First of all thanks for the great package!

Could someone please explain how to achieve sorting and filtering on related models?
Cannot find anything related in the documentation.

Many thanks,

Matthias

[2018-07-27 10:06] brendt commented on #36
@matthias-schmitt  Here's an example of a project I'm working on right now. There's one thing I should specify, namely that I tend to use classes for different queries, so that they can be re-used and injected where needed. If this is too complicated to your specific case, you can simply fall back to using an inline query builder, and still do the join and order by you'll see in the example.

[cod

[2018-07-27 11:34] matthias-schmitt commented on #36
@brendt Many thanks for helping.

Your code indicates that the relationship is always loaded via the with method, right?
I would like to combine the relationship sorting with the include relationship option.

When I try to load the relationship with the inline solution you showed and sort by a column inside the relation the query tries to sort inside the parent query saying column not found.

[2018-07-27 14:08] brendt commented on #36
You want optional sorts depending on whether a relation is loaded or not? I don't think that's possible as you only know if a relationship is loaded after the query has been executed.

I guess you could check for the query parameter in the controller?

[code]

[2018-07-27 14:54] matthias-schmitt commented on #36
Hi @brendt

This does not work for me as the sort command always refers to the parent query.

Example: Companies have users:

[code]

This query is ending in an exception saying there is no column name in the company table.

[2018-07-30 04:08] josegus commented on #36
@brendt

Hi @matthias-schmitt , same issue here, trying to sort by related.column return exception column not found in parent relation. I suggest made and accesor and append to parent relation when needed

[2018-08-02 13:19] mikaeljorhult commented on #36
@AlexVanderbist As @ntzm stated earlier I don't think this is possible without joins as, as you stated, the related models are fetched in another query.

Just started looking into it but could you check for properties containing a `.` and add joins to the query dynamically? I'm doing this right now:

[code]

Not sure if this approach will work all kinds of relationships though...

[2018-08-06 07:07] brendt commented on #36
Full disclosure: I manually define the joins in my project, so it might very well be possible that `with` doesn't work the way I thought it would.

[2018-08-10 16:53] matthias-schmitt commented on #36
@mikaeljorhult @brendt

Thank you - that´s also what I ended up with.

Would be cool to have something similiar to the custom filter classes.

`        ->allowedSorts(Sort::custom('column', SortColumn::class))`

Unfortunatelly I don´t have much time at the moment to prepare a PR or discuss the topic further.

Maybe someone else?

[2018-08-10 18:23] danswiser opened #90 "[Question] throwing exception when no results found."
I have the following code which works perfectly when filtering the collection however it would be really nice to be able to simply throw a model not found exception when there are no results.
[code]
Is there a simple way to throw a `Illuminate\Database\Eloquent\ModelNotFoundException` when no results are found without adding additional code in the controller or extending the QueryBuilder class?

[2018-08-10 19:52] robsontenorio commented on #90
If you are building a API, a empty array as json is the best pratice, when requesting collections.

“Not found” strategy should be for single resources like `/users/99999`

[2018-08-13 07:00] brendt commented on #36
Let's discuss it further. I'm more than willen to submit it PR for this, as I'm doing a lot of manual JOINs at the moment. The solution should be flexible enough though.

From your example, @matthias-schmitt ; I guess `SortColumn::class` is the model class of the relation you're referring to? So it would be something like this?

[code]

Becoming this:

[code]

There's a few places where we should

[2018-08-13 11:22] #90 closed, assigned to nobody

[2018-08-20 10:02] #43 closed

[2018-08-20 12:19] ChrisReid opened #93 "`fields` parameter doesn't play nicely with Laravel Resource by default"
Not an issue with the package as such, but perhaps we should override `Illuminate\Http\Resources\Json\JsonResource` so that when requesting only certain fields, we don't get the stubbed properties with `null` values.

For example, when querying users in my API:

`GET /users?fields[users]=first_name,last_name,id` I don't want all of the none included parameters with a `null` value, but I get this:

[2018-08-22 17:01] rebaz88 opened #94 "[Feature] Adding extra parameters to filter/sort"
In some cases the operator is selected from client. For example, the user wants to list the people who's salary is less than 2500$ or in a different filter request greater than 2500$. So they want to make this operation switch with the client. Would that be possible to add this feature?
something similar to this filter

First request:
['field' => 'salary', 'value' => '2500', 'operator' => 'less th

[2018-08-23 14:58] adaojunior opened #95 "Expose a public "isAppended($field)" method on QueryBuilder."
I believe it would be a good solution for cases such as counting a relationship:

[code]

You may also consider adding `whenAppended($field)`:

[code]

[2018-08-27 12:41] freekmurze commented on #36
Will likely be solved with #91

[2018-08-27 12:41] #36 closed

[2018-08-27 12:42] freekmurze commented on #69
Feel free to subject a PR that fixes this problem. Could you also provide a test?

[2018-08-27 12:44] freekmurze commented on #94
I think you could achieve the desired result by using [a custom filter](https://github.com/spatie/laravel-query-builder#custom-filters). In that filter you could detect the operator given in the request.

[2018-08-27 12:44] #94 closed

[2018-08-28 06:10] ziming commented on #69
The following code previously works but now fails too:

[code]

With an error message like:

[code]

I believe it is related to the issue mr-jingles raised too

[2018-08-29 12:11] fariskarcic opened #96 "Filtering data with relations"
Hey so I have this issue where I cannot figure out how would I get data.

I'm getting filtered list of users which is connected to roles (many to many/ pivot).
So is there possibility to get role names from some query like this
`$users = QueryBuilder::for(User::class)
            ->allowedIncludes('roles')
            ->allowedFilters('name', 'email', 'date_created', 'is_active')
            ->get

[2018-08-29 15:12] fico7489 commented on #36
yeah, you can't order by related table without join tables manually, but if you want to join other tables it is a really awkward and you must be very careful and pay attention to many things. I created a package that solves that problem, you can check my concept, every feedback is welcome :

https://github.com/fico7489/laravel-eloquent-join

[2018-09-01 06:46] freekmurze commented on #96
tack on `->with(['roles'])` to your query so the relation is eager loaded. After that, if you set up your relation right, you can can the `roles` as a property on you user model.

[2018-09-01 06:46] #96 closed

[2018-09-11 06:45] JessJNielsen opened #98 "Usage with Lumen: request()->fields() method is undefined"
I cannot get the `request()->fields()` method used in QueryBuilder.php to work. It appears to be a method instead of a magic field call.

When calling `request()->fields` it works as expected.

I am using Lumen 5.6 and also tested this functionality in a laravel 5.6 installation, with same results.

I use the newest release, 1.10.

[2018-09-12 10:55] mdcass commented on #98
I'm seeing similar in a fresh Laravel 5.6 installation

[code]

[code]

Although inconsistent with another installation of Laravel 5.6 and this package (with `composer update`d). Will explore more

[2018-09-13 13:33] JessJNielsen commented on #98
I made a fork that changed the usage to collection objects rather than undocumented "magic" functionality: https://github.com/JessJNielsen/laravel-query-builder

I think for now it will do.
I must have forgotten to include the service provider.

[2018-09-14 11:40] afraca commented on #69
It doesn't seem to be the case **any** query will be ignored, I just used `QueryBuilder::for(MyModel::whereHas())` and it looked fine.

[2018-09-17 10:00] #58 closed

[2018-09-18 16:52] brentkozjak commented on #93
I have the same issue.  My workaround was to use Laravel's [Conditional Attributes](https://laravel.com/docs/master/eloquent-resources#conditional-attributes)

In your API resources `toArray` method, you can use the `when` method to conditionally add the attribute.  Mine looks something like this:

[code]

The downside to this is that it removes all `null` attributes, even if they are in the `fiel

[2018-09-19 09:50] johannesschobel opened #100 "[Question] Query-Builder and JSON:API Output"
Dear Spatie Team,

thanks a lot for your awesome open-source packages - i really like the effort you put into your work! Keep it up - you're doing great..

This issue is not an issue - it is rather a general question on how to use this package in combination with "following the JSON:API standard" ( http://jsonapi.org/ )

From what I understand, this package (`Laravel-Query-Builder`) is used to aut

[2018-09-20 14:47] VTumanov commented on #93
Same problem! I think it look bad and not useful.

[2018-09-20 15:47] ce-brex commented on #100
This is probably not the best avenue to discuss this, but having just completed a project using Query-Builder and the JSON:API format, I felt obligated to assist.  First off, this article helped me while I was implementing the JSON:API.

https://medium.com/@dinotedesco/using-laravel-5-5-resources-to-create-your-own-json-api-formatted-api-2c6af5e4d0e8

That should get you pointed in the right direc

[2018-09-20 16:05] johannesschobel commented on #100
Hey @ce-brex ,

yeah, i know this article - and that is what really (!) buggles me.. Using `API Resources` requires you to **strictly** implement the JSON:API standard on your `toArray()` method. If you use - for example - the (famous) `Fractal` package, you do not need to "deeply nest" your own data into a `attributes` array, because a `Serializer` does this for you. So the example above would lo

[2018-09-20 16:53] ce-brex commented on #100
Fractal is more of an all-in-one solution though.  Query-Builder is just for building the queries and supports the JSON:API spec as far as query parameters.  From there, it's easy to take the result and use it in an API Resource. I don't see where they advertise the result to be JSON:API compliant by itself.

[2018-09-20 16:56] johannesschobel commented on #100
@ce-brex
quote from the blog article i cited above in my first post of this issue:

[2018-09-20 16:58] ce-brex commented on #100
Yes... the URL parameters, where it gets the information to build the query.

[2018-09-20 18:06] brentkozjak commented on #93
I've solved my issue by comparing the original model attributes and conditionally including them like so:

[code]

It's very ugly, but it does work.

[2018-09-21 06:45] johannesschobel commented on #100
yeah, i know.. But using the `Query-Builder` package here and then trying to use `Api Resources` feels kind of bad, because you need to **manually** build the JSON:API structure (e.g., adding the `attributes` "level" and manually maintaining the `type` and so on). Furthermore, you are "bound" to one specific structure that is "hard-coded" by you - you cannot easily switch the format based on clien

[2018-09-23 12:09] freekmurze commented on #100
Building up responses is out of scope for this package. We only intend to build up the right query here. It feels like issue discussed should be submitted to Laravel itself.

[2018-09-23 12:09] #100 closed

[2018-09-26 04:28] chanjsq opened #101 "Add support to filter by relationships"
Say filter resource A by specify its related resource B's conditions.

[2018-09-26 17:20] yanmarques opened #102 "Nested arrays does not work when filtering"
PHP Version: 7.1.13
Laravel Version: 5.5

My filter seems like this `filter[scope_function][foo][bar]=1`, which should be handled by query builder as a nested array on the query string.
Although, the request fails with this message:
[code]

Taking a look to the source code, when the filter receives a nested array, it should recursively handle and parse the content.
[code]
The code above is inside

[2018-09-27 06:36] freekmurze commented on #102
Could you submit a fully tested PR that fixes this?

[2018-09-27 20:59] yanmarques commented on #102
Thanks for the reply. Sure I can, I will rest some time for this.

[2018-10-01 09:36] paul-crashley commented on #87
Is there a way to do this as an allowed include? Or if not, is there a plan to do this or allow a pull request with such a feature?

[2018-10-01 10:01] #42 closed

[2018-10-02 15:44] #88 closed

[2018-10-02 18:17] #81 closed

[2018-10-02 19:43] Propaganistas opened #104 "Provide possibility to ignore filters on null value"
[code]

Current behavior: searching for models with (partial) name "John" AND an empty email address.
Expected behavior: searching for models with (partial) name "John". Email address doesn't matter since it isn't being filtered.

Or at least some option should be provided to ignore `null`...

[2018-10-03 01:10] michgeek commented on #104
If you don't want to do the manual filtering you can put it in a middleware wherever needed

[code]

[2018-10-03 02:12] michgeek commented on #104
If you don't want to manually filter everywhere you can put it in a middleware. Since filters are only 1 level deep you can loop on the first level. If you need to filter more deeply see the second solution

Solution 1: only first level

[code]

Solution 2: deeply nested filters

[code]

[2018-10-03 08:15] hulkur commented on #104
Looked into it. Your option is to extend QueryBuilder and override `addFiltersToQuery` which gets collection and you can call `filter` on it.

[2018-10-03 11:48] Propaganistas commented on #104
This does not elegantly cover the situation where a GET form holds a combination of "ignorable" filters and "always-on".

[2018-10-03 11:52] hulkur commented on #104
Yes. You just have to build your business logic regarding filters into extended class.

[2018-10-03 12:58] michgeek commented on #104
What about a callback that determine if the parameter is optional. Example:

[code]

[2018-10-04 10:07] oanhnn commented on #93
You should try:

[code]

[2018-10-04 15:36] braulioholtz opened #107 "QueryBuilder not working correctly"
I need to select only a few columns from my table, follow the code.

``
return QueryBuilder::for(Ingest::select('id', 'video_id', 'status'))->allowedSorts(['id'])->defaultSort('-id')->jsonPaginate();
``

When I do this, it returns with all the columns and not the three that I specified (Ingest :: select ('id', 'video_id', 'status')) ... is there any way to default to display some columns I to defi

[2018-10-04 16:13] hulkur commented on #107
as it is built you have to specify fields in query and use `allowedFields()` https://github.com/spatie/laravel-query-builder#selecting-specific-columns

but there is a bug in the code: if you specify `allowedFields` but give no fields in query then you get `map() on null` error in `guardAgainstUnknownFields()`

Question to maintainers:
Should allowedFields be applied even if no fields are specifie

[2018-10-04 17:34] SamDevBR commented on #98
The solution provided by @JessJNielsen works for me with Lumen 5.6, great fork bro, thanks, but with Lumen I needed to create a helper function `request`, because the class `QueryBuilder` calls many times the request helper, and Lumen does not provide the helper called `request` to get an instance of the request, to do so I created the helper, would be very nice of you to fix your fork and create

[2018-10-05 09:06] Propaganistas commented on #104
@michgeek That would be a valid solution indeed, and accommodates to my request:

 Perhaps the second parameter could be extend to accept a closure or a castable boolean?

@AlexVanderbist : pinging you into the discussion.

[2018-10-09 14:28] AlexVanderbist commented on #69
Hi! Sorry to keep you waiting for so long. I've just added a test in f9bc6c7 to test this issue and it looks like it's no longer happening in the latest version of the package... Are you still having this issue? If so, feel free to open a new issue and we'll look at it :)

[2018-10-09 14:28] #69 closed

[2018-10-09 14:48] AlexVanderbist commented on #107
Hi @braulioholtz, I've added an extra test for your issue here: c91648f. However I can't seem to replicate your issue. Can you confirm you're still experiencing this issue on the latest version?

@hulkur I can confirm that `map() on null` error. Thanks for reporting this - I'll tag a bugfix in a couple of minutes.

For the default behaviour: `allowedFields` without selecting any fields in the quer

[2018-10-09 17:53] javis opened #111 "ID in included resources are being populated with the pivot table id instead of the actual resource id"
somewhere between version "1.9.0" and latest versions this behavior changed.
In version 1.9.0, if you request a with a included collection of models, the id of these models will be correct, in latest version, it will be filled with the pivot id instead of the original model.

[2018-10-09 17:59] yNaxon opened #112 "allowedIncludes() method returns corrupted data"
In `Spatie\QueryBuilder\QueryBuilder` class, the `allowedIncludes` method returns corrupted data when including a relationship of type `BelongsToMany` - when pivot table has a column named the same as related table.

Given the following database:

[code]

**_(Note that the pivot table has an id column)_**

And the following relationships:

[code]

After allowing inclusion of groups:

[code]

Becau

[2018-10-09 18:05] freekmurze commented on #112
Could you PR a fix with tests for this?

On Tue, 9 Oct 2018 at 19:59, Yonatan Naxon <notifications@github.com> wrote:

--
Freek Van der Herten https://spatie.be +32 495 84 27 91

[2018-10-09 18:51] ce-brex commented on #111
Ran into a similar issue where pivot attributes were now being returned with models which is new.  Look like the `fix fields option (SELECT * FROM table instead of SELECT table.* FROM table)` change in 1.11 causes it.

[2018-10-09 18:56] ce-brex commented on #111
This also causes issues when a model's table and pivot table have fields with the same name and using defaultSort().

In my case, both the model's table and pivot table had `created_at` fields, and I default sort by `-created_at`.  Downgrading to 1.10.4 fixed both issues.

[2018-10-09 19:10] ce-brex commented on #111
Chaining `->select('<table>.*')` on the QueryBuilder solves the issue in the latest version, but seems like more of a workaround to me.

[2018-10-10 14:05] Lelectrolux opened #113 "[Discussion] Use static instead of self return types to keep autocompletion working when extending the class"
It's a comfort things but as I don't think it will break anything, and it's a 2 min fix, I might try. And if there was a real reason, I might learn something.

I extended the `QueryBuilder` to add a `getResponse` method that I can chain. I simplify a bit but my point remains :

[code]

The only issue is that, as all the `defaultSort`, `allowedSorts`, etc. methods are typehinted to return `self` in

[2018-10-12 08:52] mr-jingles commented on #69
I worked around that problem - so currently I am not facing that issue. If it occurs again I might open a new issue. ;) Thanks!

[2018-10-17 00:47] jryd opened #114 "Unable to select specific fields from a related model"
I have a model called `Recipe` which links to a model called `BjcpStyle`.

The relationship looks like this:

[code]

I only want to select `sub_category_id` and `name` from the `BjcpStyle` model.

So I drummed up a query like this; `/recipes?include=bjcp-style&fields[bjcp-style]=sub_category_id,name`

However this returns all fields for the `BjcpStyle` model.

Other URLs I have tried:

* `/recipe

[2018-10-18 22:36] freekmurze commented on #113
Feel free to send a PR to update the docblocks

[2018-10-18 22:36] #113 closed

[2018-10-21 09:41] rainerkent commented on #112
I can PR for this, if @yNaxon doesn't mind.

[2018-10-21 10:47] yNaxon commented on #112
I haven't had the time yet - would be great if you'll PR this!

[2018-10-23 13:27] gizburdt opened #120 "[question] Possible to sort by relation column"
Hi,

Example. User has posts. I would like to sort post by the name of the user.

Is this possible?

Awesome package, I use it in every project! :)

[2018-10-23 16:09] MannikJ opened #121 "Wrong Results When Including hasManyThrough Relation"
### Problem Description
Assume you have three tables/models `A`, `B` and `C`.
On `A` you define a `hasManyThrough` relation like this:
[code]
When you now try to include the `cees` with this package's QueryBuilder, attributes that are present in `B` (intermediate) AND `C` (target) are overwritten by the attributes of the intermediate model `B`.
However, when I manually eager-load the relation by p

[2018-10-25 14:19] thibaultlavoisey opened #122 "Laravel Query Builder with Laravel Translatable?"
Hello 👋

Did you already used Laravel Query Builder with Laravel Translatable (dimsav nor spatie one)?

I made a simple POC today, but it's not working as expected due to relationships nor JSON columns. I tried to override Query Builder class and Translatable trait but there is always a use case that break the code 😅 I'm curious if someone already did something like that?

Bye

[2018-10-25 18:04] kesm0 commented on #93
You can use trait inside your Resource:

App\Traits\ResourceFilterable.php:
[code]
And in your resource, call the function wrapping array.

App\Http\PostResource.php:
[code]

[2018-10-26 06:49] ChrisReid commented on #93
@kesm0 this has the same issue that @brentkozjak mentioned above; if the field is present but has a null value, the key will be stripped out of the response. The revision below (not tested) should do what we're after.

[code]

[2018-10-26 08:19] kesm0 commented on #93
You are right @ChrisReid, API would have to display a requested field even if null.

[2018-10-26 14:45] is-blackhole opened #123 "Possible to add property => real db column resolution?"
Hello!
Great package, thx for your work.
Sometimes filter field name is not the same as actual column name in table, is it possible to add support for filter_name => actual_column mapping?
I did this by overriding Filter class
[code]
Just adding $realProperty  to construcror/static helpers and one line in filter can resolve this :)
Thanks!

[2018-10-29 16:19] AlexVanderbist commented on #112
Fixed in #118

[2018-10-29 16:19] #112 closed

[2018-10-29 16:40] AlexVanderbist commented on #93
Gonna close this one as it's not an issue with this package exactly. It'd be nice to see this fixed in Laravel's `JsonResource` implementation... Either way, looks like that trait provides a pretty good solution for anyone else running into the same problem.

[2018-10-29 16:40] #93 closed

[2018-10-29 16:47] AlexVanderbist commented on #95
That `whenAppended` method looks like a pretty neat solution! Feel free to send a PR including tests for this 👍

[2018-10-29 16:50] AlexVanderbist commented on #98
The fixes in @JessJNielsen's repository look like a pretty good fix. I would merge a PR for this if anyone's up for it.

[2018-10-29 17:00] AlexVanderbist commented on #101
I would merge a tested PR that adds this.

#124 is a pretty good first attempt - however it only works for filters with one level of nesting (e.g. `?filter[address.street_name]` but not `?filter[address.country.name]`).

For anyone needing this now: you can easily accomplish the same behaviour using a [scope filter](https://github.com/spatie/laravel-query-builder#scope-filters) or custom filter.

[2018-10-29 19:47] SamDevBR commented on #101
@AlexVanderbist  actually I was successful using this package in lumen without the fork, I just had to create two helpers (request, config_path) and publish the service provider and the config file, maybe remove these helper dependicies and create functions to do same would be great, the only thing left to do to use this with Lumen would be create the vendor:publish command, because lumen doesn't

[2018-10-29 19:48] SamDevBR commented on #98
@AlexVanderbist actually I was successful using this package in lumen without the fork, I just had to create two helpers (request, config_path) and publish the service provider and the config file, maybe remove these helper dependicies and create functions to do same would be great, the only thing left to do to use this with Lumen would be create the vendor:publish command, because lumen doesn't h

[2018-10-30 09:03] AlexVanderbist commented on #104
Sorry to leave you guys waiting. Here's a couple of thoughts:
- `?filter[name]=` should always be parsed a filter with an empty string as value `''`
- `?filter[name]=null` should probably be parsed as a filter with value `null` (_not_ a string - this is an exception)
- an optional filter should be left out at the front-end - however, I understand that leaving these out at the front-end is not alwa

[2018-10-30 09:05] AlexVanderbist commented on #98
Alright, that's good news! We don't use Lumen ourselves but again, I would happily merge a PR that adds this :)

[2018-10-30 09:05] #98 closed

[2018-10-30 09:12] AlexVanderbist commented on #107
That `map() on null` error was fixed in 08cf95d6778343ac29358ba6e18a1d5817911dff - gonna close this for now.

[2018-10-30 09:12] #107 closed

[2018-10-30 09:15] AlexVanderbist commented on #111
Could this be the same issue as #118? A fix for that one was tagged a couple of minutes ago in 1.11.2. Can you please check if the issue is still there on that version?

[2018-10-30 09:18] AlexVanderbist commented on #114
This might be the same issue as #118. A fix for that was tagged a couple of minutes ago in 1.11.2. Can you check if the issue is still there in that version? Thanks.

[2018-10-30 09:21] AlexVanderbist commented on #120
Hi! Sadly it's not yet possible to sort by a related model... Have a look at #36 and #91.

[2018-10-30 09:21] #120 closed

[2018-10-30 09:32] AlexVanderbist commented on #122
Hi!

You should be able to create a custom filter that can filter JSON fields based on a language given in the query!

POC code:

[code]

[code]

Should allow you to do something like this: `GET /posts?filter[title]=The+English+title&locale=en`.

[2018-10-30 09:32] #122 closed

[2018-10-30 09:34] AlexVanderbist commented on #123
Hi! Sounds like a great idea, I'd merge a PR with tests that adds this to the existing filters in the package! 👍

[2018-10-30 10:02] michgeek commented on #104
I think `?filter[name]=null` should not be parsed as `null`.

There's a legitimate use case and need to be able to do a partial match with someone called `"Nullable"` or `"Nullification"`. the `->default(null)` looks great to me.

[2018-10-30 10:15] jryd commented on #114
@AlexVanderbist yep, this solves my issue!

[2018-10-30 10:15] #114 closed

[2018-10-30 10:19] Propaganistas commented on #104
Agreed.

The `->default(null)` enhancement is viable. I'd name it `->nullable()` or `->ignorable()` though. When `ConvertEmptyStringsToNull` kicks in, the value is already `null`, so now you'd just need to know whether a `null`  filter should be ignored.

Or perhaps `->ignore(null, '-1')` to explicitly specify values that should be ignored.

[2018-10-30 10:31] Propaganistas commented on #104
Made a quick PR.

[2018-10-31 17:08] nivv commented on #88
@AlexVanderbist if you make a request with an empty filter it breaks in my current setup. If the filter is null I want to ignore it.

[code]
A workaround is of course to change my front end to remove the key when the filter isn't used. What do you think?

[2018-11-06 14:28] ce-brex commented on #111
@AlexVanderbist I think that fix may solve this issue as well, I noticed the commit but haven't had time to test it.

[2018-11-09 13:02] javis commented on #111
I will test the new version soon

[2018-11-13 02:05] kastihama opened #127 "Hi"
I am kind of new to Laravel. I want to use this package for my new project which consist of filter search with in relational database. Can you provide demo or tutorial type material? I will be more than thankfull

[2018-11-13 07:57] freekmurze commented on #127
Here's a blogpost by the principal author of the package @AlexVanderbist
https://alexvanderbist.com/posts/2018/builder-apis-with-laravel-query-builder

[2018-11-13 07:57] #127 closed

[2018-11-13 08:12] voeurnchy opened #128 "Selecting specific columns not working because allowedFields not exist"
[code]

- laravel-query-builder v 1.10
- Lumen (5.5.2)

[2018-11-20 19:05] rainerkent opened #130 "Broken morph eager queries"
Hi, this solution seems to break the morph eager queries. As it was before it worked correctly for morph relations!

May be some like this could work:

[code]

Or may be I got it all wrong! :(

_Originally posted by @rusowyler in https://github.com/spatie/laravel-query-builder/pull/118#issuecomment-436054718_

[2018-11-22 11:48] masterix21 opened #132 "Versions 1.11.* ignores distinct from model relationship"
Hi dears,

i have a model with the following relationship:
[code]

If i use the version 1.10.4 distinct works, but with 1.11.* it will be ignored and result contains duplicates.

Any idea to solve?

[2018-11-27 08:18] freekmurze commented on #132
Feel free to PR a fix for this.

[2018-11-27 17:08] twickstrom opened #133 "allowedAppends() is not longer added to the model."
One of my servers had composer update run against it and this package was updated from 1.10.0 to 1.11.x and then to 1.12.x.

1.10.0 had the expected behavior of an allowedAppends being nested within the results. In the later versions, it replaces the results.

UPDATE: I tested with 1.10.4 and it works fine. Something changed going to >1.11.0 the broke this functionality.

Simple example:
(controll

[2018-11-29 12:58] arad0s opened #134 "Included relation name, fields[TYPE] parameter and db table name assumed to be equal"
According to the JSON:API specs, under the Sparse Fieldsets section, "A client MAY request that an endpoint return only specific fields in the response on a per-type basis by including a fields[TYPE] parameter", so the following request should return only the title and body of the articles, and only the name of the included author:
GET /articles?include=**author**&fields[articles]=title,body&field

[2018-11-29 16:08] freekmurze commented on #134
Thanks for the detailed info. Could you PR the above with tests?

[2018-12-07 06:46] Indemnity83 opened #135 "Compatibility with znck/belongs-to-through"
Not sure that this is necessarily a bug, but at the same time I don't know how to work around it.

The [znck/belongs-to-through](/znck/belongs-to-through) package makes use of a temporary select column in the query in order match deeply linked models together.

[code]
[full class here](https://github.com/znck/belongs-to-through/blob/b888044a5a64d2359f6100d1346ea71768b2bab4/src/Relations/BelongsToT

[2018-12-07 20:49] ce-brex commented on #111
This got to retesting this, and it seems my issue is still around.  Pivot table fields are being combined with the main table fields and causing them to be overwritten and/or conflict.

[2018-12-08 14:23] Gaia-Nutrition opened #137 "allowedIncludes alias"
Is there any way I can alias relations within the `allowedIncludes()` function similar to what can already be done with filters?

My problem: I'm using Laravel Nova and need my relations to return all models by default. For my API, I would like to restrict relations. A good example: `/api/category?include=posts` should include only published posts.

Here is the setup:
[code]
[code]
[code]
Now I ne

[2018-12-09 18:49] mokhosh opened #138 "Spatie laravel tags scopes not working"
I'm using this alongside your `Laravel tags` packages. But it doesn't find any models even though they have the tags. Here's my code:

[code]

[2018-12-09 20:45] mokhosh commented on #138
I played around with this and it seems like it's a `laravel-tags` problem, not `query-builder`'s.

https://github.com/spatie/laravel-tags/issues/154

[2018-12-09 20:54] #138 closed

[2018-12-10 21:34] Jarrid opened #139 "Prevent Parsing Of Strings With Commas"
### Short and Sweet Question
I'd like to be able to pass the following as a url:
"http://my.awesomesite/filter[name_contains]=Dent, Harvey"

And have the result be any row whose name contains "Dent, Harvey".
Currently, it returns any row where the name contains "Dent" or "Harvey".

###  Little Longer
This is NOT an issue, but a question.  I understand that the system is working as intended.  But I

[2018-12-11 02:39] Jarrid commented on #139
Hi -
Just in case anyone is looking for the same thing, I have found a solution - but it might not be the most elegant.

First, I created middleware named "BeforeRequestFilter" that checks for the presence of a "filter" variable in the request, and loops through it changing any commas to their html encoded value (%2C), I also changed spaces, while I was at it.  Then I merged that back into the ori

[2018-12-11 02:39] #139 closed

[2018-12-11 09:05] AlexVanderbist commented on #104
Gonna close this for now, we'll continue this discussion in the above PR :) Thanks guys

[2018-12-11 09:05] #104 closed

[2018-12-11 09:18] #123 closed

[2018-12-11 09:37] AlexVanderbist commented on #128
Hi! The option for `allowedFields` was only added in v1.11! This should work when you upgrade to that version.

When using this package together with Lumen you might run into other issues. Please read #98 for the basic solutions.

[2018-12-11 09:37] #128 closed

[2018-12-11 09:46] AlexVanderbist commented on #137
Hi, thanks for the suggestion. I agree that this would be a good addition to the package.

What about something like this?
[code]

[2018-12-11 18:35] dominikb commented on #137
What would be your preferred way to go about alias naming conflicts?
Something like an `AliasNamingConflictException`?

Would we still want to allow for the actual relationship name or only for the alias?

[2018-12-11 18:40] dominikb commented on #134
Would the table != type alias problem be solved with a solution as described in #137?

If so, I'd be down to implement both of those in one PR.

[2018-12-12 07:02] Gaia-Nutrition commented on #137
@AlexVanderbist That setup would be great!

[2018-12-12 11:53] arad0s commented on #134
I'm not quiet sure whether the solution described in #137 will solve the table != type problem.

As for my understanding, if the array given to the allowedIncludes method will be consisted of relation_name => resource_type pairs (e.g. 'author' => 'people') such that the resource_type is used as the value sent to the getFieldsForRelatedType method, the problem I described will be fixed, including t

[2018-12-12 15:26] mokhosh opened #142 "No relations loaded when building query from relation"
When I use this code I get all `categories` that the `user` has subscribed to, with their posts:

[code]
But for some reason when I try to add query builder to this, I only get the categories:

[code]
The strange thing is not only the `posts` relation is not eager loaded, I can't even access it in my blade through `{{ $category->posts }}`.

Any ideas?

[2018-12-14 17:10] dominikb commented on #142
I tried to replicate the described behavior with a fresh install of Laravel, but could not reproduce the issue.

I've uploaded the models used [here.](https://gist.github.com/dominikb/bd05ae21be6e0f45534569ec87e31765)

Can you elaborate in a little more detail?

[2018-12-14 19:31] mokhosh commented on #142
Thanks for taking the time. It should be that simple, shouldn't it? I don't know what I can elaborate more on.
Look at it this way: I'm using the exact same query, in the first attempt I'm simply `get`ing the results which works just fine (returns the categories with posts as expected), and in the second attempt I'm giving the query to `query-builder` but it only returns the categories, and not th

[2018-12-15 02:05] dominikb commented on #142
I will upload the project I was using to re-create the bug tomorrow.

Maybe you can try and find steps to reproduce the bug.

What versions of this package an Laravel are you using?

[2018-12-15 15:08] mokhosh commented on #142
[code]

If this doesn't tell you anything, I will try to reproduce this with the same database but a new laravel installation and get back to you.

[2018-12-19 12:18] keepwn commented on #111
The bug still in 1.12.0，i only can using `QueryBuilder::for($user->posts()->select('posts.*')->getQuery())` to temporary fix it.

[2018-12-30 15:57] Konfuze opened #145 "Exception thrown on using Filter::scope()"
I'm using `"spatie/laravel-query-builder": "^1.12"`

`Argument 1 passed to App\MyModel::scopeSmthBetween() must be an instance of App\Models\Builder, instance of Spatie\QueryBuilder\QueryBuilder given`

Model:
[code]

Controller:
[code]

Request:
`/some/route?filter[smth_between]=1,2`

Looks like [this ticket](https://github.com/spatie/eloquent-sortable/issues/5)

[2019-01-02 13:31] thijsw opened #146 "Add support for Eloquent models in scope using filters"
It would be nice when models are automatically retrieved if they are type-hinted in the scope function.

For a URI like **/filter?[user]=1**, the package would retrieve user with ID = 1 and use the model in calling the scope method. When the model is not found, a 404 can be generated.

In Eloquent model:
[code]

instead of:
[code]

[2019-01-03 11:55] pactode commented on #145
@Konfuze Looks like you forgot to import the `Builder` class:

[code]

[2019-01-03 13:46] Konfuze commented on #145
@pactode, thanks for your response. Unfortunately, I'm getting the same error.

Changed method definition to `public function scopeSmthBetween($query, $from, $to)` — now it works correctly, but [README](https://github.com/spatie/laravel-query-builder/blob/master/README.md#scope-filters) contains info about type-hinting

[2019-01-06 20:11] dominikb commented on #146
I tried to implement this and it was possible without lots of overhead. [See Gist](https://gist.github.com/dominikb/a4340cf33d35bace9e77def9d0e97ee0)

However, I don't know if this would be a case better handled by using a custom filter?

[2019-01-06 21:19] dominikb commented on #132
You could try to use a `groupBy` instead.
[code]

### Possible explanation
I tried to reproduce your case and found, that the method `distinct()` does not take any arguments, but only adds a __distinct__ clause the the __select__ statement and the query becomes `select distinct "tablename".*` See [Laravel API Doc](https://laravel.com/api/5.7/Illuminate/Database/Query/Builder.html#method_distinct).

[2019-01-08 01:21] lukecurtis93 opened #147 "Scout/Scout Extended integration"
Is there currently a way to integrate using Laravel scout or [Scout extended](https://github.com/algolia/scout-extended) in the Query builder?

As these use custom builders I've been unable to get a raw builder for these objects in the query.

If anyone could point me in the right direction that'd be super helpful

[2019-01-08 12:48] MannikJ opened #148 "Avoid To Include Relations That Are Not Explicitly Requested"
### Problem
When using `allowedIncludes` to load the relations together with conditional includes on an eloquent api resource with `whenLoaded`, it might occur that relations are included that are not explicitly requested, because they have been loaded before or implicitly in an accesor function or whatever.

#### How can I make sure that only the relations are included that are actually requested

[2019-01-09 07:09] freekmurze commented on #147
All I can say is that you can just pass a `Builder` instance to the constructor of `QueryBuilder`. Unfortunately I don't know how to get a `Builder` instance out of Scout.

Check the docs of Scout or ask the question on the forum at Laracasts.

[2019-01-09 07:09] #147 closed

[2019-01-09 07:11] freekmurze commented on #145
Looking at your error message I'm thinking the solution proposed by @pactode is the @pactode is the right one. Are you sure you added that import?

[2019-01-09 07:11] #145 closed

[2019-01-09 19:25] jortiz3109 opened #149 "ignore method not found on v1.12.2"
Hi guys!!

We tried to ignore some values using the ignore() method and it throws a not defined error.

[2019-01-09 21:47] dominikb commented on #149
Hi!

Version 1.12.2 does not exist yet. The latest released version as of now is [1.12.0](https://github.com/spatie/laravel-query-builder/tree/1.12.0)

If you want to use the feature for [ignoring values on filters](https://github.com/spatie/laravel-query-builder/tree/master#ignored-values-for-filters) you need the master branch as dependency.

This can be achieved by using `composer require spati

[2019-01-10 11:38] almas1992 commented on #148
Are you sure that resource collection like that

[code]
not like that

[code]

[2019-01-10 16:03] almas1992 commented on #148
This usage is right
[code]

probably you has do like that
[code]
sorry,I really can't express my mean in English freely in-deed 😭

[2019-01-11 07:56] dominikb commented on #148
I see where you are trying to get at.

The easiest implementation would be to with the `QueryBuilder::get($columns = ['*'])` method to filter out keys that are not allowed appends, allowed includes or properties of the model itself.

A change like this requires thorough thinking, as this is likely to introduce implicit breaking changes.

For your use case, you could extend the `QueryBuilder::class

[2019-01-11 21:14] msassa commented on #147
@lukecurtis93 Did you find any way to use this package with Scout?

[2019-01-11 23:52] lukecurtis93 commented on #147
Unfortunately not - I've opened a thread here, https://laracasts.com/discuss/channels/laravel/get-builder-instance-from-laravel-scout and and issue here https://github.com/laravel/scout/issues/343

But nothing yet.

[2019-01-12 22:33] AlexVanderbist commented on #95
We'll continue handling this in the PR 👍

[2019-01-12 22:33] #95 closed

[2019-01-12 22:37] #101 closed

[2019-01-12 23:01] AlexVanderbist commented on #111
Hi guys, can you check if the bug persists in 1.13.0? If it does, please PR a failing test and I'll take a look at it there :) Thanks

[2019-01-12 23:01] #111 closed

[2019-01-12 23:02] AlexVanderbist commented on #130
Feel free to PR a failing test for this one - if not I'll get back to this soon

[2019-01-12 23:05] AlexVanderbist commented on #132
+1 for using `groupBy` in this case. If `distinct` is still an issue in 1.13.0, please feel free to PR a failing test and I'll take a look at it there :) Thanks

[2019-01-12 23:05] #132 closed

[2019-01-12 23:09] AlexVanderbist commented on #133
Hi! Could you test if the issue still persists on 1.13.0? If so, please PR a failing test and I'll take a look at it there. For now I couldn't seem te reproduce this issue...

[2019-01-12 23:09] #133 closed

[2019-01-15 08:13] cioraneanu opened #153 "Boolean type filter ignored in 1.13.0"
After updating to the recent version 1.13.0 I can no longer properly filter using boolean values. For example if I allow this filter:
`Filter::exact('is_visible'),`

This request:
`GET https://...api.../resource?filter[is_visible]=true` -> shows all visible resources

`GET https://...api.../resource?filter[is_visible]=false` -> ignores filter. Shows both visible and non visible

[2019-01-15 09:48] Lydnasty commented on #153
The problem is in Spatie\QueryBuilder\Filter.php line 41
` if (empty($valueToFilter)) {
            return;
        }`
when the value is 0 or false, **_empty()_** returns true, so the filter is not applied.

[2019-01-15 12:51] #153 closed

[2019-01-15 12:51] AlexVanderbist commented on #153
Thanks for reporting this! @dominikb PR'd a good fix that I'll tag as 1.13.1 later today :)

[2019-01-15 15:30] rainerkent commented on #130
I'd also like to share my experience with this bug.

I have these three models:

[code]

Controller:
[code]

Now when I request:
`https://localhost:8000/api/users?include=profile`

I get QueryException:
`SQLSTATE[HY000]: General error: 1 no such table: users (SQL: select "users".* from "admin_profiles" where "admin_profiles"."id" in (1))"`

Including reverse (morphOne) relationship works as expect

[2019-01-15 17:05] elightbo commented on #88
I noticed that if you call

`/api/objects?filter[available]=false`

the filter isn't called at all. Not sure if that's intended. For now I'm formatting my urls like this instead:

`/api/objects?filter[available]=-1`
`/api/objects?filter[available]=1`

[2019-01-15 17:08] elightbo commented on #88
Just noticed my issue was https://github.com/spatie/laravel-query-builder/issues/88

[2019-01-16 09:42] AlexVanderbist commented on #130
Thanks! Gonna merge the PR and provide a fix :)

[2019-01-17 04:26] lukecurtis93 opened #159 "Loading relation restricted by relation value"
Is there a way with this package to achieve something like the following:

[code]
But lets say I want to load only the `images` collection on media (I'm using spatie media library), so i'd use a custom scope, like
[code]

However this will exclude results that don't have an images media collection which is not what i need

What if i want to load all my posts, but only include media that is of the

[2019-01-18 22:08] AlexVanderbist commented on #130
Tagged in 1.13.1

[2019-01-18 22:08] #130 closed

[2019-01-22 20:58] davidhemphill opened #162 "Global Scopes not used on QueryBuilder"
I have a global scope I use for several of my models to scope by a tenant column (`team_id`).  When using `QueryBuilder`, it appears as though these global scopes are discarded. For example:

[code]

If I comment out `Invoice::addGlobalScope(new TeamScope);` my global scope is not applied. I have to manually enable it each time.

This may be related: https://github.com/spatie/laravel-query-builder

[2019-01-23 11:43] dominikb commented on #162
I just tried to reproduce this behavior using the already existing test `public function it_can_query_global_scopes()` and adding scopes after the model was already booted, but was unable to replicate the bug.

Are you adding the global scope within your models `boot` method or elsewhere?
What version are of this package are you using?

[2019-01-27 01:14] CDNRocket opened #163 "Sorting Alias?"
There is a way to use Alias also for sorting? Or this feature is available only for filters?

[2019-01-27 09:34] dominikb commented on #163
This is currently only available for filters.
@AlexVanderbist should alias be available on sorts for consistency?

[2019-01-28 09:04] freekmurze commented on #163
@dominikb Feel free to send a PR with tests for this.

[2019-01-28 09:04] #163 closed

[2019-01-28 16:09] AlexVanderbist commented on #162
Can you show us where you're originally adding the global scope to the `Invoice` model? Is it in the `boot` method or somewhere else?

[2019-01-28 16:14] AlexVanderbist commented on #159
Hi!

For this particular use case I think I would create a new `images` relation on the `Post` model that only loads said `Media` items. Maybe something like this:

[code]

You can then include and request the `images` include from the query builder.

Hopefully this solves your issue?

[2019-01-28 22:48] lukecurtis93 commented on #159
Yeah thanks Alex that's perfect :)

[2019-01-28 22:49] #159 closed

[2019-02-01 05:00] almas1992 opened #165 "Custom sort"
when I use custom sort like that
[code]
the custom sort is not working , but if I use like
[code]
the custom sort is working.

Must I do `allowedSorts` before I do `allowedFilters`?

[2019-02-01 19:50] dominikb commented on #165
Hi almas1992!

Both methods can be used in any order you like and should not interfere with each other.

I tried to replicate the described behavior in a test but was unable to reproduce it.
Have you tried using a non-custom Sort? Maybe this has to do with the query your Custom-Sort is building?

[2019-02-02 10:19] dominikb commented on #165
I'm having a look at this.

I've already implemented a [failing test](https://github.com/dominikb/laravel-query-builder/commit/8e63873379f6f19770dd22c5ee432427d4a27318) for this scenario for everyone to play around with.

[2019-02-02 12:34] dominikb commented on #165
## The Problem
When adding new sorts to a `QueryBuilder` object, it checks if the new sort may be a duplicate and removes  those silently. This happens in `QueryBuilder::parseSorts()`.

When determining if the new Sort is a duplicate in `filterDuplicates($sorts)` the method `getQuery()` gets called. This method was overwritten in order to enable the possibility of default sorts and for allowing al

[2019-02-05 07:52] Nowi5 opened #168 "Filter on nested models?"
Hi,

I hope you are doing find. Just as a question and not a bug:
**How does a filter for a nested model look like?**

E.g. a City belongs to a Country. Of course I can filter['name']=Berlin on the City, but how would I be able to filter on the Country = Germany? The City Table just have a column country_id.
![grafik](https://user-images.githubusercontent.com/27913135/52259502-e6a85680-295d-11e9-9

[2019-02-05 11:36] dominikb commented on #168
Take a look at [RelationFilterTest](https://github.com/spatie/laravel-query-builder/blob/master/tests/RelationFilterTest.php) to see examples on how to query for properties on a relation.

In order to use this, you need to define a [relation](https://laravel.com/docs/5.7/eloquent-relationships) on your `City` model.

[code]

Then you can allow to filter for the name of the country the city belongs

[2019-02-05 14:04] matthew-inamdar opened #169 "Multiple default sorts?"
Although you can provide multiple fields to sort by via the query string:

[code]

It seems as if there is no way to provide multiple fields as the default sort. It only seems to support a single property:

[code]

Can you confirm if this is the case? If so, I'm happy to go and open a PR to add this ability - I just want to check before I spend time doing so!

Cheers,
Matt

[2019-02-06 07:00] dominikb commented on #169
Hi Matt!

You're right on this one. The default sort on the `QueryBuilder` currently takes either a property name that gets converted into a `SortsField` object or an object implementing the `Sort` interface.

Currently, the only way to achieve this behaviour, is to create a specific custom Sort:

[code]

Personally I think it would be great if default sorting would allow for the same syntax as ad

[2019-02-06 20:27] #168 closed

[2019-02-07 10:37] matthew-inamdar commented on #169
Thanks @dominikb - I thought that was the case. I'll get a PR ready over the next few days to add this ability!

[2019-02-07 12:54] crashkonijn opened #170 "Binary gets converted to array"
Hi there,

First of all, thanks for providing this package. It's essential to all of our projects!

Today we ran into a very strange bug where in certain conditions the filter wouldn't work, after some debugging we found that in certain cases a binary could be transformed to an array by [this piece of code](https://github.com/spatie/laravel-query-builder/blob/master/src/QueryBuilderServiceProvider

[2019-02-12 01:17] ce-brex commented on #148
From my understanding, you're saying that a relation might be included for some reason in your logic, but unless it's specified in the `include` query parameter, you don't want it to be included in the response?  If so, QueryBuilder adds some macros to the `Request` class that could be useful for this.

[code]

This isn't tested and may need to be modified to work properly, but the main point is t

[2019-02-12 10:54] MannikJ commented on #148
Thank you @ce-brex and @dominikb. I've deviated a bit from the topic, that's why I didn't answer.
When I get back to refactoring our responses I will keep your hints in mind. I guess there really is nothing new needed in that package.
It's a shame that I have overseen the package comes with various request marcros and actually already wrote my own :confused:

[2019-02-13 10:54] lilisgeorge opened #171 "Unexpected behavior when using getQuery() method to apply filters on a base query that returns a Relation instance instead of Builder"
I have following tables on my database

users (id,name,...)
accounts (id,name,...)
memberships (id,user_id,account_id)
campaigns (id,name,account_id,...)

and I have defined a relation on Users model for returning all campaigns from accounts where the user is member at, like so:

[code]

I then have defined an index method on my controller to return a paginated list of user campaigns, like so:

[c

[2019-02-13 11:07] lilisgeorge commented on #171
Have edited my initial post with the resulting sql statements for each change i made

[2019-02-13 11:12] lilisgeorge commented on #171
Maybe by getting the Builder instance through getQuery(), I am losing any mappings that were initially created and I should bind them back before calling the paginate() method??

[2019-02-15 10:20] AlexVanderbist opened #172 "Add search filter to query multiple columns/related columns from one filter"
Basically this:
[code]

Bonus points for splitting the search query string into multiple parts and searching those as well. E.g. searching for "John Doe Antwerp" should still yield results by splitting the string into "john", "doe" and "antwerp" and searching for these strings independently.

[2019-02-15 18:16] dominikb commented on #172
Would, by the given example, a request like `/users?filter[q]=John+Doe+Antwerp` result in three `where like` clauses (for each space-separated part in the query string) per searchable field?

Or would each space-separated query part be applied to the allowed columns in order?

**1. Case**
[code]

**2. Case**
[code]

[2019-02-15 18:48] dominikb commented on #170
Hey crashkonijn,

thanks for providing feedback.

One solution, as you pointed out, would be to add the dependency and the check you implemented.

Another way I could think of tackling this, without limiting to a specific binary implementation, would be to specify a set of characters (maybe a regex) that gets checked before splitting.
This, however, could still fail its purpose in certain edge cas

[2019-02-21 10:21] denitsa-cm opened #173 "Global scopes not applied"
Perhaps I'm doing something out of the ordinary but I would like to use the Query builder for a single existing model and I notice that the global scopes are not applied (I have a custom global scope and a soft delete).

Example:

[code]

My Publisher extends a Provider model and the scope is defined in the `boot()` of the Publisher like so:

[code]

The same happens if I just use the `Publisher::

[2019-02-25 20:27] Trixpua opened #175 "Select fields in included table problem"
If I make a request and include a relation table and specific to return just some fields, it return empty.

[code]

But if I add the relation id column it returns all fields correct

[code]

Is necessary to add the relation id to this work or I am making something wrong?

[2019-02-27 10:03] taai opened #176 "Laravel 5.8 support"
Yesterday Laravel 5.8 was released. I can't upgrade to newest Laravel version because this package supports Laravel versions up to 5.7.x. 😉

By the way, does anyone know how to tell Composer to ignore version requirements of a specific package? I spent an hour and didn't find how to do it.

[2019-02-27 11:10] matthew-inamdar commented on #176
@taai I don't think you can ignore the package dependencies. you ignore the platform requirements (PHP version, extensions, etc.) with the `--ignore-platform-reqs` flag.

Your options are to:
1. Fork this repo and update the `composer.json` to support `laravel/framework 5.8` (be aware there may be breaking changes)
2. Wait until they release 5.8 support

[2019-02-27 12:54] AlexVanderbist commented on #176
We'll be tagging support for L5.8 in about half an hour :)

[2019-02-27 12:54] #176 closed

[2019-02-27 16:13] footballencarta opened #178 "Descending default sort no longer works"
With the release of 1.14.0 - the ability to set default sorts to descending no longer works.

For example:

**1.13.2**

[code]

Results in:

`select * from "users" order by "name" desc, "name" desc`

**1.14.0**

[code]
Results in:

`select * from "users" order by "-name" desc, "-name" desc`

The value being passed into default sorts no longer seems to parse the descending modifier correctly.

[2019-02-27 16:15] footballencarta opened #179 "Default sorts add sort twice when using toSql"
When using the toSql method - the defaultSort method adds the sort twice.

This is due to the toSql method calling back to the QueryBuilder getQuery method which seems to add the sorts again.

[2019-02-28 09:53] AlexVanderbist commented on #178
Thanks! The fix is merged and a version tagged 👍

[2019-02-28 09:53] #178 closed

[2019-02-28 20:13] axelitus commented on #172
I was just looking into a search capability in this package (I was already starting to have fun with the code). I was thinking more like introducing a new query keyword and specific classes because as I see it, although certainly similar, `filter !== search`. In the first case, we are _narrowing down_ a resultset, whereas in the latter case we are in some way _expanding_ it (as a matter of speech)

[2019-03-01 04:22] duongtdvn commented on #178
I have upgraded to the latest version 1.15.2 and the bug still remain 🙁.

[2019-03-01 14:38] matthew-inamdar commented on #169
There's now a PR open to add this functionality.

[2019-03-01 19:38] dominikb commented on #178
I'm unable to reproduce the original bug with not removing the leading dash (order by "-name" desc").

Are you actually referring to the order clause being added twice? This I can reproduce on 1.15.2 and I've already found the cause, but am still fiddling with a proper solution.

[2019-03-02 23:12] llstarscreamll commented on #172
@axelitus that would be awesome!! Are there any progress on this proposal?

[2019-03-03 00:21] axelitus commented on #172
Hey @llstarscreamll. I think it would be powerful. The use case I want to tackle is a server-side processing VueJS debatable that would search on specific model properties.

There is no real progress as of today. I came with the idea just on friday and started digging inside the code to see how best to add this.

I wanted to define the queystring syntax first to see what needs to be done to parse

[2019-03-06 09:56] #169 closed

[2019-03-06 17:35] martinandersen3d opened #216 "Validation?"
Hi, do I need to validate the incoming get request, and if so, how? :-)

Thanks.

![image](https://user-images.githubusercontent.com/19984581/53901140-7c5b0280-403e-11e9-87b5-d89ef5b97c39.png)

[2019-03-06 23:35] thebrubaker commented on #175
Yes if you do not include the foreign keys for how two tables are joined, then eloquent can't load that relationship, so I imagine you must include those fields necessary for joining two relations.

[2019-03-07 15:16] Rezrazi opened #217 "When defaultSort is set, any sort aliasing doesn't work"
**Environment**

| Type | Version |
| ------------- | ------------- |
| Laravel  | 5.8.3 |
| PHP  | 7.2 |
| MySQL | 5.7 |
| Package version | 1.16.0 |

**Issue**
Having a `defaultSort()` set, when trying to add aliasing with `Sort::field()`, it throws an error :
[code]

**Steps to reproduce**
1. Install package, no configuration change
2.
[code]
3. Request
`/users?sort=joined`

***Note***
It works

[2019-03-07 21:39] falvarezh90 opened #218 "Default Sort not working with specific filter"
Hi, I have a problem with default sort when add a specific filter in the query. For example, when I use default sort in a simple query like `api/sl_customer`, the data is fetched normally, but when i want to add a filter in my query (normal filter, not custom filter) `api/sl_customer?filter[rut]=76430498-5` I get  Exception below :

`
{
    "error":"Call to a member function sort() on null",
    "

[2019-03-09 08:12] VinceG commented on #217
Having the same issue.

[2019-03-10 09:56] dominikb commented on #217
In short, the problem lies within sorts being parsed multiple times.

By default, all sort clauses are allowed and when adding a default sort before allowing a specific sort, it adds the `order by joined asc` part to the query.
When trying to add the allowed sort with the given alias afterward, it gets filtered out as a duplicate condition.

PR #215 solves this issue, as well as the issue of claus

[2019-03-10 12:56] dominikb commented on #216
Generally speaking, you do not have to validate the input as the input will be sanitized by the underlying ORM (Eloquent) which uses [PDO prepared statements](http://php.net/manual/de/pdo.prepared-statements.php) under the hood.

Nevertheless, SQL-Injection is a quite complex topic and I would advise you to do some further reading related to this topic. You can find a good write-up [here](https://

[2019-03-10 13:21] martinandersen3d commented on #216
Thank you so much for the reply.

I'm know that Eloquent is sanitizing before it insert it to the database.

My suspicion & concern is this scenario:

1. User fill out form > user send request (laravel-query-builder)
2. the users inputs does not get through Validation (app/Http/Requests/Person.php) like a normal Post request is... and handled by the FormRequest*
3. And the data is then available i

[2019-03-10 13:25] dominikb commented on #218
I've done some digging, but it's hard to debug with this little information.

Can you specify what version you are using (I'm assuming 1.13.0 ?) and how your `QueryBuilder` gets built?

If my assumption is correct and you are using 1.13.0, please try switching to a newer version and see if your problem persists.

[2019-03-10 13:44] dominikb commented on #216
You should still be able to type-hint the FormRequest within your controller action to automatically apply validation before building the `QueryBuilder` instance.

[code]

If for any reason you need to validate the data manually or want to apply additional rules, you can manually create a `Validator` for this request.

[code]

[2019-03-11 08:43] AlexVanderbist commented on #170
Hi! I'm afraid I agree with @dominikb - this is too much of an edge case to include a new dependency. Adding the uuid dependency wont fix all problems with binary strings as filters either... In this case I think overwriting the filters macro is probably the best solution.

Feel free to PR an update to the `filters` macro if there's a good way to detect binary data (as opposed to random characters

[2019-03-11 08:43] #170 closed

[2019-03-11 16:05] ce-brex commented on #175
While you do need to include the foreign keys so eloquent can load it properly, this really seems like unnecessary information to have to pass.  Seems like query builder should be able to figure this out on it's own and add it when needed.

[2019-03-14 22:34] falvarezh90 commented on #218
You was right, my version was 1.13.0, after update to newer version the problem has  gone, thanks!

[2019-03-14 22:34] #218 closed

[2019-03-18 09:42] garlian commented on #172
This feature would be such a painkiller 👍

[2019-03-19 16:48] axelitus commented on #172
Hi everyone, sorry for the delay but these weeks have been really complicated for me. I have officially started to tackle this... expect a PR soon...

[2019-03-21 02:37] staudenmeir commented on #135
I'm the new maintainer of the `belongs-to-through` package.

What does your request look like?

[2019-03-21 13:47] jcharcosset opened #224 "Use filter with Lumen"
PHP version : 7.3.2
Lumen : 5.8.2
Laravel-query-builder : 1.17.0

Requesting relations work correctly but filtering and sorting doesn't work.
I use config default file.
I use lumen with Eloquent.
I add request helper in helpers file.

My model :
[code]

In my controller :
[code]

And result :
[code]

My other case, from controller :
[code]

Result :
[code]

[2019-03-21 16:06] jcharcosset commented on #224
It's ok.

I added to `bootstrap/app.php` :
[code]

And copy config file :
[code]

Sorry for inconvenience

[2019-03-21 16:06] #224 closed

[2019-03-22 20:36] nickescobedo commented on #104
The ability to set a default would be great if nothing is passed in.

[2019-03-26 09:43] njxqlus opened #226 "Boolean type nested filter"
I have 3 object, where nested object attribute `approval.approved` is boolean and have values:
* approval.approved = true
* approval.approved = false
* approval = null

When I request `/flights?include=approval&filter[approval.approved]=true` there only 1 object return where `approval.approved` = true  and it's right.

When I request `/flights?include=approval&filter[approval.approved]=false` ther

[2019-03-26 12:26] njxqlus commented on #165
Same problem here, but adding sort to first line not work for me
[code]
return $query->leftJoin('approvals', 'flights.approval_id', '=', 'approvals.id')
            ->orderBy('approval.approved', $descending ? 'desc' : 'asc');```

And error
[code]

[2019-03-26 22:47] chrismpettyjohn opened #227 "Add support to filter by attributes"
As of right now when trying to filter by an attribute, it will always try doing it by SQL column

[2019-03-27 08:57] rogervila commented on #227
+1

[2019-03-30 16:45] ndrkltsk commented on #147
Had the same issue, solved it in this way:

Get the ids of the models that satisfies the research:
``` $models = Model::search(request()->q)->get()->pluck('id') ```

and concatenate a whereIn to the QueryBuilder chain:
```QueryBuilder::for(Model::class)->whereIn('id', $models)```

It's a bit ugly but works, and the performance is ok

[2019-04-02 15:20] r-nicol commented on #226
I have just been able to replicate this too. I used `DB::enableQueryLog();` and `$dump = DB::getQueryLog();` to get the actually SQL and bindings and then ran this in MySQL. Basically Laravel is passing your filter in as a string to MySQL. MySQL then casts these strings to boolean for the comparison. [See here for some explanation](https://stackoverflow.com/a/22080540/3985886). So the results you

[2019-04-02 20:57] MateusFGoncalves commented on #13
Any personal news? I have the same problem

[2019-04-03 05:32] dominikb commented on #13
What version of this package are you using in your project? In newer versions, there are tests implemented to cover this issue.

If you are using an older version, can you update it and try to reproduce your issue?

[2019-04-04 09:34] AlexanderLindkjaer opened #229 "Filter on multiple string values containing commas"
I have a big database with cars where I want to be able to do exact filtering on multiple model names. I do not have control over the formatting of these names. Some model names contains commas:
"911 RS 2, 2.7 lightweight", "911R", "550 Spyder"

Filtering on the multiple modal names by comma separation works as expected.
https://car-api/cars?filter[model]=911R%2C550%20Spyder -> "911R","550 Spyder"

[2019-04-04 18:42] francoism90 commented on #217
Confirm the same issue, any update on possible merge/fix? :)

[2019-04-08 02:40] Yangwendaxia opened #230 "why deprecate Laravel 5.5 support"
For the sake of safety and stability, the latest Laravel LTS version will be the first priority in business production . I think it is unwise to depriciate Laravel 5.5 support , it also means a potential risk for those developers who have applied this package in project with Laravel 5.5 already.  Is there any unavoidable reason ?

[2019-04-08 03:23] springjk commented on #230
https://semver.org/

Deprecate lTS version is not a good idea, and you should change the X version even if you want to do this, now user use it  must lock the version to `1.16.0`,  this does not respect SemVer.

[2019-04-08 07:59] freekmurze commented on #230
We don't use L5.5 anymore, so it makes no sense for us to invest time in this anymore. I don't really care about LTS. If you're stuck on an older version of Laravel use an older version of the package.

Removing support for an older version of a dependency is not a breaking change because the public API was not changed.

[2019-04-08 07:59] #230 closed

[2019-04-09 21:29] abishekrsrikaanth opened #235 "Getting error on the latest update"
@AlexVanderbist I just took and update of the latest version and I am getting an error on line https://github.com/spatie/laravel-query-builder/commit/3aa483b63c79d9fabcb8653fe837a7736eb93bea#diff-3591cf5c140b20d1bf5fa38e063bfdf7L84

Error `Method Spatie\QueryBuilder\QueryBuilderRequest::sort does not exist.`

[2019-04-09 23:59] andisis opened #236 "Getting error on Lumen"
Laravel-query-builder :  1.17
Lumen : 5.7

Request `fields, include, and filter` work perfectly but if I try combine `include, fields, filter` got error 400

`GET /notes?include=user&fields[notes]=title` Error 400 `Array to string conversion`
`GET /notes?include=user&filter[author_id]=100` Error 400 `Array to string conversion`
`GET /notes?fields[notes]=title,author_id&filter[author_id]=100` Error

[2019-04-10 04:22] andisis commented on #236
I try to re-install and now work perfectly.
Sorry for inconvenience

[2019-04-10 11:04] abishekrsrikaanth commented on #236
@andisis, have you added `$app->configure('query-builder');` to your `bootstrap/app.php`. It looks like the config values aren't loading. I hope that helps.

[2019-04-10 11:12] andisis commented on #236
I'm already added `$app->configure('query-builder');` to `bootstrap/app.php`
This is my bad, I deleted `append => append` on `config/query-builder.php` and it made an error.
I put back append on config and now working perfectly.

[2019-04-10 11:12] #236 closed

[2019-04-10 12:52] Lydnasty commented on #235
https://github.com/spatie/laravel-query-builder/issues/224#issuecomment-475294329

[2019-04-10 15:20] abishekrsrikaanth commented on #235
@Lydnasty already have that. The issues seems to be the fact that the method `sort` was removed from the class `QueryBuilderRequest` but is being called on the line I linked on my initial post.

[2019-04-10 22:08] jayjfletcher commented on #235
I'm having the same issue, failing on the sort

[2019-04-11 02:43] lionslair opened #239 "Sort Aliases should be excluded from new validation"
With the latest update 1.17.1 to prevent the SQL injection attack.
Ref https://murze.be/an-important-security-release-for-laravel-query-builder
Ref https://github.com/spatie/laravel-query-builder/commit/3aa483b63c79d9fabcb8653fe837a7736eb93bea

I fully agree. No issue with this. My issue is that the new VALID_COLUMN_NAME_REGEX

` private const VALID_COLUMN_NAME_REGEX = "/^(?![0-9])[A-Za-z0-9_-]*$/

[2019-04-11 23:51] Trixpua commented on #175
The documention says I don't need it:

But it dosen't work as example, need to add the 'author_id' and 'name' to work properly
`GET /posts?include=author&fields[author]=author_id,name`

I am newbie in laravel, sorry if I am talking bullshit,  but as @ce-brex said, I think query builder should be able to figure out the relations keys without need to declare it in each request.

[2019-04-12 13:36] AlexVanderbist commented on #239
You are right! I'll update this soon

[2019-04-12 13:44] AlexVanderbist commented on #235
A fix by @jayjfletcher was just merged and will be tagged soon

[2019-04-12 13:44] #235 closed

[2019-04-12 14:22] #239 closed

[2019-04-12 16:40] AlexVanderbist commented on #165
Hi, sorry I've left this for so long! I've added the failing tests to the master branch and will take a look a the proposed fix asap (probably Monday, maybe this weekend). Thanks for the effort so far!

[2019-04-13 17:10] francoism90 opened #243 "withAnyTagsOfAnyType not filtering on multiple values"
Take the following example:
[code]

It should return two models: 1 (tagged Drama & Horror) and 3 (tagged Docu), however it only returns the one as given in as first value (1). Using Docu would return 3.

Is this normal? Should this be converted into an array or something else I should do?

Thanks!

PS. I'm using the latest `laravel-tags`

[2019-04-13 17:43] francoism90 commented on #243
I've solved this by using a custom filter:
[code]

[code]

Is this a bug in the scope? Or something I should have done in the first place? :)

[2019-04-14 16:09] leeovery commented on #243
I noticed this too. It's actually an issue with the tag package and not this package.

That scope results in pulling the first tag from the DB to search against. It needs a little tweak to pull them all.

https://github.com/spatie/laravel-tags/blob/a55e1ae6212e1c014aa809e67b15d26ff4e3e826/src/Tag.php#L79

Rather than using `->first()` it should probably pull an array. Not dug into it. I ended up u

[2019-04-14 16:10] leeovery commented on #217
Seeing same

[2019-04-14 17:45] francoism90 commented on #243
@leeovery I'll keep using the filter/sorters when needed. :)

Thanks for looking into the issue, hopefully it will be fixed any time soon.

[2019-04-14 17:45] #243 closed

[2019-04-15 08:29] AlexVanderbist opened #244 "Next major release - Features/Requests for v2"
As there's a couple of breaking changes lined up for v2 of the package we might as well open up discussion about any other breaking changes we'd like to see.

This is what we've got so far:

- [x] remove request macros
- [x] add a couple of useful helpers to `QueryBuilderRequest` (see #148)
- [x] allowed sorts need to be explicitly defined
- [x] allowed fields need to be explicitly defined
- [x] ~

[2019-04-15 10:00] #134 closed

[2019-04-15 10:01] #137 closed

[2019-04-15 10:58] AlexVanderbist commented on #137
Damnit bot - we'll continue this issue in the PR

[2019-04-16 00:00] CsFender commented on #165
+ If I set up reverse sorting, the "include" method doesn't working for me. :(
Thanks a lot!

[2019-04-16 04:13] dominikb commented on #165
I've quickly put a test together but was unable to reproduce the described issue. Can you provide additional information or code snippets?

Here's the test I assembled for this case:
[code]

[2019-04-16 07:08] CsFender commented on #165
Hi, sorry! Our implementation was wrong. :(
Have a nice day!

[2019-04-16 10:00] #142 closed

[2019-04-16 12:14] pcieslaczyk opened #245 "overwrite filters"
Hi i have problem with overwrite filters in project
In Class OrderRepository i have constructor with query builder

OrderRepository :
[code]
then i injects it in OrderItemRepository Class

OrderItemRepository :
[code]
finally result is that in  OrderItemRepository class
$this->orderItem->allowedFilters  have values ​​from OrderRepository.
And end with error

[2019-04-16 15:03] #217 closed

[2019-04-16 15:18] AlexVanderbist commented on #245
Hi,

The query builder package is meant to respond to an HTTP request. This means that if your request contains a `driver_id` filter, _all_ query builders will try to filter by `driver_id`. This is okay for your `OrderItem` model, but obviously not for your `Order` model.
So in short; don't use two different query builders for the same request.

What are you trying to achieve in your example?

[2019-04-16 15:21] AlexVanderbist commented on #135
I'm not sure but I think this has since been fixed.

Feel free to open a new issue or a PR with a failing test if you're still experiencing this issue.

[2019-04-16 15:21] #135 closed

[2019-04-16 15:24] AlexVanderbist commented on #146
I think one of my colleagues (@rubenvanassche) implemented this in a client project as well. I'm not sure what his final thoughts were but I'll discuss this with him tomorrow.

Either way, I wouldn't mind having this in a new, custom filter.

[2019-04-16 15:34] AlexVanderbist commented on #148
To get back to your original issue: I agree that if an include is not explicitly selected it shouldn't be included in the response. However, the query builder only deals with... building queries - not how the data is returned to the API consumer.

As a solution, I usually go for something like @ce-brex' last comment.
Just a quick reminder, in v2 of the package these request macros will be replaced

[2019-04-16 15:34] #148 closed

[2019-04-16 15:36] AlexVanderbist commented on #165
Cool! The main issue should be fixed as of v1.17.3. If you're still experiencing the problem, feel free to open a new issue :)

[2019-04-16 15:36] #165 closed

[2019-04-16 16:02] pcieslaczyk commented on #245
I have repositories class each class have methods like index, store , update etc.Each methods like index which return collection need query builder. So i put query builder in constructor  to not copy and past it all methods.Class OrderItem needs methods from Class Order so  I inject it in constructor and  here comes the problem Order Class overwrite my query builder instance in OrderItem Class.

I

[2019-04-16 16:05] AlexVanderbist commented on #175
Ironically, I have never tested the examples 🙈- I'll update the readme.

I agree. However, we haven't figured out a good solution yet that works for all Eloquent relationships... Feel free to PR any idea that you guys might have. In the meantime I'll leave this issue open

[2019-04-16 16:09] AlexVanderbist commented on #179
Thanks for reporting this! This was fixed in #219 and tagged in 1.17.3.

[2019-04-16 16:09] #179 closed

[2019-04-16 16:21] AlexVanderbist commented on #216
For your search endpoint, you don't need any other validation. All get parameters will be sanitized by the query builder or underlying ORM.

For the update endpoint: as @dominikb said, you can (and should) still use the `App\Http\Request\Person` FormRequest validation to validate incoming data, even in combination with the query builder.

On a side-note: when updating or creating entities, I would

[2019-04-16 16:21] #216 closed

[2019-04-16 16:36] AlexVanderbist commented on #229
Interesting problem! I think the nicest solution would probably be to allow a different delimiter to be configured. In that case you could do something like this:

[code]

Alternatively we could make the delimiter configurable per filter - but that might overcomplicate things...

What do you think?

[2019-04-16 16:41] AlexVanderbist commented on #227
Thanks for the suggestion, do you guys mean [accessors and mutators](https://laravel.com/docs/master/eloquent-mutators#accessors-and-mutators)?

I'm afraid we won't be able to make that work. The query builder only handles creating eloquent (sql) queries. We can't actually filter data _after_ it's been retrieved.

If I misunderstood, feel free to open a new issue 👍

[2019-04-16 16:41] #227 closed

[2019-04-17 05:57] dominikb commented on #245
In your code example, you use a single variable for two different types of data:

[code]

Maybe you could use a different variable like ```$orderItemQuery``` to distinguish between the injected instance and the actual query?

[2019-04-17 07:49] pcieslaczyk commented on #245
could you write an short example of how you would see? it because I do not understand.
thanks you in advance

[2019-04-18 08:42] AlexVanderbist commented on #245
I'm still not sure what you're trying to do... Can you move creating the query builder to the index methods? That way they wont be instantiated when `__construct` is called. You can move the allowed includes and filters to properties on the class. Something like this:

[code]

[2019-04-18 14:45] AleSpreafico opened #250 "[Question] dynamic query"
I think its going to be a stupid question...
But How can I dynamically filter on multiples fields?
ex
`mysite.test/api/users?filter[name]=foo&filter[email]=foo`

on `key-up` I run an `axios` get request that is going to return names containing `foo` and email containg `foo` and doesn't give me empty query if no emails contains `foo`...

Any Idea how to achieve this?

I hope I got my point clear.

[2019-04-18 21:33] pcieslaczyk commented on #245
That's what i tried to avoid to not copy and past that part
 ` return QueryBuilder::for(OrderItem::class)
            ->where('order_id', $this->order->id)
            ->allowedFilters($this->filters)
            ->allowedIncludes($this->includes);`
but its ok :)
Thx for help and sorry for trouble

[2019-04-19 10:29] baltun opened #252 "Return related model data in foreign key field"
I'd like to have an ability to return data from related table as attributes of field which contains foreign key.
User table:
id
name

Posts table:
id
user_id
text

Relation in Posts to User named posts_user.

I want to get Post with it's User.

Now if I will ask for: /api/post/somepost/?include=posts_user
I will get
post:[
  {id:<postId>,
   user_id:<user_id>
   text:<text>
   post_user:<object_wi

[2019-04-19 15:53] dominikb commented on #252
You could use a combination of this package to specify the query and [Eloquent API Resources](https://laravel.com/docs/5.8/eloquent-resources) to format it however you want before returning it to the user.

I don't think there is a clean way without messing with the data after it got returned from the `QueryBuilder`.

[2019-04-19 16:01] dominikb commented on #250
Filters, by default, are chained using and __AND__ clause, which is why you will be returned an empty result if either filter does not return a match.
There is a pull request open (#223) that adds this capability.

In the meantime, you could use a custom filter class like so:
[code]

I hope this helps!

[2019-04-19 16:10] baltun commented on #252
I think that "expand" term and it's functionality is widely used in different APIs so it would be good to have this ability in Query Builder.

API Resources is not about what data to get, but about it's format to send. I don't think it is right way to say what kind of data to get

[2019-04-19 16:17] baltun commented on #252
but unfortunately as I see in `addIncludesToQuery` method, it implements with Eloquent `with` ability which will create new flat attributes, and I don't know another functionality in Eloquent which will give an ability to put it's result to foreignKey field. So it is more Eloquent constraint...

[2019-04-20 12:26] AlexVanderbist commented on #245
I see, sadly we're immediately parsing the given request when calling `allowedFilters` (and thus throwing the `Given filter(s) are not allowed...` exception). Good luck!

[2019-04-20 12:26] #245 closed

[2019-04-20 12:29] AlexVanderbist commented on #250
Or maybe even a custom `SearchUserFilter` to make things really explicit:

[code]

[2019-04-20 12:29] #250 closed

[2019-04-20 12:37] AlexVanderbist commented on #252
I agree, as you said, it's more an eloquent constraint. You could however, like @dominikb suggested, use API resources to format the output data to be formatted as if it's been expanded:

[code]

This will have the user's id the `user_id` property by default. When the user relationship is loaded (using `?include=post_user`), the `user_id` property will contain the user resource (= user object will

[2019-04-22 12:59] viezel commented on #244
Search would be nice https://github.com/spatie/laravel-query-builder/pull/223

[2019-04-23 10:49] AleSpreafico commented on #250
@AlexVanderbist yep Thanks a lot!
It worked... even use some resource collection as written in other issue.... Thanks!

[2019-04-23 20:32] mikemand commented on #244
The ability to sort NULLs either first or last. Right now, if I try to use an `orderByRaw` while using `QueryBuilder` I get the following exception:

[code]

[2019-04-24 14:21] saeidee commented on #111
Still, I am facing the same problem! :(

[2019-04-24 16:26] abishekrsrikaanth opened #255 "include doesn't return a hasMany relation"
I have the following model

[code]

when I use the QueryBuilder, the `variants` include always returns an empty array, but the relation `nutrition_fact` returns correctly.

Here is the code that I am using to retrieve the product.
[code]

When I use Eloquent to retrieve the same data, I get the variants correctly.

[code]

Is this a bug or am I missing something?

[2019-04-24 20:10] rez1dent3 opened #256 "posts?includeCount=comments,links [withCount]"
Hello.

I need to be able to call "withCount" through the library. Do you plan such an opportunity?

PS, I  read https://github.com/spatie/laravel-query-builder/issues/87, but I need optional...

[2019-04-24 20:11] rez1dent3 commented on #244
see https://github.com/spatie/laravel-query-builder/issues/256

[2019-04-24 22:39] #255 closed

[2019-04-25 08:20] AlexVanderbist commented on #256
Definitely an interesting feature - maybe we can implement this through a `?scopes=with-comment-count` parameter that adds a scope to a query? Seems like a more flexible solution.

[2019-04-25 08:42] steffex commented on #244
It would be great to have the possibility to add a default filter with a default value.

Example:

[code]

[2019-04-25 20:15] rez1dent3 commented on #256
@AlexVanderbist it would be great. I'm waiting.

[2019-04-28 23:52] loonpwn commented on #244
This needs to be fixed ASAP please. It breaks displaying anything in random order
`->inRandomOrder()`

[2019-04-29 06:01] dominikb opened #258 "Purging default sorts breaks the use of orderByRaw clauses"
This bug occurs due to the attempt to remove automatically generated sort clauses, that are prohibited once allowed sort clauses are specified.

Currently working on a fix, should be done until Wednesday.

If anybody else encounters this issue, please let me know how you specify your order clauses so I can test more thoroughly.

[2019-04-30 08:55] sdebacker opened #260 "Query Builder ->addSelect() method doesn’t work anymore since v1.17.2"
Hello,

Since version 1.17.2, the `addSelect` method doesn't work anymore, it worked well will version 1.17.1. Here is an example.

URL:
[code]

Method in controller:
[code]

The generated query is:
[code]

With version 1.17.1, the query was:
[code]

[2019-05-04 09:46] scheMeZa commented on #171
I am also experiencing this problem, with a HasManyThrough relationship. Thank you for reporting, it's a difficult one to explain...

[2019-05-09 07:17] ashgibson opened #262 "ability to override isRelationProperty"
I have a QueryBuilder which joins a table which joins another table e.g. Invoices -> Jobs -> Customers and I want to show a list of invoices filtering on the customer. I have tried this in the allowedFilters

`Filter::exact('customer_id','jobs.customer_id');`

Due to the current logic in inRelationProperty it thinks I am trying to load the jobs relation on the invoice object whereas I am actually

[2019-05-13 11:13] matthew-inamdar opened #266 "Raw ordering broken in v1.17.3"
### The breaking change

The following line breaks the ability to have raw ordering as part of the query:

https://github.com/spatie/laravel-query-builder/blob/59d623c8f92d02f40fcd896f398103ebd4de24e6/src/Concerns/SortsQuery.php#L165

### Use case example

This is the specific use case which was working prior to `v1.17.3`:

[code]

### Explanation

This is because it expects each item in the `$que

[2019-05-14 21:26] matthew-inamdar commented on #266
This relates to #258

[2019-05-14 21:30] matthew-inamdar commented on #258
I've just realised I've created a duplicate issue in #266 - but leaving open as it contains a bit more info for a fix.

I'm thinking a simple check for if the order array to see if it contains a `type` key and if the value of that key is `Raw` then ignore it? (See my issue for background info)

Assuming this won't break anything, I'm happy to go ahead and create a PR at some point.

[2019-05-15 20:08] decisive-dev commented on #256
@AlexVanderbist I vote for " includedcount." I think it will be easier. The shell will be, and to create scope for with the Count is not correct.

[2019-05-15 21:10] kadevland opened #268 "Sort::field with filter generate error sql syntax"
I have Product ,Category, and Price table
I have set filter sku name and customer filter to search on Price and Category table.
i define sort ,sku, name and sort alias update => update_at
When i sort on update or -update  without filter no problem
when i sort on -update wiht filter i have error sql :
select .......  where ....... order by update desc ,update_at desc

[2019-05-16 23:48] mikeerickson opened #269 "How to select fields from one table"
I am curious, what would be the correct way of calling return fields from current and one table, like the following SQL query

[code]

[2019-05-19 23:10] barmmie commented on #244
Can we make the `addFiltersToQuery` method on the `FiltersQuery` trait public?
Or perhaps a new method that does the preParsing and then calls `addFiltersToQuery`?

This would allow us to add custom filters without necessarily whitelisting the filters.

I can create a PR for this if you deem it

[2019-05-22 01:05] ashgibson opened #270 "ability to add extra data to custom filters"
Would be good to be able to pass other data into the custom data filter. I've implemented a search feature to search across multiple columns but a bit hacky.

Perhaps allow a 4th parameter with as an $options = []?

Below is an example of a simple keyword search but full text search could be possible as well.

[code]

[2019-05-22 14:09] vijaybajrot opened #271 "Query-Builder not working for Laravel GraphQL(nuwave/lighthouse) package."
Hi,

I am using [nuwave/lighthouse](https://github.com/nuwave/lighthouse) package for GraphQL APIs, and i want to add filters in apis.

My Code is:
[code]

[Lighthouse](https://lighthouse-php.com) package is using [paginate()](https://lighthouse-php.com/3.4/api-reference/directives.html#paginate) function as directive.

[2019-05-22 17:00] dominikb commented on #268
Hi, thanks for opening this issue.

Can you please elaborate in a little more detail and maybe provide a code snippet to reproduce the issue?
I've tried to reproduce it myself, but as also suggested by [this test case](https://github.com/spatie/laravel-query-builder/blob/2144c04bc164068a45a2e5ddaf4b148c94f38b22/tests/QueryBuilderTest.php#L134) everything worked as intended.

Can you try calling `a

[2019-05-22 17:20] ImadSalimi commented on #268
@dominikb but try it in the case where `name` is an alias for the column `username`, for example. Then you would get the SQL error about *name* not being a column

[2019-05-22 17:21] dominikb commented on #270
Hi ashgibson!

You can pass an instance of `Filter::class` directly into the `allowedFilters()` method which would allow for the use of an instantiated class with already set properties.

[code]

To shorten this, you could also use a static method that returns an instance.

[code]

Do you have a use case, that requires the use of dynamic information and could not use an instantiated filter and wha

[2019-05-22 18:03] dominikb commented on #268
Thanks for pointing me in the right direction, I suppose I did not read carefully enough the first time.

I've tracked down the issue and submitted a PR.

Until it gets merged, a workaround can be to specify `allowedSorts()` first in the method-chain on the `QueryBuilder` instance.

[2019-05-22 23:28] ashgibson commented on #270
Thanks for the response. I didn't realise this was possible, but did you mean that you can pass an instance of Filter into Filter::custom() and not allowedFilters()?

I'm not sure if I have implemented it the way you are recommending but this is what I have ended up with which works:

[code]

`Filter::custom('search', SearchableFieldsFilter::searchOn(Contact::$search)),`

[2019-05-23 05:45] loonpwn commented on #258
Any word on this @dominikb?

Without digging too much into the code, could we simply check if the `column` index exists for some sort of hot fix?

[2019-05-23 10:40] ImadSalimi opened #273 "Feature Request: Aliasing selected fields"
So I know the package give the ability to set aliases for some column names when using `sort` or `filter`, but how about when we're selecting using `fields` ? It would make sense to have aliases for them also so that it would make sense for your end users to use the alias you've provided them with in all the operations.

If something like this is achievable with the package and I just haven't seen

[2019-05-25 14:58] mohammad-fouladgar commented on #271
@vijaybajrot  Hi,

The first argument of the `QueryBuilder` must be either a class namespace like this `Post::class` or `Illuminate\Database\Eloquent\Builder` like this :
[code]
Please re-read the [document](https://github.com/spatie/laravel-query-builder#basic-usage).

[2019-05-27 10:48] skyrpex commented on #262
Same here.

[2019-05-28 08:25] chimit opened #274 ""only_trashed" and "with_trashed" scope filters"
I'm trying to move from Fractal to API Resources + Laravel Query Builder and faced some problems with `only_trashed` filter. I'm trying to make my `only_trashed` filter as flexible as possible so in my case the expected behavior is like this:

1. `only_trashed` is `true`. Only trashed items should be returned.
2. `only_trashed` is `false` means "not only trashed". All items should be returned.
3.

[2019-05-29 06:06] chimit commented on #148
I tried to follow @ce-brex logic:

`User` and `Group` has **Many to Many** relationships.

[code]

[code]

[code]

1. `GET /groups/1?include=users,users.groups` returns only a group with users without the second level include.
2. `GET /groups/1?include=users.groups` doesn't display any includes.

Apparently, a `when` condition should be much smarter. It would be great if this package could handle

[2019-05-30 03:18] mikeerickson commented on #269
@freekmurze ping

[2019-06-03 08:24] AlexVanderbist commented on #256
Hi @decisive-dev! I agree on the `?scopes` parameter not being te correct solution. Currently, I feel like a count is probably just another `include`. Everything include ending in `*Count` will just be included as a relationship's count (when whitelisted using `allowedIncludes`). This is something I'd definitely want to include in the next major version so any feedback is greatly appreciated.

[2019-06-03 08:31] AlexVanderbist commented on #258
Thanks for waiting. I've merged @dominikb's PR and will tag it as 1.17.4 in a couple of minutes.

[2019-06-03 08:31] #258 closed

[2019-06-03 08:32] AlexVanderbist commented on #266
Hey @matthew-inamdar, thanks for the in-depth explanation. I've merged the fix PR on the other issue and the problem should be resolved in 1.17.4 (will tag tag in a couple of minutes).

[2019-06-03 08:32] #266 closed

[2019-06-03 08:33] AlexVanderbist commented on #252
Closing this due to ApiResources being a pretty good solution and inactivity.

[2019-06-03 08:33] #252 closed

[2019-06-03 09:01] #260 closed

[2019-06-03 09:03] sdebacker commented on #260
Great. Thank you.

[2019-06-03 09:04] AlexVanderbist commented on #262
Fair point! Feel free to send a PR adding that boolean option. If not, I'll probably include this in the v2 release.

[2019-06-03 09:09] AlexVanderbist commented on #268
Thanks for reporting this & thanks @dominikb for another great PR 👍

Currently merging this and will be tagged as 1.17.4.

[2019-06-03 09:09] #268 closed

[2019-06-03 09:16] AlexVanderbist commented on #269
Probably something like this:

[code]

Would allow for a request query string like this: `GET /users?fields=contacts.id,last_name,etc`.

Hopefully this is what you were looking for?

[2019-06-03 09:22] AlexVanderbist commented on #270
@ashgibson that's it! Feel free to open another issue if you've got any more questions :)

[2019-06-03 09:22] #270 closed

[2019-06-03 09:26] AlexVanderbist commented on #271
I think @vijaybajrot got it right. Not sure what the issue is tho. Can you provide some more information? What error are you getting? What have you tried to debug?

[2019-06-03 09:28] AlexVanderbist commented on #273
Hi, this is indeed still missing from the current package. I'll be adding this in v2 of the package soon!

[2019-06-03 09:36] AlexVanderbist commented on #274
Sounds like you've answered your own question there: seems like Laravel's `onlyTrashed` is interfering with your `onlyTrashed` scope.

As a solution for your problem I'd propose a custom filter (instead of the scope filter). Something like this should do the trick:

[code]

The query implementation looks like this:
[code]
with the following request: `GET /users?filter[only_trashed]=false` (...or t

[2019-06-10 10:54] bsormagec commented on #173
is there any update @freekmurze

[2019-06-11 15:54] AlexVanderbist commented on #173
Hm, that's pretty weird. We've got some passing tests for these global scopes... Can someone PR a failing test for this? That'll make it easier to pin down the problem.

[2019-06-12 08:59] mauxbrewster opened #280 "Select Field from Relation Doesn't Work"
When I try to select particular fields from a relation, I do not see the expected result. What am I doing wrong?

[2019-06-12 09:19] mauxbrewster commented on #280
This is my request:

`http://phoenix.test/api/v1/users?include=client&field[client]=name`

This is my response:

https://pastebin.com/WLC2JHGj

This is my controller method:

https://pastebin.com/fPusSShp

[2019-06-12 09:25] mauxbrewster commented on #280
Never mind. I read the documentation 🤦‍♂

For FYi I changed request to `http://phoenix.test/api/v1/users?include=client&fields[client]=id,name`

[2019-06-12 09:25] #280 closed

[2019-06-12 14:07] ce-brex commented on #171
This was submitted in #111, I don't think it was ever fixed properly.

[2019-06-18 16:58] bpuig opened #281 "Transform relationship"
Hello, I am sure I am doing something really wrong, so here is my issue in hopes you can help me. I'm using this package and also _spatie/fractal_

I have one query builder with an include like this:
[code]

And then in the transformer:
[code]
My main issue is that the transformer part of ` if ($saleHeader->saleLines)` always returns saleLines. How can I check if saleLines is included without call

[2019-06-18 22:27] bkintanar commented on #173
This is also happening to my code.

[2019-06-18 23:38] eComEvo opened #282 "Sort field alias results in unknown column error"
I have the column `visible` and a sort option on my API of `visibility`. So I set my query response to this:
[code]

This causes the following query error:
[code]

This happens when I call this on my api:
[code]

Release v1.16.1

[2019-06-20 08:30] bpuig commented on #281
Ok, I abandoned transformers and started using Resources.

My code is now like this:
[code]

[code]

[2019-06-20 08:30] #281 closed

[2019-06-26 03:18] bwrice opened #300 "Scope filters don't work with custom Builder objects"
Order Model class:

[code]

You can't type-hint OrderBuilder in the scope or use it's custom methods because this package passes a Eloquent/Builder object into the scope methods.

[2019-06-27 06:44] edlouth opened #301 "Config to set custom default FiltersField and SortsField"
Would be useful to have a config option to set the FiltersField and SortsField that are used by default.

Currently I end up with something like
`->allowedFilters(Filter::custom('field1', CustomFiltersField::class), Filter::custom('field2', CustomFiltersField::class), Filter::custom('field3', CustomFiltersField::class))`

I am imagining
[code]

Happy to have a go at a PR if this is an appropriate

[2019-06-28 12:44] lawkunchi opened #302 "How can approach returning how a view is displayed"

[2019-06-28 12:45] #302 closed

[2019-07-03 10:10] MannikJ commented on #148
@chimit @ce-brex @AlexVanderbist
So how is the status on this? The mentioned function `includes` where you can pass a specific relation to check if it should be included does not exists yet, correct? This is actually what I was missing when opening this issue although I was not that clear about it.
And I think it would make sense for this package to offer something like that.

[2019-07-08 08:21] AlexVanderbist commented on #301
Hi!

I'm not sure that I understand what you're looking for. Do you want to apply a bunch of filters to _every_ query by default?

[2019-07-08 08:31] edlouth commented on #301
That was the idea, to be honest using `Filter::custom` for each `allowedFilter` is perfectly workable, so I am not sure there is a need for this.

[2019-07-08 10:36] mavichow commented on #230
I've similar problem due to the reason we're using `v1.13.1` on October CMS with laravel/framework of `v5.5.44`, previously we installed successfully, but right now we couldn't install `v1.13.1` to laravel/framework of `v5.5.44` we're hitting error. Possible allow it to install on older versions?

[2019-07-12 08:56] lilisgeorge commented on #244
I am currently searching for a way to implement filter groups for advanced filter functionality.

An example:

I want all posts with status=x and tag=a,b OR with status=z and tag=c

That could be described as

`GET /posts?filter-group[0][filter][status]=x&filter-group[0][filter][tag]=a,b&filter-group[1][filter][status]=z&filter-group[1][filter][tag]=c&filter-group[1][operator]=or`

Maybe that woul

[2019-07-12 09:58] lilisgeorge commented on #244
Another approach (assuming that filter groups are by definition grouped with an or statement) would be to change the way filter is handled. When a filter is an Object then is a simple filter else if is an array then is an advanced filter

Let me explain with an example.

The below request

`GET /posts?filter[status]=x&filter[tag]=a,b`

is transformed into an object

[code]

While the following req

[2019-07-12 12:48] HuubD opened #303 "One string to filter multiple columns with"
I have a list view with a single text input to filter with. I want to use it to filter the following columns: title, city and zipcode. Is this possible already? If not, will it ever be?

**For example:** /endpoint?filter[title,city,zipcode]=yoursearchqueryhere

Awesome package already but a feature like this would be pretty nice!

[2019-07-12 16:25] freekmurze commented on #303
You could create a custom filter with this behaviour: https://github.com/spatie/laravel-query-builder#filtering

[2019-07-12 16:25] #303 closed

[2019-07-17 21:45] ce-brex commented on #148
@MannikJ The `includes` method is currently a macro on the Request object provided by query builder.

[2019-07-18 11:29] MannikJ commented on #148
Is [that](https://github.com/spatie/laravel-query-builder/blob/master/src/QueryBuilderRequest.php#L16) what you mean?
I now about this function, but I am looking for something more elaborated than just splitting the include parameter, because it doesn't really help at deciding which relations to include and especially which to leave out. There is some more processing needed. Nested includes are ve

[2019-07-19 10:20] piotrgulbis opened #304 "Turn off lower() on filter::partial"
Problem I have is that I am filtering on a TEXT MSSQL field. This does not support lower().

I am not able to change the DB structure.

Is there any way to use filter::partial without it trying to lowercase the text?

[2019-07-19 10:50] piotrgulbis commented on #304
At the moment I'm using filter::scope to do this. If that is the correct way, then please let me know and I will close the issue.

[2019-07-19 13:39] ce-brex commented on #148
I don't see any other way to know what relations were or weren't requested to be included.  Fractal and Query Builder solve different problems.  Query Builder is just a tool to build queries for retrieving data based on request information.  What you do with that data after it has been retrieved is beyond the package's scope.

[2019-07-19 14:00] MannikJ commented on #148
@ce-brex I agree that this feature doesn't necessarily has to be part of this package, nor do I think it's the wrongest place of all.
Fractal in fact is a response formatting framework but it also [parses request parameters](https://github.com/thephpleague/fractal/blob/master/src/Manager.php#L163). Request and response are a tight couple you know? Or at least should be...
In my dreams this stuff w

[2019-07-19 14:20] ce-brex commented on #148
It parses request parameters so that it can aid you with outputting your data, yes.  I can see why they have included that.  It makes no sense for this package to have that capability.  Your comment was that more processing needs to be done to determine if nested relations should be included or not in the response.  I agree, more processing does need to be done, however that processing should not

[2019-07-19 14:50] MannikJ commented on #148
We use fractal and api resources, but each has its drawbacks (as always of course). But generally I prefer native solutions over any other third-party package and least in laravel ecosystem where I know everything is well thought out when it finally finds its way into the framework.
A framework should give you options to solve problems properly without expecting you to reinvent the wheel. Nothing

[2019-07-21 16:54] rpouls commented on #244
Currently in Laravel it is possible to do the following:

[code]

This is currently (as far as I know) not possible in V1 and V2 of _Laravel Query Builder._

### Proposed functionality:

[code]

### Backward compatibility
This has a Backward compatibility break:

Adding multiple includes by an array is not possible.

[code]

This can be solved with ... before the array.

[code]

### Alternatives:

[2019-07-22 07:03] vdbelt commented on #304
There is no planned support for MSSQL, so a custom scope would be the way to go 👍!

[2019-07-22 09:21] AlexVanderbist commented on #304
Or a custom partial filter. You can copy the `FiltersPartial` class to you own codebase (https://github.com/spatie/laravel-query-builder/blob/master/src/Filters/FiltersPartial.php), change it as required and apply is using `$qb->allowedFilters(Filter::custom('text_filter', MyCustomPartialFilter::class))`. More info on custom filters is available here: https://github.com/spatie/laravel-query-builde

[2019-07-22 09:21] #304 closed

[2019-07-28 10:50] AlexVanderbist commented on #301
Yeah, I would propose creating specific query builder classes that extend the QueryBuilder class to be re-used in your application, these query builder classes can then use your default filters:

Something like this:
[code]

You could then re-use this `UsersQuery` class to as a base query builder instance:
[code]

Hopefully this helps you out. Good luck & feel free to open a new issue if you're st

[2019-07-28 10:50] #301 closed

[2019-07-29 00:39] ronssij commented on #96
Getting some issue with relation filtering.

`QueryBuilder::for(User::class)
                    ->with('gallery')
                    ->allowedIncludes('gallery')
                    ->allowedFilters(Filter::exact('collection', 'gallery.collection_name'))
                    ->get();`

On user Model
`public function gallery ()
    {
        return $this->hasMany(Media::class, 'model_id');
    }`

[2019-07-29 23:52] Trixpua commented on #244
This will be great, I was thinking a way to implement something like this to sort the included relations.

->with(['category' => function($query) use ($order) {
    $query->orderBy($order);
}]);

Maybe with a Include::custom() method, similar to the Filter::custom() method;

Sorry if I am saying nonsenses.

[2019-07-30 13:43] backstageel commented on #244
Hability to cache the queries like https://github.com/GeneaLabs/laravel-model-caching since they won't support 3rd party Builders.

[2019-07-30 16:49] cirelramos opened #305 "how use static scope at model"
[code]

[2019-07-31 08:46] AlexVanderbist commented on #305
Isn't that just a query? You could either turn it into a scope or use it as the base query for QB:

Base query solution:
[code]

Or even:

[code]

Good luck and feel free to open a new issue if you're having questions!

[2019-07-31 08:46] #305 closed

[2019-07-31 11:37] AlexVanderbist commented on #244
@lilisgeorge I can see this being useful but we won't be able to get it in the v2 release. If you're still interested in discussing this further, please feel free to copy/paste your comment into a new issue as I'm closing this one. Thanks!

@backstageel I feel like caching model queries is out of scope for this package (we're building queries, not caching eloquent results). However if anything can

[2019-07-31 11:37] #244 closed

[2019-08-01 10:58] hemratna opened #307 "Includes with camelCase gives error."
[code]

The request to `/users?include=campaigns,campaigns.redirectionUrls` will throws `Spatie\QueryBuilder\Exceptions\InvalidIncludeQuery` exception.

The reason behind this is, package convert `campaigns.redirectionUrls` into `campaigns.redirectionurls`.

Currently, I can make this work by making `include` the in lower case like

[code]

Feel free to close the issue if this expected behavior. I

[2019-08-01 12:31] AlexVanderbist commented on #307
I'm not sure why we're converting the include to all lowercase... I think the easiest way to handle this might be to use kebab-case for requested includes, that seems to work.

In v2 of the package we'll convert all requested includes to camelcase automatically.

[2019-08-01 13:14] ChiselspeedTuning opened #308 "Custom filter issue"
Hi, I am having an issue with the custom filter which filters a relationship, the problem I am having is:

For example, you have 2 products that are black but one is a different size.
the filters would be Black,Size1 or Size 2

I am accessing the filter by ?filter[filters]=Black,Size1

but because both products are also black, it is returning both products still even though Size 1 is only assigned

[2019-08-01 14:28] arjanwestdorp opened #309 "Custom sort fails in combination with scope filter"
The custom sort fails when it's used in combination with two scope filters. Not sure if it's really related to the scope filters, but when using exact filters instead it's giving the expected output at least.

Instead of calling the custom sort class the property is used as name to filter on. Somewhere the custom sort seems to be converted to a `SortsField`.

When placing the `allowedSorts` before

[2019-08-01 15:58] ChiselspeedTuning commented on #308
After having a re-read of the docs, it turns out what I was trying to do will not work.

Does anyone know how to make it so on multiple selected filters it queries only if the "product" has both "Black, Size1" and not all products that has filters Black and Size1 assigned?

Really struggling with this

[2019-08-05 10:01] #226 closed

[2019-08-05 13:38] cirelramos opened #312 "how create alias ?"
[code]

[2019-08-05 13:55] #307 closed

[2019-08-05 14:05] AlexVanderbist commented on #308
You were on the right track using a custom filter. You'll just have to query for products that have both of the filters. Something like this:
[code]

Hopefully this is what you're looking for?

[2019-08-05 14:26] AlexVanderbist commented on #309
Hi, something definitely seems off here. However, I've added the same test on the v2 branch of the package that'll be tagged later this week and it seems to be fixed there due to some internal changes/cleanup. So I'm not gonna fix this for now (as you said, you can change the order of `allowedSorts` and `allowedFilters` to work around this). Thanks for reporting this and feel free to open a PR if

[2019-08-05 14:26] #309 closed

[2019-08-05 14:31] AlexVanderbist commented on #312
I'm not sure I understand the question. You can only create aliases for filters, sorts, includes, ... but you're not using any of those in your example. Can you elaborate?

[2019-08-05 14:34] AlexVanderbist commented on #96
@ronssij you're missing a `)` in your example. Also, this issue is closed and quite old. Please create a new issue if you still need help :)

[2019-08-06 09:11] ChiselspeedTuning commented on #308
That was exactly what I was looking for thank you very much. I did attempt this on my own but I ended up just looping the $values instead of including the actual query in the loop, doh!

Again, thanks for the help

[2019-08-06 09:11] #308 closed

[2019-08-06 11:26] ChiselspeedTuning opened #315 "Sorting by true number order"
Hi,
No idea if this is an issue or not but is there anyway possible for the Sort to be the true number order? e.g

1,2,3,4,5,6,7,8,9,10,11

instead of 1,10,11,2,3,4,5,6,7,8,9

Thanks!

[2019-08-06 12:08] gizburdt opened #316 "Sorting by created_at"
Hi,

I hope this isn't a duplicate, but couldn't find an issue about this. It looks like sorting on created_at is nog working. When I try another column, it works out of the box, but not with created_at.

Is there something I need to do, to get sorting on created_at (or dates?) to work?

Thanks! :)

[2019-08-06 12:36] gizburdt commented on #316
Nevermind! The dates were all the same because of my seeder. STUPID!

Awesome package!

[2019-08-06 12:36] #316 closed

[2019-08-06 12:42] hemratna opened #317 "Selecting fields not working for nested relationship."
Let's consider below use case.

`User` has O2M `Campaigns`, and `Campaigns` has O2M `RedirectionUrls `.

[code]

When I tried the below GET request,
`/users/4?include=campaigns,campaigns.redirectionurls&fields[users]=name,uuid,id,created_at&fields[campaigns]=product_url,created_by,id&fields[campaigns.redirectionurls]=url`

the response will show all the fields for the `redirection_urls` instead of

[2019-08-06 13:24] ChiselspeedTuning commented on #317
I think, but could be wrong you may need to create a custom filter to filter through a nested relationship.

[2019-08-06 16:00] hemratna commented on #317
@ChiselspeedTuning It will really help if you give me some reference example.
Thanks for looking into this.

[2019-08-08 08:07] ChiselspeedTuning commented on #317
@hemratna My apologies, I misunderstood on what you was wanting to achieve, a custom filter is the wrong way to go. I do have an idea on how to achieve what you are wanting to achieve, but I will need to try it out first. I will get back to you on this if nobody else does before I get the chance to.

[2019-08-08 09:38] AlexVanderbist commented on #315
The sort is being passed directly to the underlying SQL query. If sorting behaviour isn't as expected there's probably something wrong with the way you've set up your columns.

Can you try executing an SQL query manually including an `ORDER BY` clause as a test? Are you sure the column you're trying to sort is an integer and not a string type?

[2019-08-08 10:09] pactode commented on #171
I am experiencing this as well on a `BelongsToMany` relation, where the pivot table `id` is returned from the api resource instead of the appropriate resource `id`.

Any updates on this?

[2019-08-08 11:18] hemratna commented on #317
@chapeupreto Thanks a lot for looking into this. Waiting for your response.

[2019-08-08 16:33] cirelramos commented on #312
i solved:

[code]

[2019-08-08 16:34] #312 closed

[2019-08-09 08:05] AlexVanderbist commented on #317
Hi @hemratna, this might be an issue on our end. Usually when including relationships we look at the allowedfields to determine what fields to load with the included relationship. This is tested to work for at least 1 "level" deep relationships. I'll try to add a test for including fields on includes that are > 1 levels deep today and let you know what the results are.

Btw, just to be sure: can y

[2019-08-09 10:40] charliegilmanuk commented on #172
Any updates on this being merged to master?  Would be an amazing addition, about to pull the branch into my current project but it's 90+ commits behind.

[2019-08-09 12:25] hemratna commented on #317
@AlexVanderbist I tried with
[code]

But still not working.
Thanks a lot for looking into this.

[2019-08-09 13:03] ppisecky opened #318 "Add additional includes and filters"
I couldn't find this in the source but it would be nice to provide a function that adds more includes/filters to the query rather than replace the existing.

Model has a polymorphic relationship. An index exists for the base model and separate indexes exist for the polymorphic children. A repository service is used to fetch the results. The example below is very similar to my use case - I just use

[2019-08-09 17:00] axelitus commented on #172
For the status of my proposed implementation please refer to [this comment](https://github.com/spatie/laravel-query-builder/pull/223#issuecomment-519991162)

[2019-08-14 11:04] hemratna opened #321 "allowedAppends not working with allowedFields"
The `allowedAppends` not working with `allowedFields` method.

For the below code
[code]

For individual `fields` and `append` works fine

for the `/polls/2?fields[polls]=id,name` I am getting
[code]

for the `/polls/2?append=msg` I am getting all columns, along with `msg` attribute.
[code]

But when we apply both `/polls/2?append=msg&fields[polls]=id,name` append fields are not working.
[code]

I

[2019-08-18 04:38] guetteluis opened #322 "Wrong parameters order in AllowedFilter aliases in scope filters"
Hey guys,

I think that in the docs, the AllowedFilter aliases are in wrong order:

<img width="818" alt="Screen Shot 2019-08-18 at 12 30 00 AM" src="https://user-images.githubusercontent.com/35845741/63220174-327b5a00-c150-11e9-81b5-14fad63159b1.png">

it worked in this order for me:

`AllowedFilter::scope('unconfirmed', 'whereHasUnconfirmedEmail'),`

Thanks for your hard work!

[2019-08-19 10:02] #175 closed

[2019-08-19 20:23] FutureFutureTo commented on #171
Was having this issue as well - thanks a ton @lilisgeorge . saved me from insanity!

[2019-08-22 18:24] narrative1st opened #323 "Incompatible with Laravel 6.0?"
Getting this error on fresh new install:

  Problem 1
    - Conclusion: remove laravel/framework 6.0.x-dev
    - Conclusion: don't install laravel/framework 6.0.x-dev

[2019-08-22 23:25] freekmurze commented on #323
We'll make it compatible when Laravel v6 gets released.

[2019-08-22 23:25] #323 closed

[2019-08-27 13:59] J4si3k opened #324 "Requested filter(s) `filter` are not allowed"
Hi,
My application with this builder does not work on a production server.
on mine domain `sub.domain.com/?filter[categories]=some_category` I get an error:

`Requested filter(s) "filter" are not allowed. Allowed filter(s) are
"start_before, name, location, categories, description, page".` but on `localhost` everything works. the application uses the same database for prod and dev. what's the prob

[2019-08-28 07:33] VSG24 commented on #172
If anyone is wondering about how to do search, [here's how to do it.](https://github.com/spatie/laravel-query-builder/pull/223#issuecomment-525620669)

[2019-08-29 22:36] atymic commented on #324
Can you post your code so we can try to replicate the issue?

[2019-08-30 05:40] J4si3k commented on #324
I'm doing something like this in a controller
[code]
this is happening on shared hosting with apache.

[2019-09-03 13:02] docmattman opened #325 "Possible to have query builder applied with route model binding?"
I'm trying a technique that Freek discussed in his [Laracon talk](https://youtu.be/FxACh4X-Xc0?t=1486).  He mentioned having a `Queries` folder and injecting them into controllers like this:

PostController.php
[code]

However, Laravel has built-in [route model binding](https://laravel.com/docs/5.8/routing#route-model-binding) like this:

PostController.php
[code]

The above scenario provides the

[2019-09-03 14:21] docmattman commented on #325
As a potential solution, I created a `QueryBuilderBindable` trait:

QueryBuilderBindable.php
[code]

Then in the `Post` model (or any other model I want to do the same), I added this:

[code]

Does anyone see issues with doing it this way?  Or is there a better/recommended method for achieving this?

[2019-09-03 17:18] freekmurze commented on #325
I think you can just add multiple paramters, and Laravel will try to do the right thing.

public function show(Post $post, PostQuery $query)

[2019-09-03 17:18] #325 closed

[2019-09-03 17:49] docmattman commented on #325
@freekmurze, thanks for the reply and the awesome work you're doing!

Yes, you can add multiple params to the method, but the `Post $post` above will not be built from QueryBuilder.  So if I made a request:

`posts/1?include=author,comments`

The author/comments wouldn't be attached, because the `$post` wasn't resolved using QueryBuilder.  Basically the bound `$post` would be a vanilla eloquent mo

[2019-09-04 09:26] AlexVanderbist commented on #324
The fact that it's working locally but not on your production environment tells us it's probably an issue with your Apache config or your mod_rewrite config.

The exception message tells us the `filter` get parameter is somehow seen as a filter value itself? So apache is parsing `/?filter[categories]=some_category` as `$_GET['filter']=filter` which is wrong.

Maybe someone using Apache in producti

[2019-09-04 09:28] AlexVanderbist commented on #172
Closing this for now as it's trivial to add a custom search filter that works exactly like you want it to work

[2019-09-04 09:28] #172 closed

[2019-09-04 17:37] J4si3k commented on #324
Problem has been solved. The application could not access the query-builder config file. After adding this file to Laravel configuration the problem does not occur.

[2019-09-04 17:37] #324 closed

[2019-09-05 02:48] bkintanar opened #326 "[L6.0] AllowSort::custom with select Subquery"
Hi guys,

I recently tried to update my project to L6.0 and got this one blocker that I can't get my head around.

## Use case
Each event models has one-2-many schedules and I want to get the list of events sorted by schedule date. Prior to L6.0, I was able to do this by using a `AllowSort::custom` and use subquery using Builder::macro function.

What is happening when upgrading to L6.0 is that I'

[2019-09-10 18:15] ce-brex opened #327 "V2 Lumen Support"
V2 seems to make heavy use of the `request()` helper, as did V1, which is not available in Lumen.  Since that helper is part of the laravel-foundation and not required by the composer.json file, it might make sense to change these instances to `app('request')` for better support.

If Lumen is not going to be officially supported, then this can be ignored.

[2019-09-10 18:24] ce-brex opened #328 "V2 Upgrade Guide - macro removal"
In the upgrade guide, it mentions replacing all macros calls to using the methods on the QueryBuilderRequest class.  The examples don't work as they don't have the proper request object.  There are a couple of possible ways to do this however.

1. Change `app(QueryBuilderRequest::class)->includes()` to something like `app(QueryBuilderRequest::class)->fromRequest(app('request'))->includes()`

2. In

[2019-09-10 20:30] freekmurze commented on #327
We don’t use Lumen for our projects, so we’re not going to support it.

[2019-09-10 20:30] #327 closed

[2019-09-12 09:53] z-h-z-h opened #329 "Custom filter for several params"
Hi,
for example, I have two params in query string:
`?filter[param_a]=value_a&filter[param_b]=value_b`
I need both in one filter (scope or custom filter), but I can't use comma separated data like that
`?filter[params]=value_a,value_b`

how to implement custom filter with access to both param_a and param_b?

[2019-09-16 08:41] AlexVanderbist commented on #328
You're right! I'll add some info and a link to this issue in the upgrade guide. I didn't feel like having adding the request class to the service container as it didn't have much use in the package but I can see this being valueable in the context of a controller.

On the method arguments: the macros were deprecated a while ago and it's easy enough to call `contains` on any of the `QueryBuilderReq

[2019-09-16 09:12] AlexVanderbist commented on #329
Hi,

This actually works out of the box. If you pass two parameters separated by a comma we'll pass those values to your custom filter or scope as an array. Take a look at this test: https://github.com/spatie/laravel-query-builder/blob/6540eb05f8e8e71dc16703ee64877f495e41ec41/tests/FilterTest.php#L190-L203

Good luck and feel free to open a new issue if you're still experiencing issues.

[2019-09-16 09:12] #329 closed

[2019-09-16 09:54] z-h-z-h commented on #329
@AlexVanderbist sorry, but I asking about antoher feature.
Can I do like this:
`?filter[param_a]=value_a&filter[param_b]=value_b`
and then get param_a and param_b BOTH in ONE scope filter

[2019-09-16 12:30] mikebrandl opened #330 "Requested filter(s) `page` are not allowed. Allowed filter(s) are `postcode`.""
When adding in this functionality it works great on a staging server, however on the production server running the same code I get the following:

{
    "message": "Requested filter(s) `page` are not allowed. Allowed filter(s) are `postcode`."
}

We use pagination which works fine most of the time.

Example:

Front end:

[code]
Which then hits:

[code]

Which goes to:

[code]

We then get: Request

[2019-09-16 12:33] mikebrandl commented on #330
This also happens if we remove pagination and just have the filtering.

This then returns "message": "Requested filter(s) `filter` are not allowed. Allowed filter(s) are `postcode`."

[2019-09-16 12:37] farshadff opened #331 "query by 2 values send from front"
consider i have a filed named stars and i wanna filter them in a checkbox so user send me 2 numbers hotels with 3 star and 4 star how can i show the result of both because with the code below it just shows the last number that user send which in this case is 4 here is the code
[code]

[2019-09-17 14:22] felix28 opened #332 "Cannot query relationship name with underscore"
I have a relationship named as user_other_infos and check_ups. I put them inside here:

->allowedIncludes(['user_other_infos', 'check_ups', 'cashiers', 'fecalyses']);

Those without underscore works but those with underscore don't work.

For now, I am removing the underscore to make it work.

[2019-09-18 06:23] vdbelt commented on #332
The names of the relationships will be converted to camel case.

So for `user_other_infos`, laravel-query-builder will look for `userOtherInfos`

[2019-09-18 06:45] #332 closed

[2019-09-19 09:01] J4si3k opened #334 "scope filter not pass all parameters after comma"
If I make request

`GET /?filter[category]=techniczne,klimatyzacja`

and use the fallowing filter:

[code]
then in `$value `I receive only first string from category filter (in this case "techniczne"). Why am I losing other arguments? In standard filter it works fine.
 Maybe can I pass ith in `$request->query('filter')['category']` somehow?

my query looks like this:
[code]

[2019-09-19 19:15] Theremsoe opened #335 "In BelongsToMany, i lost pivot relationship"
I have defined two table's and migration files, and another as pivot. (Field, PivotFieldRule, Rule)

In table `Field` and `Rule` i define their relationship's methods and as pivot information define the `PivotFieldRule` table name, timestamps and another stuff's.

[code]
If i try pass the query of relation to `QueryBuilder`, the pivot is dropped. For example:

[code]

Thanks

[2019-09-21 03:38] paynegreen commented on #335
@Theremsoe you should try the `->getQuery()` method on the query chain before supplying it to the query builder.

[code]
Hope it helps.

[2019-09-21 05:24] #335 closed

[2019-09-21 22:47] sclavijo93 opened #336 "camelCase is converting into lowercase"
Hello!
I don't know if it is a bug or it is the way it should work

When I try to include a camelCase relationship it is converted to lowercase.
For example:
If I request to `/api/unit-groups?include=baseUnit` it throws this error:
`Requested include(s) 'baseunit' are not allowed. Allowed include(s) are 'baseUnit, baseUnitCount'.`

Can you help me with that? If you need more information just let m

[2019-09-22 04:49] sclavijo93 commented on #336
It seems like here is what is failing to me:

When ensureAllIncludesExist() is executed it iterates over $this->request->includes();
https://github.com/spatie/laravel-query-builder/blob/2f4f7dd0dada2f2110b06320a33e79cd2d701c09/src/Concerns/AddsIncludesToQuery.php#L36

Wich is created here:
https://github.com/spatie/laravel-query-builder/blob/2f4f7dd0dada2f2110b06320a33e79cd2d701c09/src/QueryBuilde

[2019-09-23 08:32] pactode commented on #334
As far as I know it splits the value automatically by comma, so `$value` should be an array. I'm not sure if that behaviour has been changed, but try dumping the `$value` to check if that is the case.

[2019-09-23 12:27] J4si3k commented on #334
@pactode `gettype($value)` return string and `$value` is a first param of filter

[2019-09-24 09:35] AlexVanderbist commented on #171
This seems to be a bug (?) in the way that eloquent generates and fetches queries for related models through pivot tables...

Without using `getQuery` the relation method generates the following SQL:
[code]

As you can see there's a couple selects that make sure the IDs all end up where they need to be. My guess is that eloquent will parse those internally and make sure the returned models are cor

[2019-09-24 10:00] AlexVanderbist commented on #173
Gonna close this for now. Scoped queries are working for us and in the tests. If anyone else is still experiencing this on the latest version, please send a PR with a failing test.

[2019-09-24 10:00] #173 closed

[2019-09-24 10:03] AlexVanderbist commented on #256
This has since been added for all allowed relationships. You can also add specific relation counts using `AllowedInclude::count()`. More on this feature in the docs: https://docs.spatie.be/laravel-query-builder/v2/features/including-relationships/#including-related-model-count

[2019-09-24 10:03] #256 closed

[2019-09-24 11:36] #262 closed

[2019-09-24 11:42] AlexVanderbist commented on #262
Will be tagged in 2.2.0! Thanks :)

[2019-09-24 11:43] #271 closed

[2019-09-24 11:45] AlexVanderbist commented on #273
I ended up not adding this to v2 of the package as I didn't see enough need for it. If anyone still wants this, feel free to send a PR.

[2019-09-24 11:46] #274 closed

[2019-09-24 11:53] #282 closed

[2019-09-24 12:05] #315 closed

[2019-09-24 12:55] AlexVanderbist commented on #317
This was an issue on our end. Fix will be tagged in 2.2.0!

[2019-09-24 13:20] AlexVanderbist commented on #318
That more or less how we use the package as well. Custom query builder classes that use DI and can inject each other. For example:
[code]

If you have any ideas to make this easier or more flexible, feel free to let us know! :)

[2019-09-24 13:31] AlexVanderbist commented on #321
Hm, this looks alright to me. I'm not sure what's going wrong here. I've also tested this locally and couldn't reproduce this issue. Can you confirm that this issue still exists on the latest version of the package?

[2019-09-24 13:36] AlexVanderbist commented on #322
That's correct! thanks :)

[2019-09-25 14:16] farshadff opened #343 "custom filter error ilterBedCount::__invoke() must be an instance of"
hi i am attemting to create a costum filter for my app and here is my code :
[code]
this is my costum filter and here is my controller :
[code]
but when i run it i get this error :
[code]
any idea which part i am doing wrong ???

[2019-09-26 10:36] farshadff opened #344 "Argument 1 passed to App\\Accommodation::App\\{closure}() must be an instance of App\\Builder"
i am using scope filter with this package i do all things as documentation says but i get this error below :
[code]
and here is my code :
[code]
and here is my controller :
[code]

[2019-09-26 12:10] aphofstede commented on #229
An alternative approach is exploding the filter values (`QueryBuilderRequest.php:96`) in a way that ignores the common case where a spatie comes after the comma in most natural usage. Would that help?

Example from an older project that had similar issues:
[code]

[2019-09-26 21:59] Haskiez opened #345 "QueryBuilderRequest only using $this->query(), maybe change to $this->input()?"
Maybe this is a bit narrow in focus but, it would be nice to use the QueryBuilder for querying your data but also for updating it. This package is great if you are putting everything in the query string, but what if you want to use this QueryBuilder to handle scoping for something like updating via a PUT request?

Let's say we want to update specific records that match the filters being passed. Si

[2019-09-28 18:47] j-clem commented on #301
Did the API change since this? I'm trying what you wrote here but the `__construct()` method wants an Eloquent Builder and a Request.

[2019-09-29 09:21] farshadff commented on #343
where is every one ?? :)

[2019-09-29 09:27] freekmurze commented on #343
It’s weekend, so everybody is probably resting, spending time with their family, that sort of thing.

[2019-09-29 09:30] farshadff commented on #343
ok cool i asked cause i opened the issue 4 days ago !!

[2019-09-29 10:59] freekmurze commented on #343
So? We don’t make a commitment on a timeframe in which issues are handled. We’ll take a look when we have the time. There currently are more important things on our plate than your problem.

Please be patient or look for help on another platform.

Thanks for understanding.

[2019-09-29 11:03] farshadff commented on #343
a good package is to be active for user errors otherwise it would be . . . any way i dont have right to complain about it because i dont pay for it and i dont take it for granted . thanks for your much friendly answer . . .  and sorry to bother you .

[2019-09-29 11:03] #343 closed

[2019-09-30 06:30] swash13 opened #347 "Empty array as a default value."
Is it possible to have empty array as a default value ?
I tried to do like this: AllowedFilter::exact('availability_check_status')->default([]) and it completely skips it.
If you will pass ->default([1,2,3]) it will apply default.

[2019-10-01 07:35] nerdroid23 opened #348 "When there are no filters declared in the request, a collection of models is returned instead of an empty result set"
The expected behavior is an empty result set when there are no filters declared in the **url** but instead, I get a collection of all the existing models.

Controller:
[code]

View
[code]

I only get an empty result set when I apply default values (gibberish) to the filter... I know that this is definitely not the way... Is there a way, maybe something that I missed in the documentation to accompl

[2019-10-01 21:28] AdamNimDev commented on #336
+1

[2019-10-02 09:26] T0miii opened #353 "Large Query Strings"
Sometimes the Query String is from the request is to large to submit it.
We tried to submit the request as a POST the problem is that the `QueryBuilderRequest` is only getting the string from the requests query string.
[code]
Can this is function somehow be overwritten to use the entire Request body.
I would like to use `$filterParts = $this->input($filterParameter, []);`

[2019-10-02 09:57] AlexVanderbist commented on #229
@aphofstede thanks for the proposal but I feel like that might be too much "magic" for the default behaviour. If you need this specific exploding behaviour I think it's more appropriate to keep the filter value as a string and parse it down in a custom filter class.

[2019-10-02 11:37] farshadff opened #354 "Custom Sorting by Nested Relationship ."
i am writing a custom relation to sort my model by its relationship but the problem is that i want to sort my models by the relations of that relation whic means the nested relationship .
so if i have this now :
[code]
and in my `PriceSort`
[code]
here now i want to sort the `$query` which is my hotel Model by one of the `roomPricingHistorySearch` fields . how can i achive that ??

[2019-10-03 08:36] AlexVanderbist commented on #331
I'd suggest adding a `scopeStars(...)` [scope](https://laravel.com/docs/master/eloquent#local-scopes) to your `Hotel` class. You can then use a scope filter to filter using the scope.

Something like this:

[code]

and in your controller:

[code]

Query then looks like this: `/hotels?filter[stars]=1,2,5` for hotels with 1, 2 and 5 stars. The commas will be automatically parsed as multiple values a

[2019-10-03 08:36] #331 closed

[2019-10-03 09:24] AlexVanderbist commented on #336
Thanks, that's definitely a bug! Will tag a fix in a couple of minutes.

[2019-10-03 09:24] #336 closed

[2019-10-03 09:27] AlexVanderbist commented on #344
Hi! This is an issue on your end. You're using the `Builder` type in your scope but it's not imported. Add the `Illuminate\Database\Eloquent\Builder` import at the top of your `Accommodation` class and this should be solved. Good luck!

[2019-10-03 09:27] #344 closed

[2019-10-03 09:31] AlexVanderbist commented on #345
How exactly would you be using it with a PUT request? I think it's actually more appropriate to keep the filters and data separated but maybe I'm missing something?

Tiny untested example:
[code]
Would work for the following request: `PUT /users?filter[email]=gmail` and regular update data as the request body.

[2019-10-03 11:01] sclavijo93 commented on #336
Thanks @AlexVanderbist!

[2019-10-04 15:01] Haskiez commented on #345
@AlexVanderbist maybe it does. Maybe its more personal preference that when making PUT or POST requests, it feels funky adding things to the url rather than putting it in the body. But I see your point and that also does make sense.

[2019-10-05 07:23] paligiannis opened #355 "Casting Properties Filtering"
In my database I have a column named "gender" that is a casted property.
It returns {"male": 1 , "female":  1}.
It's a toystore and when both genders are 1 then it returns "unisex".

In the documentation I can't find any any solution for casted properties.

[2019-10-05 19:33] abdulmatinsanni commented on #301
Using ::query() instead of ::class worked for me.
`
<?php

namespace App\Queries;

use App\Models\Ingredient;
use Spatie\QueryBuilder\QueryBuilder;

class IngredientsQuery extends QueryBuilder
{
    public function __construct()
    {
        parent::__construct(Ingredient::query());
    }
}
`

[2019-10-06 14:29] farshadff opened #356 "filtering custom appended relation on model !!!"
i have a custom appended relation to model that i want to sort my parents according to that so this is the result of my api when i call it :
[code]
i am using spatie query builder for sorting and filtering this but i want to do a sort on sales_price on cheapest room object this is my code below :
[code]
in short form i want to sort my api based on sales price

[2019-10-08 08:28] AlexVanderbist commented on #345
I suppose if you really wanted something like this, you can extend the `QueryBuilderRequest` class, make the necessary changes and bind it in the service container... Gonna close this for now, feel free to open a new issue if you're still experiencing any issues

[2019-10-08 08:28] #345 closed

[2019-10-08 08:29] #300 closed

[2019-10-08 08:29] #318 closed

[2019-10-08 11:53] dominikb commented on #347
If you have a look at the current implementation you will see, that this is currently not possible.

An empty array is ignored: https://github.com/spatie/laravel-query-builder/blob/e66471c34b28a9511bb545d8c8ec0164b2913301/src/AllowedFilter.php#L122-L131
https://github.com/spatie/laravel-query-builder/blob/e66471c34b28a9511bb545d8c8ec0164b2913301/src/AllowedFilter.php#L39-L48

One way you could rea

[2019-10-08 12:02] dominikb commented on #355
Filters will be transformed into SQL `WHERE` clauses, thus it is not possible to use the computation logic of casted properties together with this query builder package.

One way you could realize a solution would be to write a custom filter, that takes a string input and generates the corresponding database representation for querying.

[code]

Alternatively you could switch to use an string or i

[2019-10-08 12:15] dominikb commented on #348
The explanation is similar to the one of issue #347

Given a filter, that does neither have a user-supplied value nor a default value, it is not applied as there is nothing there to filter on:
https://github.com/spatie/laravel-query-builder/blob/e66471c34b28a9511bb545d8c8ec0164b2913301/src/Concerns/FiltersQuery.php#L32-L48

You could use [Laravel Form Requests](https://laravel.com/docs/6.x/validat

[2019-10-08 12:47] dominikb commented on #353
You can extend the `QueryBuilderRequest::class`, overwrite the `filters()` method and register it in your own ServiceProvider.

You need to make sure, that your own service provider is registered after the `QueryBuilderServiceProvider` of this package.

Then you can call the `QueryBuilder` and it will automatically resolve your implementation through the service container.

[code]

This is the cod

[2019-10-08 13:27] T0miii commented on #353
thank you, we are going to try this.

[2019-10-08 13:27] #353 closed

[2019-10-08 15:43] Essam34ML opened #357 "Default sort not working with custom sorts"
When i add defaultSort() to the query builder and add a custom sort to it, it won't work.
I am using:  "spatie/laravel-query-builder": "^2.0".

[2019-10-08 16:22] farshadff opened #358 "use custom sort for hasmany through relationships"
i am trying to make a sort based on a nested relation which has a hasmanythrough relationship now the point is every thing is good untill i add an exact filter to my filters then it makes all the ids and relations  `null` i want to know if its the problem of this package or i am doing some thing wrong . my code is like below :
[code]
and this is the custom sort i am using for this sorting query :

[2019-10-08 16:31] farshadff commented on #168
can this be done for sorting too ?? i mean sorting by related fields

[2019-10-08 16:41] #356 closed

[2019-10-08 16:43] farshadff opened #359 "Filter and sorting allowedAppends on model"
hi i have a accessor that i am using the allow append to append that to my model using this package . now i want to know if i can perform some sorting or filtering on that too because when i filter or sort it in normal way it gives the column not found error here is my code below :
[code]

[2019-10-08 17:25] martinandersen3d opened #360 "Bug?: Nested with Dash/camelCase, is this a bug?"
"spatie/laravel-query-builder": "^2.1",
------------------------------------------------

I'm not totally sure if this post is relevant, please delete if not. Maybe you already know :-)

But it looks like a bug?

**Fails:**
![2019-10-08 19_12_37-StrokesPlus](https://user-images.githubusercontent.com/19984581/66417887-41201800-ea01-11e9-9a36-cec7cb3f1748.png)

**Wins:**

![2019-10-08 19_15_35-Strok

[2019-10-08 22:47] Trixpua opened #361 "allowedFields() doesn't make sense"
What is the purpose for allowedFields()?

Once that if fields['table'] is not specified in the request the default behaviour is select all fields. But if I want select only some fields, this need to be explicitly defined as allowed field.

I think this approach don't have any bennefits, only headaches, because if I want allow to select some fields instead all of them I need explicitly define all m

[2019-10-09 15:39] farshadff opened #362 "how to sort by a relationship attribute"
Its not a bug or and Issue its more a question for me . i am aware of making custom sort class but when i use join on that it destroys data on other models and it returns null for fields of id and relationships i have no idea why !!! can i use the old dot for the relation of sort like this in the test :
[code]

[2019-10-11 19:38] dominikb commented on #360
Hi, thanks for providing those screenshots.

Sadly, I was not able to reproduce this bug using the version __2.1.0__

There are test cases, that cover this feature:
https://github.com/spatie/laravel-query-builder/blob/e66471c34b28a9511bb545d8c8ec0164b2913301/tests/IncludeTest.php#L159-L167

Can you try running the test suite locally and see if those fail as well?

[2019-10-14 11:32] dominikb commented on #229
Would a feature PR be welcome that introduces the possibility to use custom delimiters for multiple values?

[2019-10-14 19:11] enkota commented on #82
Is there any advancement on this feature? Tried editing the QueryBuilderServiceProvider.php filter but look like this has moved to the BuilderRequest file instead.

For my API I'd prefer to remove the `filter` requirement but in turn, stops pagination working.

[2019-10-15 16:06] webbyrankonsulterna commented on #334
Hello, this happens to me too. Must be a bug? I switched to custom filter, where I get an array correctly.

[2019-10-16 13:50] kcurbel opened #364 "Filter Documentation needs to be updated"
My current composer.josn
[code]
I am using the exacting filtering in one of my Laravel controllers and when i follow the documentation i get ``` 'App\Http\Controllers\AllowedFilter' not found in file```

the current documentation (https://docs.spatie.be/laravel-query-builder/v2/features/filtering/) for the query builder suggests to use exact filtering like this
[code]

The Fix
after looking into t

[2019-10-16 22:48] kcurbel commented on #364
@dominikb wow! thanks i did not notice. i will close the ticket since this was user error.

[2019-10-16 22:48] #364 closed

[2019-10-20 20:41] AlexVanderbist commented on #360
Yeah, I think this was fixed in #336 :)

[2019-10-21 08:03] xLesterGG opened #366 "camelCase is converted into underscore when selecting columns in a relation in camelCase"
Hello!

When I try to select a relationship's camelCase relationship's field, it is converted to underscore format.

For example:
If I call to

`/branches?include=userInCharge&fields[userInCharge]=user_uid`

it throws this error:

`Requested field(s) user_in_charge.user_uid are not allowed. Allowed field(s) are userInCharge.user_uid.`

Is this an intended behavior, or are any workaround around thi

[2019-10-27 06:34] Punksolid commented on #324
I had the same error and fixed with the same solution as @J4si3k
Happened using PHPUnit and PHP 7.3.10

[2019-10-28 12:32] denitsa-cm opened #367 "Wrap filters in a Where clause [ADVICE]"
First, thank you for this package! Makes things look really neat :)

Now onto my question...

I want to have a query, where I apply some custom filters based on query params, and then continue chaining onto my query. For this to work though, I need all my custom filters wrapped in a constraint group (with a where clause), which I am struggling to achieve.

Here is some code:

This is the filters b

[2019-10-28 23:00] paxcodes commented on #77
@twickstrom important note + @denitsa-cm last comment helped me:

[code]

[2019-10-29 20:48] natepisarski opened #371 "Does QueryBuilder need to be tied to a Request?"
I'm in a situation where I'd like to build up a `QueryBuilder` instance from data gathered from code.

For instance, I do some calculation, and determine that I want:

* All users with a `first_name` of `Joe`
* ...who have a `sex` of `male `

The URL for this would be: `filter[first_name]=Joe&filter[sex]=male`

However, QueryBuilder builds its parameters from a `Request` object **only**. So, it's

[2019-10-29 21:50] dennislindsey commented on #171
I'm also having this problem using a HasManyThrough relation. I believe it's related to https://github.com/laravel/framework/issues/23548

This issue was "fixed" in Laravel 5.8 but the way in which it was done does not provide the intermediary column alias when calling `->getQuery()` on the relation object. It's only added to the query builder by calling the protected method `HasManyThrough::shoul

[2019-10-30 15:23] farshadff opened #372 "how to remove duplicates from 2 joins in custom sort"
i am using spatie laravel query builder to make some filters for my project and i have the code as below :
[code]
now i have 1 sort and 2 filters which is so important for me here is the code for them
# sort
[code]
# first filter which is wrriten as scope
[code]
#secound filter as scope too
[code]
but this will bring me duplicate data no matter what groupby or other thing i use i want to know if t

[2019-10-31 23:23] djunehor commented on #371
Doesn't that defeat the whole purpose of the package which is to build query from incoming REQUESTS?

[2019-11-01 08:25] farshadff opened #373 "the example in test not working in production"
i want to sort my model by its relation attribute so i look at test given in tests as below :
[code]
and i do the same in my code like below :
[code]

now according to test and doc it should sort the by the sale colomn in price relation but it wont do it . any idea how can that be done or its a bug ???

[2019-11-01 16:42] natepisarski commented on #371
@djunehor idk, I guess that's actually what I'm asking. Is the project strongly coupled with Requests by design, or by oversight?

I can totally see a use-case where we have a method that just builds one of these QueryBuilders from the array I posted earlier. Then, the Request can just turn into one of those Arrays. So, under the hood, the QueryBuilder understands Arrays and Arrays only; meanwhile

[2019-11-01 17:02] djunehor commented on #371
From the codebase, I'll say the QueryBuilder is strongly couped with Requests as it leverages the Request methods and properties. Switching to arrays/objects might be a major change even though I know Request object can be created from an array by using
`$request = new Illuminate\Http\Request($test_array);`
And properties can be added to the request object i.e `$request->newProperty = $property;`

[2019-11-02 08:25] farshadff commented on #373
even when i run the raw query which is written in test it would throw me error this is the query :
[code]
any one has any idea ???

[2019-11-03 17:49] PiranhaGeorge commented on #371
FWIW I really don't think the dependency on the request is desirable. It would be much better to add an interface for `QueryBuilderRequest` and depend upon that instead. The `QueryBuilder` appears to only use methods of that class for request data anyway - so no-brainer really.

I had to hack around this on a previous n-tier project as the pertinent request data needed to be serialised and passed

[2019-11-04 04:01] natepisarski commented on #371
I'll see if I can take a whack at this when I get some free time. If it's not possible without rewriting large chunks of the project I'll likely fork it off. If I can make it a more non-invasive change I'll definitely add some tests, just to make sure it's backwards-compatible. Thanks for your thoughts guys

[2019-11-04 23:33] Haskiez opened #374 "Column Aliases for AllowedFields"
I couldn't find anything in the documentation but is there a way to have column aliasing for allowedFields much like AllowedFilters handles this. It would be nice to alias a column like fname to first_name and if the api user passes ```fields[table]=first_name``` that it maps properly to fname and allows it.

Another reason this is nice is to prevent confusion. If I tell a third party they can fil

[2019-11-05 00:48] MoeCasts opened #375 "How to except values when query?"
`Get: /user?filter[id]=-1`

parse like that:
`$query->whereNotIn('id', '1')`

[2019-11-05 10:17] atymic opened #376 "Add `limit` parameter"
Hey :)

This library is awesome, but one thing i've been missing is the ability to limit the amount of results.

I think this would be pretty simple to add, so if you are happy I can PR :)

[2019-11-07 16:29] chuckienorton commented on #334
I have the same issue.
`&filter[specialties][]=1&filter[specialties][]=2`
only passes into the scope value the string
`"1"`
if i try passing in a string with commas as first commenter
`&filter[specialties]=1,2`
i also just get the first value as a string
`"1"`

[2019-11-08 15:55] bskimball commented on #325
I just ran into this, but I'm not using Queries (I will listen to the Laracon talk linked above). The easiest way I can think to do it is to just convert the model instance to a query builder instance on the fly.
[code]

[2019-11-09 16:12] che1974 commented on #334
Class FiltersScope return ...$values explaining what this mean by link  https://stackoverflow.com/questions/41124015/meaning-of-three-dot-in-php
And in Model scope function we must use same construction, for example
public function scopeWorkDate(Builder $query, ...$dates)

[2019-11-13 08:53] Davidnadejdin opened #377 "Argument 1 passed to Illuminate\Database\Eloquent\Builder::__construct() must be an instance of Illuminate\Database\Query\Builder, instance of Illuminate\Database\Eloquent\Builder given"
I want to do so
![image](https://user-images.githubusercontent.com/40993387/68747599-b2647380-061c-11ea-93b5-81f7d12806b9.png)

And getting an error
```Argument 1 passed to Illuminate\Database\Eloquent\Builder::__construct() must be an instance of Illuminate\Database\Query\Builder, instance of Illuminate\Database\Eloquent\Builder given```

What is the point of binding tightly to a specific impleme

[2019-11-19 13:48] danilopinotti commented on #377
I had the same problem;
I had to create a new builder and doing the relationship manually.

[2019-11-19 15:47] Davidnadejdin commented on #377
I did so `$model->relation()->getQuery()`

[2019-11-19 15:48] #377 closed

[2019-11-20 20:54] Davidnadejdin opened #378 "How can I modify a query for a relationship?"
I would like to set sorting, apply scope, limit the number of records received

[2019-11-21 14:03] klimov-paul commented on #376
Instead of having a 'limit' option there should be control over pagination page size (per page).
Regular SQL 'limit' and 'offset' directives are represented as pagination already.

In order to get the first records the request URL will look like following:
[code]

[2019-11-21 16:08] klimov-paul opened #382 "Add `FilterTrashed`"
It would be nice to support soft deleted records filtering out of the box.

It can be encapsulated into dedicated `FilterTrashed` filter, which will respond in way similar to the one Nova does. It would respond to `trashed` keyword: if it is empty - do not apply any scope, if it equals to 'with' - include trashed records, if equals to 'only' - display only trashed records.

[2019-11-22 23:21] drjdr opened #384 "sort camelCase (Api) vs snake_case (laravel)"
Vue: Query:
posts/?sort=firstName

Laravel
->allowSorts(["firstName"]) -> will not be able to sort on this item
->allowSorts(["first_name]) -> required front end to use posts/?sort=first_name as well, because firstName is not allowed

Fix:
QuerybuilderRequest: convert sorts() collection items from "firstName" -> "first_name"
[code]

[2019-11-23 00:31] drjdr commented on #384
same for filters

[2019-11-25 13:34] J4si3k commented on #334
@che1974 answer is correct for me.

[2019-11-25 13:34] #334 closed

[2019-11-25 13:39] klimov-paul opened #385 "Add Callback Filter"
It would be nice to have a `FilterCallback`, which allows filter specification via `Closure`.
For example:

[code]

This will allow to quickly create complex filter on-the-fly without necessity of extra filter class declaration.

[2019-11-25 14:06] klimov-paul commented on #385
PR #386

[2019-11-25 14:09] klimov-paul commented on #382
PR: #383

[2019-11-25 14:19] klimov-paul commented on #371
In general I agree that `Request` dependency is redundant here.
However it is not a big deal to convert plain array into `Request` instance.
It is done at the unit tests of this project.

The actual code would be like following:

[code]

It might be considered as overhead, but it is better then creating a fork, in my opinion.

[2019-11-25 14:30] klimov-paul commented on #361
Unfortunally, Laravel does not provide any way to get all model's attributes (e.g. all DB table columns).
Such functionality can be achieved using [doctrine/dbal](https://packagist.org/packages/doctrine/dbal).

Also list of model attributes can be collected combining `Model::getFillable()` and `Model::getGuarded()`, but this way may be unreliable.

[2019-11-25 14:59] klimov-paul commented on #328
At the current 'master' code, binding for `QueryBuilderRequest` is already present:
https://github.com/spatie/laravel-query-builder/blob/master/src/QueryBuilderServiceProvider.php#L22-L24

And examples like:

[code]

works correctly.

See e66471c34b28a9511bb545d8c8ec0164b2913301

[2019-11-25 14:59] klimov-paul commented on #328
I suppose this issue can be closed.

[2019-11-25 15:29] #328 closed

[2019-11-26 21:33] terloon opened #390 "Filter by nested model"
Due to legacy reason, I have to use an older version of query builder (1.0) and I was wondering whether it was possible to filter on a nested/associated property. I have a User model which has a one to one relation to a Territory model. There is a priority property on Territory and I want to returns Users who are associated to a Territory with a specific priority. The User and Territory are in two

[2019-11-28 00:06] Trixpua commented on #361
But I still don't understand why have an allowedFields() method, if even I declared some fields as allowed, but the API user don't select this fields with a fields['table'] argument in the request the default behavior is return all fields.

I think that this is unnecessary once default behavior is send return all fields, if keep the behavior like in version 1.* make much more sense.

-> By default

[2019-11-28 16:49] klimov-paul commented on #361
I am sorry, but I can not see any significant difference between 2.x and 1.x versions behavior regardless `allowedFields()` methods:

- [1.17.5](https://github.com/spatie/laravel-query-
builder/blob/1.17.5/src/Concerns/AddsFieldsToQuery.php)
- [2.3.0](https://github.com/spatie/laravel-query-builder/blob/2.3.0/src/Concerns/AddsFieldsToQuery.php)

Perhaps I miss something.

This is not going to work

[2019-11-28 16:56] klimov-paul commented on #361
As for "sense": `allowedFields()` method should be used in junction with `select()` method, allowing to expand originally limited list of fields. For example:

[code]

Here only 'id' and 'name' columns will be returned by default, while API client may in addition explicitly select 'description' and 'price' if necessary.

[2019-11-30 03:53] zoroaster88 opened #391 "Query builder with Pagination and Fractal"
I am trying to combine laravel-fractal with this package.

Before I do something like this:

[code]

I was able to find a solution without pagination, but I am not sure how to pass $paginator to paginateWith().

I come out with below solution, but I am doing something wrong, because pagination show like all results, but data show just 2 when using filter. This because I get paginator for all users

[2019-11-30 03:58] zoroaster88 commented on #391
After posting this, and reading my own question, I come up with a solution that works :)

But I am not sure if I am doing something wrong.

Here is my updated code:

[code]

[2019-12-03 13:23] garazpasir opened #392 "Query Filters with operator from client"
I am interested in applying filters with operators (supported by SQL) that can be set from the client.
Example:
`filter[author.name][eq]=John` will display a title that has the exact value of John.

Reference:
- [JSON API Fancy Filters (jsonapi module for Drupal)](https://gist.github.com/e0ipso/efcc4e96ca2aed58e32948e4f70c2460)
- [Filter on (nested) relationship attribute?](https://discuss.jsonapi

[2019-12-05 20:27] stefanriehl commented on #391
I solved this by installing the [https://github.com/spatie/laravel-json-api-paginate](https://github.com/spatie/laravel-json-api-paginate) package and the  [https://github.com/spatie/laravel-fractal](https://github.com/spatie/laravel-fractal) package.

My code looks like this:

`
        $items = QueryBuilder::for(Project::class)
            ->allowedFilters(...)
            ->allowedSorts(...)

[2019-12-06 14:58] z-h-z-h commented on #137
@AlexVanderbist any progress?

[2019-12-06 14:59] AlexVanderbist commented on #392
Hi! We don't currently support this as it's not in the official JSON API specs. However, you can achieve this using a custom filter if you're willing to build it yourself.

There's also this PR that does something similar: https://github.com/spatie/laravel-query-builder/pull/223.

Btw, if you end up building this as a single nice custom filter, feel free to send a PR and maybe we can consider addi

[2019-12-06 14:59] #392 closed

[2019-12-06 15:10] AlexVanderbist commented on #146
Only a couple months of delay 🙈

If someone want to add this to the `ScopeFilter` in a PR with documentation, I'll be happy to merge it.

@dominikb's comment above contains a good starting point. Here's another implementation from a client project we did: https://gist.github.com/AlexVanderbist/043a6065e43eda616148315ef02583c7

[2019-12-06 15:14] AlexVanderbist commented on #229
PR looks solid as usual, thanks a lot! Gonna close this and merge the PR soon.

[2019-12-06 15:14] #229 closed

[2019-12-06 15:16] AlexVanderbist commented on #321
Closing this due to inactivity. Feel free to open a new issue if you're still experiencing this.

[2019-12-06 15:16] #321 closed

[2019-12-06 15:24] AlexVanderbist commented on #326
Did you ever manage to solve this issue? Can you try re-creating the query, including the complex sort parts using just Eloquent? I feel like this is probably an issue related to Laravel's Eloquent, rather than this package.

[2019-12-06 15:29] AlexVanderbist commented on #330
Can you post the contents of your query builder config file? Thanks!

[2019-12-06 16:28] AlexVanderbist commented on #347
Closing this due to inactivity. Feel free to send a PR to add/fix this or open a feature request with some good use-cases to discuss this further. Thanks!

[2019-12-06 16:28] #347 closed

[2019-12-06 16:29] AlexVanderbist commented on #348
Closing this due to inactivity. Like dominikb said: feel free to send a PR to add/fix this or open a feature request with some good use-cases to discuss this further. Thanks!

[2019-12-06 16:29] #348 closed

[2019-12-06 16:34] AlexVanderbist commented on #354
It's difficult to do this with Eloquent out of the box as its relations will be loaded in multiple queries.

I'd advice you to add a `JOIN` clause to the query that `SELECT`s the relevant `roomPricingHistorySearch`. You can then order by the joined value. So basically skipping the relationship entirely.

If you need help with this or have any other questions, feel free to open a new issue (closing

[2019-12-06 16:34] #354 closed

[2019-12-06 16:35] #355 closed

[2019-12-06 17:06] AlexVanderbist commented on #357
Hi! We have this covered in tests: https://github.com/spatie/laravel-query-builder/blob/master/tests/SortTest.php#L234-L251

Can you give some more info or PR a failing test?

[2019-12-06 17:20] AlexVanderbist commented on #358
It definitely sounds like the selects in your custom sort are messing with Eloquent's includes but I'm not sure exactly what's going on in your code example.

If you're still experiencing this issue, maybe try using `DB::enableQueryLog()` to see what queries are being executed with- and without the custom sort added?

I'm gonna close this issue due to it sitting idle for 2 months but feel free to

[2019-12-06 17:20] #358 closed

[2019-12-06 17:23] AlexVanderbist commented on #359
Hi! I'm guessing you've since figured this out as the issue is 2 months old (sorry).

Either way, this is due to the fact that this package only manipulates Eloquent queries before they're executed. Appends are, as the name suggests, appended after execution. So appends are added after filtering/sorting/including has already happened.

I'd suggest creating a `cheapestroom` relationship and using t

[2019-12-06 17:23] #359 closed

[2019-12-06 17:23] #360 closed

[2019-12-06 17:32] AlexVanderbist commented on #361
Hi, I'm afraid @klimov-paul is right. Having **all** fields allowed by default worked by not having any constraints on the input query. However, this was indeed vulnerable to sql injections and the aforementioned 500 error. We could catch the exception but that doesn't fix the SQLi issue.

I agree that the developer experience was a bit better before, but we we were exposing people to some serious

[2019-12-06 17:32] #361 closed

[2019-12-06 17:48] AlexVanderbist commented on #362
Sadly sorting by related properties using the dot-notation is not possible. This is a limitation in eloquent. There's some info on this issue here: https://github.com/spatie/laravel-query-builder/issues/36

So that's why we added custom sorts in the first place. Using a join in the custom sort should do the trick. However, you gotta make sure not to overwrite any joined tables or select any requir

[2019-12-06 17:48] #362 closed

[2019-12-06 17:57] AlexVanderbist commented on #366
Hi! This is actually intended behaviour. The `?fields[foo]=bar` parameter is use to add `select` clauses for a certain **table** to the query. This doesn't work for included relationships. For example `?fields[users]=id,name` will add `SELECT users.id, users.name [...]` to the underlying query.

Have a quick read through the docs here: https://docs.spatie.be/laravel-query-builder/v2/features/selec

[2019-12-06 17:57] #366 closed

[2019-12-06 18:16] AlexVanderbist commented on #367
Hi! This is an interesting use-case that we haven't come across yet. Did you find a solution for this in the last couple of weeks?

I couldn't find a way to make this work with the package as it is right now.
We could probably get away with wrapping all allowed filters in a `where` clause - regardless of the rest of the query. However, I'm not sure how this impacts existing queries with multiple A

[2019-12-06 18:19] AlexVanderbist commented on #371
@klimov-paul back at it again with a great suggestion.

If anyone wants to add `QueryBuilderRequest` as an interface to use custom implementations (like the one using arrays), feel free to send a PR. I'm more than happy to merge that in :)

[2019-12-06 18:19] #371 closed

[2019-12-06 18:24] AlexVanderbist commented on #372
Hi again! I'd suggest using `whereHas` instead of the `join`s for the filters. I think Eloquent will handle this just fine.

Also, this package doesn't add any magic to Eloquent. So a good strategy for these kind of problems is to try to create the query in Eloquent first. If that's working you can start trying to use it with the query builder. If it works in Eloquent, it'll probably work in the q

[2019-12-06 18:24] #372 closed

[2019-12-06 18:26] AlexVanderbist commented on #373
Are you still having this issue? What's the error being thrown?

Not all eloquent relationships work the same way with the default `->sortBy()`. It's a bit tricky.

[2019-12-06 18:29] AlexVanderbist commented on #374
You're right, that's currently not in the package.

Feel free to send a PR to add this and I'll be happy to merge it!

[2019-12-06 18:35] #373 closed

[2019-12-07 17:26] farshadff commented on #373
@AlexVanderbist  yes i still have the issue and i dont get any errors it just dont work  as the example , have you ever used the nested attribute sort your self ?? or any one else

[2019-12-07 20:31] AlexVanderbist commented on #375
You're looking for custom filters: https://docs.spatie.be/laravel-query-builder/v2/features/filtering/#custom-filters

Something like this:

[code]

Good luck!

[2019-12-07 20:31] #375 closed

[2019-12-07 20:43] AlexVanderbist commented on #376
You can use https://github.com/spatie/laravel-json-api-paginate in combination with this package to accomplish this. The pagination package has a `?page[size]=123` option and adheres to the JSON API spec.

https://docs.spatie.be/laravel-query-builder/v2/advanced-usage/pagination/

Good luck!

[2019-12-07 20:43] #376 closed

[2019-12-07 21:02] AlexVanderbist commented on #378
Hi! Most of this is documented here: https://docs.spatie.be/laravel-query-builder

- sorting relationships: use the default sorts with dot notation. This sometimes work. You'll probably need custom sorts tho. It's in the docs: https://docs.spatie.be/laravel-query-builder/v2/features/sorting/#custom-sorts
- apply scopes: use scoped filters. Need them on relationships? Use custom filters: https://do

[2019-12-07 21:02] #378 closed

[2019-12-08 19:17] AlexGodbehere opened #393 "Is there a way to prevent relationships being converted to camel case?"
Is there a way to prevent this package from converting relationship names to `camelCase`? All of the relationships in my application are `snake_case`.

[2019-12-09 08:07] bkintanar commented on #326
@AlexVanderbist I solved it by doing the following:

[code]

I'm not sure but it needs to have the whereRaw rather than the normal where clause. Maybe this is an issue on Laravel's Eloquent like you mentioned?

[2019-12-09 08:24] denitsa-cm commented on #367
Hey @AlexVanderbist!

Since I couldn't achieve it with the query builder, I made up my own code to do it :)

Would love to have it built in though, because it limits how much I can use it in cases with chaining.

[code]

(trait code sets the filter variables)

[2019-12-09 08:42] pactode commented on #171
On a short term basis, we could replicate the underlying functionality from the `shouldSelect` method on `Illuminate\Database\Eloquent\Relations\BelongsToMany`. However, that does not seem to be the best solution as the code is already in place. Perhaps, when calling the `getQuery` method on the relation it should also apply those selects?

[2019-12-09 12:32] ugurdnlr opened #394 "Sorting by json object"
Hi,

How can I sort by json object?

For example,
I keep the 'body' field as json and i want to default sort by the 'name' object inside the 'body' field.

[2019-12-10 19:49] AlexVanderbist commented on #326
That's odd, but glad you got it solved! If you need any other helpl regarding the package, feel free to open a new issue.

[2019-12-10 19:49] #326 closed

[2019-12-10 20:01] AlexVanderbist commented on #367
That's fair enough. I've tagged this to be revisited when we tag the next major version of the package as it's a pretty breaking change. Thanks for opening the issue!

[2019-12-10 20:11] AlexVanderbist commented on #384
We prefer not to change the filter column names as people may use either camelCase or snake_case for their database columns. So forcing all filters to be snake_case actually forces everyone to use snake_case column names.

As a fix you can use aliases. This example will allow sorting by `?sort=firstName` but will use the `first_name` column.
[code]

Alternatively you can do the string conversion o

[2019-12-10 20:11] #384 closed

[2019-12-10 20:19] AlexVanderbist commented on #382
I like this a lot! Let's continue this discussion in the PR :)

[2019-12-10 20:19] #382 closed

[2019-12-10 20:26] AlexVanderbist commented on #385
Love it! Let's continue this in the RP :)

[2019-12-10 20:26] #385 closed

[2019-12-10 20:36] AlexVanderbist commented on #390
It's definitely possible to do this on old versions of the query builder. I'd propose using a custom filter and implementing it using `whereHas`. You can have a look at how we do it in later versions in the `withRelationConstraint` method in  the `FiltersExact` class (you might even get away with just copying the `FiltersExact` class from a later version to your codebase).

What's the constraint y

[2019-12-10 20:40] AlexVanderbist commented on #391
I was gonna propose just the `laravel-json-api-paginate` package as well! Does this work for you as well?

Feel free to close this issue if you don't have any other questions :)