[2019-12-10 20:45] AlexVanderbist commented on #393
Currently there isn't... I wrongly assumed camel casing relationships was required or best practice for Laravel.

I'm open for suggestions tho (maybe looking for the matching relationship regardless of case?) - feel free opening a new issue if you want to discuss implementing this :)

[2019-12-10 20:45] #393 closed

[2019-12-10 20:51] AlexVanderbist commented on #394
The following works out of the box!

[code]
and the following query: `?sort=-name->first`. Weird syntax but you could use sort aliases as well: https://docs.spatie.be/laravel-query-builder/v2/features/sorting/#using-an-alias-for-sorting

Good luck and feel free to open a new question if you have any other questions :)

[2019-12-10 20:51] #394 closed

[2019-12-13 19:10] pionl commented on #393
Hi there, I've got the same problem. My point of view is, that it should not convert the includes array and leave it as it is (so, if you have myRelation, you should use includes(['myRelation')).

Of course it would break current applications using the query builder - I've would suggest to use a config that would turn this behavior. Should I make a PR?

[2019-12-14 02:37] baltun commented on #390
this should help: `&filter[relation.field]=val`

[2019-12-17 10:29] thewebartisan7 commented on #391
Why you are proposing to use yet another package for paginate? It's better than how I do it? I prefer to keep less package possible when I can.

[2019-12-19 15:00] francoism90 opened #397 "Allow to disable pagination?"
I am currently using laravel-json-api-paginate to return results as paginate. But would it be possible to make this optional by user's requests? I would like to show all items if requested.

[code]

Something like `api/media?paginate=false`?

Thanks. :)

[2019-12-19 15:07] mblarsen commented on #361
Hi @klimov-paul and @AlexVanderbist could you give an example how this would work with relations.

For one model it works fine. You set a limited default `select(id, name, uuid)` and then the user can "override" this from the list of `allowedFields(id, name, uuid, job_id)`.

So for relations I do like this:

[code]
(and way longer allowed lists)

Case 0: No job works:

[code]
(this works despite t

[2019-12-20 08:03] francoism90 commented on #397
So I've end up using Request allowing a route parameter to call `get()` instead.

[2019-12-20 08:03] #397 closed

[2019-12-20 13:48] AlexVanderbist commented on #391
@thewebartisan7 How you solve the issue of pagination is up to you. For me it's easier to suggest someone install a package, instead of having to explain the code that's in that package so they can code it themselves. Either way, the issue described here can be fixed with Laravel's default paginator or the package if you want the features included there. The package's paginator is maybe 100 LOC so

[2019-12-20 13:48] #391 closed

[2019-12-28 18:55] crotanite opened #399 "Append to Included Relationship"
Is it possible to append to an included relationship?

`/posts?include=user&append=user.metadata`

[2020-01-01 17:13] freekmurze commented on #399
I think so yes.

If not, I'd welcome a PR that adds this to the package.

[2020-01-01 17:13] #399 closed

[2020-01-04 22:54] freekmurze opened #401 "Tests are failing"
We should move these to GitHub actions.

[2020-01-04 23:32] freekmurze commented on #401
Moved the t

[2020-01-04 23:32] #401 closed

[2020-01-04 23:33] freekmurze opened #402 "Tests are failing for some Laravel - PHP combinations"
https://github.com/spatie/laravel-query-builder/runs/374013052

This should be fixed.

[2020-01-06 12:02] btxtiger commented on #229
It seems the custom array delimiter is also set for includes, is this the wanted behaviour?
This makes the handling really complicated as I just wanted to be able to find this string in my database `EL63PB1024Z8/24PB15X3PR0,3.482+999`.

It might be easier to pass a custom delimiter to `AllowedFilter::exact` as parameter to be more flexible:
[code]

[2020-01-06 14:10] francoism90 opened #404 "setArrayValueDelimiter not working?"
Thanks for merging #369. After some testing, I don't think it is working at the moment.

https://docs.spatie.be/laravel-query-builder/v2/features/filtering/ - Mentions `setArrayDelimiter`, but shouldn't it be `setArrayValueDelimiter`?

Anyway, I've created the following middleware:

[code]

Results in:

[code]

MediaController.php

[code]

It doesn't seem to matter if using a middleware or directl

[2020-01-06 21:21] freekmurze commented on #404
@dominikb could you have a look at this?

[2020-01-06 21:24] gutofurlan opened #405 "Error Spatie-activity-log with spatie-query-builder"
In my Laravel project (5.8) I have the laravel activitylog package (3.2.2) with the database connection specifying "log", but as soon as I put the spatie-query-builder (2.2.0) it crashes and doesn't recognize the log connection, trying to insert in the master base where there is no table.
Does anyone know how to solve?
Thank

[2020-01-07 09:12] francoism90 commented on #404
@freekmurze @dominikb I just had a thought and think I solved my own (maybe stupid) question:
[code]

It doesn't seem to only affect filters, but also includes, sorters (if possible), etc. as well.

[2020-01-07 09:39] dominikb commented on #404
@francoism90 Your guess is right, this is indeed how it works.
https://github.com/spatie/laravel-query-builder/blob/8d4949f8539f363ff91633ce655462295aaca246/src/QueryBuilderRequest.php#L28-L41

Maybe I should have mentioned that in the documentation. I will send a pull request that clarifies this!

[2020-01-07 09:40] dominikb commented on #405
I will look into this. Can you provide a sample configuration for me to reproduce this issue?

[2020-01-07 19:59] gutofurlan commented on #405
I resolved, i update dependences for packages, thanks ...

[2020-01-09 08:04] #405 closed

[2020-01-09 09:08] cvgeldern commented on #244
True, but compatibility would indeed be great!

[2020-01-09 09:14] cvgeldern opened #407 "Support https://github.com/GeneaLabs/laravel-model-caching package"
It would be nice to let this wonderful package play together with popular packages with related functionality that is out of scope of this package itself.

I'm in need of a compatible eloquent/model caching package and GeneaLabs/laravel-model-caching caught my eye.

[2020-01-09 14:19] maciejfikus commented on #300
I would like to reopen this issue.

Using it like:
`SomeModel::query()` - return `SomeModelQueryBuilder`
`QueryBuilder::for(SomeModel::query())` - return `QueryBuilder`

Even using it like:
`QueryBuilder::for(SomeModel::class)->someCustomFromCustomQueryBuilder()->get()` will not work as package execute everything on raw Eloquent Builder, which doesn't have scopes.

[2020-01-09 23:57] freekmurze commented on #407
If this can be done in an easy, non-breaking, testable way, please submit a PR for it.

[2020-01-09 23:57] #407 closed

[2020-01-10 20:38] Gummibeer opened #411 "QueryBuilder::for() with relationship"
I've found this test after I tried to use the QueryBuilder on a relationship method in a sub-resource controller.
The solution I've found is to call `getQuery()` on the relationship method before passing it into the builder. This way `getQuery()` is called twice and the resulting query is a plain database one instead of an eloquent one.
Would it be an option to check if the query is a relation one

[2020-01-13 12:04] francoism90 commented on #404
@dominikb This seems to be merged, thanks for the clarification. :)

[2020-01-13 12:04] #404 closed

[2020-01-13 16:03] Sharptsa opened #412 "[Bug] AllowedInclude::relationship and AllowedInclude::count can't be used"
It is currently impossible to use in `allowedIncludes()` :

- `AllowedInclude::relationship('name', 'internalName')` for aliasing relationships
- `AllowedInclude::count('nameCount', 'internalNameCount')` as [stated in the docs](https://docs.spatie.be/laravel-query-builder/v2/features/including-relationships/#including-related-model-count)

While aliasing sort with `AllowedSort::field('fieldAlias',

[2020-01-14 03:39] seewhy17 opened #413 "How to sort on a column from Relationship"
I have a Loan Model that is related to Account and User Models. I am trying to sort by lastname which come from the account relation but neither
[code]

 NOR

[code]
Worked

**Sorry I don't know how to tag this as a question, I know its not really an Issue, Thanks**

[2020-01-14 07:43] dominikb commented on #412
Here's a failing test to reproduce this issue:

[code]

[code]

I'm looking into this.

[2020-01-14 10:45] dominikb commented on #412
@Sharptsa I've just opened a PR that should fix this issue, at least it fixes my test.
Can you try this change in your codebase and provide feedback?

[2020-01-14 10:48] dominikb commented on #413
Take a look at the test that covers this feature:

https://github.com/spatie/laravel-query-builder/blob/d0d82095138f961241c81efe0a40147009ad6d4d/tests/SortTest.php#L91-L104

[2020-01-14 20:26] alvarezskinner commented on #122
Thanks for the POC, it resolves the doubt i was looking for today, nevertheless it seems to be more related to the Spatie Laravel Translatable rather that Dimsav's one, which doesnt use JSON fields, but additional tables/models/relationships for the translations.

@thibaultlavoisey did you ever figure out a way to make this work with Dimsav's?

[2020-01-16 12:18] #413 closed

[2020-01-17 13:19] DaniloBenevides commented on #146
Is anyone working on this issue?

[2020-01-19 20:47] bbcreation opened #417 "Livewire"
Hi; Is it possible to use with Livewire?

Too few arguments to function Illuminate\Support\Collection::get(), 0 passed in /Users/.../Documents/GitHub/.../vendor/laravel/framework/src/Illuminate/Support/Traits/ForwardsCalls.php on line 23 and at least 1 expected (View: /Users/.../Documents/GitHub/.../vendor/livewire/livewire/src/Macros/livewire-view.blade.php)

[2020-01-20 08:21] freekmurze commented on #417
That error doesn't seem related to our package.

Our package and Livewire do not interact directly with each other, so sure, you could use them both in the same project.

[2020-01-20 08:21] #417 closed

[2020-01-23 13:34] Tolgon opened #419 "Need help getting it working on deploy"
So the plugin works perfectly on my local artisan serve but I can't get it to work on my nginx server.

Not sure if this is the right place but I couldn't find an answer elsewhere, could someone show me their nginx configuration to see if that is my problem. Mine looks very similar to the one shown here: https://laravel.com/docs/6.x/deployment#nginx

[2020-01-23 13:54] Tolgon commented on #419
I feel stupid for opening this issue now. I had to change
[code]
to:

[code]

[2020-01-23 13:54] #419 closed

[2020-01-28 13:52] Raerten opened #420 "Filter by NULL value"
There is no way to filter by NULL value for now (or I can't find).
I could create custom `AllowedFilter::custom` filter but `AllowedFilter->filter` has explicit check for null value.

[2020-02-03 07:30] maciejfikus opened #421 "Custom QueryBuilder methods not available"
Hey,
I would like to reference to: https://github.com/spatie/laravel-query-builder/issues/300

While it is possible to use model local scopes, it is not possible to work when using custom querybuilder on the model.

SomeModel::query() - return SomeModelQueryBuilder
QueryBuilder::for(SomeModel::query()) - return QueryBuilder

QueryBuilder::for(SomeModel::class)->someCustomFromCustomQueryBuilder()->

[2020-02-03 10:10] abishekrsrikaanth opened #422 "Adding constraints to includes"
I have the following query and would like to add constraints to the `allowedIncludes` function of the QueryBuilder. How do I go about doing it?

[code]

What I am looking to do is to paginate suppliers and also include products that are only `saleable` and here is what I tried. It does throw an error and not quite sure on how to proceed adding filters for includes

[code]

How do I go about doing

[2020-02-05 18:08] JeremyPinto opened #424 "The response doesn't contain information about filters. How to return filters ?"
I try to use the next_page_url variable in my front app, but it doesn't contain any information about current filters.

The controller endpoint is :
[code]

If I request the category "Laravel", I get articles in this category, but the next_page_url is :
```api/articles?page=2```

I don't have any information that the query is filtered with the category "Laravel", so I will have ALL articles.

How

[2020-02-06 10:40] JeremyPinto commented on #424
I found the answer in the doc : https://docs.spatie.be/laravel-query-builder/v2/advanced-usage/pagination/

[2020-02-06 10:40] #424 closed

[2020-02-07 10:20] cbaconnier commented on #421
It works when you apply the custom `QueryBuilder` criteria before Spatie `QueryBuilder`

[code]

[2020-02-07 16:00] maciejfikus commented on #421
It does, but I want to use them on demand or inside custom filters or something else.

[2020-02-09 08:49] duongtdvn commented on #93
I am facing the same issue and following @ChrisReid solution was great. However for the relationship to work I had to modify a bit like so:
[code]

[2020-02-09 21:07] michapietsch commented on #146
@thijsw I'd rather not generate a 404. IMO it should return an empty result.

@DaniloBenevides I'd take it on. 😊

[2020-02-09 21:33] mikebrandl commented on #330
Hi, I've just tried implementing this again and it now working, not sure what happened before because the code is the same, thanks for your help.

[2020-02-09 21:33] #330 closed

[2020-02-09 21:48] michapietsch commented on #146
Sorry, just realized the PR by @50bhan.

If he doesn't follow up on this, I'd like to offer my help.

Also, I think there is an issue with primary keys other than ```id``` and the implementation ```is_numeric($value)```. The type hinting is already done and the scope gets an Eloquent model instance, but if we work with the given identifier, we have to accept all options, right?

As mentioned above

[2020-02-10 15:12] AlexVanderbist commented on #146
Some great ideas, @michapietsch. Let's continue this discussion in the PR :)

[2020-02-10 15:12] #146 closed

[2020-02-11 09:27] AlexVanderbist commented on #412
Fix tagged in 2.6.1 thanks to @dominikb !

[2020-02-11 09:27] #412 closed

[2020-02-11 09:31] AlexVanderbist commented on #422
I'd suggest creating a separate `saleableProducts` relationship in your `Supplier` model, like this:

[code]

This way you can `$queryBuilder->allowedIncludes(['saleableProducts'])`.

Good luck!

[2020-02-12 09:18] #422 closed

[2020-02-12 11:46] wijnandhonselaar opened #431 "AllowedFilters are in OR configuration, is it possible to change this to an AND configuration?"
I'm using two filters on my query. When I only pass one of the values, the query works as expected.

When I pass both filter values, I get a result that lists ALL matches.

Is this how the `Allowerfileters()`is supposed to work? Should I create a custom filter to solve this problem, or am I just missing something perhaps?

[code]

[2020-02-12 18:32] dominikb commented on #431
Hello!

If you take a look at the implementation, you will see that this is indeed how it is supposed to work.
Filters are only applied if they have a user-supplied value or a default value. (see  `FiltersQuery:: addFiltersToQuery()`)

The underlying call to `Illuminate/Query/Builder.php` uses `whereIn()`, which defaults to using an 'and' concatenation.

In your specific case, you are likely to be

[2020-02-12 20:03] dominikb commented on #421
I've taken a look into this, and the problem comes from the fact that `Spatie\QueryBuilder\QueryBuilder` can not inherit dynamically and loses the original builder instance in the process of instantiation.

I tried to find a proof of concept implementation that would allow for the use of methods on the custom QueryBuilder instance.

[code]

I don't think there is a trivial solution to this problem

[2020-02-12 20:52] ampersand opened #432 "SoftDelete scopes cause ReflectionException"
When using version 2.6.* to 2.7.0 I am no longer able to add the soft delete scopes as an allowed filter.

[code]

This results in a "Method scopeOnlyTrashed does not exist" ReflectionException in
https://github.com/spatie/laravel-query-builder/blob/366aaca9cf6195357812f01f412fe878cec414f5/src/Filters/FiltersScope.php#L26-L28

My guess is, this is caused by the magic inside of the [SoftDeletingSco

[2020-02-13 09:20] wijnandhonselaar commented on #431
Thanks for the info Dominik!

[2020-02-13 09:20] #431 closed

[2020-02-14 17:04] telkins commented on #432
FYI.  I just upgraded from 2.5.1 to 2.7.0 and got the same error.  I have an allowed filter (a scope filter, too) that is no longer recognized.

My error: `Method scopeWithSecret does not exist`, although a minor difference for me is that I specify the scope:
[code]
I'll poke around a bit and, if not successful, will also revert to 2.5.1.

[2020-02-24 14:04] asivaneswaran opened #434 "Many to Many relationship filter crashes phpunit test"
I have this query:

[code]

And when I try to test my response, phpunit keeps crashing with: `Segmentation fault (core dumped)`

If I remove: `AllowedFilter::exact('location', 'locations.id')` the tests runs fine..

[2020-02-26 04:00] netbuilding commented on #325
same question here. how can i includes relationship when using route model binding?

[2020-03-02 09:51] dominikb commented on #432
I've dug into the source code of the `SoftDeletingScope::class` a little and the error lies with how those "scopes" are implemented.
They are added to the model as macros are not taken into account when using a `FilterScope`.

In my opinion, there are two ways to go ahead:
1. Take into account that macros can be used and differentiate both cases
2. Add another filter that is used for macros

[2020-03-02 17:04] ampersand commented on #432
I would lean more towards the first option of checking for the macro "scopes".

I wonder if simply catching the `ReflectionException` in the `resolveParameters` method and returning the `$values` would be a valid solution.  I don't know enough about the purpose of this method to determine if this would cause any other issues.

[2020-03-02 20:23] trevorgehman opened #439 "Add way to specify secondary sort on unique column"
## Problem

One issue with sorting on a SQL column that's not unique, such as `first_name`, is that the order of returned rows isn't predictable if there are duplicate values. This can cause issues with pagination, where the same row is returned on multiple pages, even without any data changing in the database.

I've seen this happen frequently when sorting on relationship counts, where a lot of p

[2020-03-02 21:58] suth commented on #393
I've also run into this issue. Seeing as how the conversion was built around an incorrect I see no reason to leave that mistake in place. I tried extending the `AllowedInclude` class to omit the camel casing, but it seemed like there was somewhere else I missed that was applying it as well.

[2020-03-03 11:33] dominikb opened #440 "Remove CamelCasing relationship names"
This is a follow-up ticket for issue #393. (and #366, #332, #307)

Although I personally use camelCased relationship names, I don't think this is a behavior we want to enforce. Especially because there have been multiple tickets regarding this feature.

The conversion happens in two places. Namely in [AddsFieldsToQuery](https://github.com/spatie/laravel-query-builder/blob/95cffd71f64e90ff9102481fd

[2020-03-03 14:55] trevorgehman commented on #439
Thinking more about this:

1. What would be a good name? Ideas:
  - `->secondarySort('id')`
  - `->uniqueSort('id')`
  - `->additionalSort('id')`
2. Functionally, I think the best way for this to work is that it is:
  - Only applied if there is another sort, default or otherwise
  - It takes the sort direction of the primary sort.

Would you be open to a PR for this functionality? We could explain

[2020-03-03 15:39] hivokas commented on #439
1. What about `->deterministicSort('id')` for the name?
2. The signature could be `public function deterministicSort($sort, string $fallbackDirection = 'asc')

[2020-03-03 20:38] suth commented on #440
Although it's documented the behavior surprised me even the second time I ran into it. I don't think there's a problem with choosing one default over the other, but if an alias is specified I think it could be safely assumed that casting is not necessary.

Is there any impact on nested relationships as well? Haven't had to use that feature yet.

[2020-03-04 13:20] dominikb commented on #440
Nested relationship names will be cast as well. (Can be seen in this [test case](https://github.com/spatie/laravel-query-builder/blob/1321c20de6a1f687b38963b289b0dd814b8beba5/tests/IncludeTest.php#L229))

I just found an older todo that refers to validating that included relationships do exist:
https://github.com/spatie/laravel-query-builder/blob/1321c20de6a1f687b38963b289b0dd814b8beba5/src/Concer

[2020-03-05 15:20] hivokas opened #441 "Does not work properly with the BelongsToMany relation"
Recently I've faced a tricky issue with the BelongsToMany relation.

Let's assume we have two models: `Member`, `Team` (many-to-many).

Here is the definition of the `members()` relation for the `Team` model.

[code]

`QueryBuilder::for()` expects `Illuminate\Database\Eloquent\Builder` to be passed.

I want to query the first member of a certain team (including the `joined_at` value), so:

[code]

[2020-03-05 16:37] ebreisman opened #442 "AddFieldsToQuery does not take into account the actual table's name if the name is non-standard"
We have a currently existing database with a table named `Person`. We have set the table name to `Person` in the Person model using `protected $table = 'Person';`, however, when trying to select fields to show (e.g. `/person?fields[Person]=last_name` or `/person?fields[person]=last_name`), the `AddFieldsToQuery::ensureAllFieldsExist()` throws an` InvalidFieldQuery` exception because it is looking

[2020-03-07 20:11] telkins opened #444 "FiltersScope broken for "macroed" scopes..."
I have the same code, more or less, that works for version 2.5.1, but does not work for 2.8.0.

I'm trying to use a scope filter, and I'm sure everything would work fine if I was using "normal" scopes, but I'm using a "macroed" scope a la Laravel's `SoftDeletingScope`.

So, I can see the before and after code in this package.  Before, the values are "prepared" in a simple manner:
[code]

In 2.8.0,

[2020-03-08 01:23] Davidnadejdin opened #445 "Loading relationships and attributes for a specific model"
Often when creating an api, I don’t always know when certain relationships or attributes may be needed. What if you do something similar to what is used to get a collection of models?

As far as I understand now, I can do it something like this:
[code]

What if to make it possible to exclude an additional request from `find`, For example, at least like this:
[code]
or so:
[code]

[2020-03-08 09:19] dominikb commented on #444
Hi, telkins. Thanks for opening an issue and providing such detailed information.

This is an unintended behavior that was introduced when attribute casting for filters was implemented.
Please take a look at issue #432 and maybe provide your opinion on how we should go forward with fixing this bug.

[2020-03-08 12:33] telkins commented on #444
@dominikb Thanks for the response.  I took a look at #432 and found out that I've already commented on this issue.  LOL!  I'd forgotten about it completely.

Anyway, perhaps this issue should be closed in favor of the other one...?

[2020-03-09 09:44] dominikb commented on #442
I've taken a look into this issue and I don't think there is a trivial solution to this.

In order to use the `table` property of the given model, we would need an instance of the model. This would require us to resolve the class from the given field name.

I tried to implement this strategy but stopped when namespace resolution became an issue:
[code]

A custom solution could be provided if we al

[2020-03-10 11:15] AlexVanderbist commented on #445
I'll accept a PR to make `QueryBuilder::for()` accept a model, like `$category` and have it create a query builder instance for the `Category` model and have it automatically add `whereKey($category->id)`.

However, reducing the number of requests is not gonna be possible as we can't load relationships on a `Model` the same way we load relationships on a `QueryBuilder`. We could change the whole p

[2020-03-10 11:17] AlexVanderbist commented on #441
Excellent suggestion, let's continue this discussion in the PR :)

[2020-03-10 11:17] #441 closed

[2020-03-10 11:42] ablishek opened #446 "inRandomOrder() Function + Take Function"
Hi,

Is there anyway we can extend and access the **inRandomOrder()**
Similar to what can be accomplished by Count, but rather allow the end user to specify if they wish to receive data in random order or not.

Additionally I know pagination is allowed, but can we specify the quantity of records we wish to recieve simply by assigning a TAKE(10), or do you suggest we accomplish this by pagination?

[2020-03-10 22:36] Davidnadejdin commented on #445
maybe not worth it? Once the functionality is beyond the scope of the package.

I did about what I wanted:
https://github.com/envant/laravel-model-mutator

[2020-03-13 16:28] accidentul commented on #324
any ideea how to solve this probleme on a apache server on a shared hosting ...

[2020-03-13 16:37] J4si3k commented on #324
@accidentul Have you tried to add config file to laravel app?

[code]

[2020-03-13 16:39] accidentul commented on #324
Yes, sadly this is the exact file :(

[2020-03-13 16:53] J4si3k commented on #324
I think you would have to describe your problem more to help you. Does your problem also occur locally? I only performed this activity. Perhaps the filter just collects the wrong values what you can see in this [ISSUE](https://github.com/spatie/laravel-query-builder/issues/334#issuecomment-552113812). Maybe check the correctness of parameters passed from scope filters?

[2020-03-13 17:06] accidentul commented on #324
Spatie\QueryBuilder\Exceptions\InvalidFilterQuery: Requested filter(s) `filter` are not allowed. Allowed filter(s) are `title, created_at`. in  ....

The controller method
 $programsCategory=QueryBuilder::for(ProgramCategory::class)
            ->allowedFilters(['title', 'created_at'])
           ->allowedSorts(['title','created_at'])
         ->allowedIncludes(['programs'])
          ->get();

An

[2020-03-13 17:19] accidentul opened #447 "Requested filter(s) `filter` are not allowed. Allowed filter(s) are `title`."
It works localy but not o the server any ideea why ?
/api/get-program-categories?filter[title]=infrastructura

[2020-03-13 17:42] freekmurze commented on #447
I have no clue...

[2020-03-13 17:42] #447 closed

[2020-03-13 17:44] accidentul commented on #447
=))) what a response

[2020-03-13 19:14] pionl commented on #440
Hi guys, I would recommend to be able to use a config entry to determine if CamelCase should be used?

[2020-03-14 14:25] MoeCasts opened #448 "add custom query for include"
For example, if just wanna take 10 comments of posts and order by created_at desc, can do like this.

[code]

If we can do like this, it would be better.

[2020-03-15 07:17] mojtabaahn opened #449 "Namespace form builders"
Let's imagine we have two tables inside a view. these two have different data and they have options to filter and sort their data.

with current implementation (I guess) it's not possible to have two different QueryBuilders and **filtering separably based on some namespace**.

for example having this `example.local/?posts[filter][title]=blog&users[filter][name]=john` is there any way to achieve di

[2020-03-17 10:22] btxtiger opened #450 "Individual array delimiter for a single filter"
Referencing #229

It seems the custom array delimiter is also set for includes, sorts, appends, fields; this creates an insane breaking change for existing projects. It should be possible to override the default limiter `,` for just a single filter, where filtering for a string with comma is needed.

I just wanted to be able to find this string in my database `EL63PB1024Z8/24PB15X3PR0,3.482+999.`

[2020-03-18 10:46] gutofurlan commented on #172
Hello, I'm having a search method error not being recognized by the Filter, you know what it can be?

[2020-03-18 11:21] gutofurlan opened #452 "search multiple fields"
Guys I need to have a filter that validates in all fields with orWhere, for example: users? Search = Jhon he has to check that there is jhon in the name, email .... Has anyone done this? thankful

[2020-03-18 21:08] btxtiger commented on #452
Shoud be possible using a custom filter:
[code]

[2020-03-19 00:52] gutofurlan commented on #452
@btxtiger
Okay, but there is no way for him to get my query and fields?

[2020-03-19 01:35] btxtiger commented on #452
Who is him?

[2020-03-19 12:06] gutofurlan commented on #452
@btxtiger Filter custom

[2020-03-21 11:24] ablishek opened #455 "Restrict includes by Pagination"
Hi,

Is there any way I can restrict the includes by pagination. For example if I'm querying the User with it's Posts, I want to bring only the first 9 posts, and not the 140 posts they might have written in the past.

[2020-03-21 11:57] abhi-cognitivo commented on #455
Just FYI, I am assuming I can just add a special relationship that restricts the data being brought over that relationship, but that would require someone to switch over to a specialized API if they want to load more data.

[2020-03-23 01:39] atymic opened #456 "Filtering on pivot table"
Hey :)

I have a case where we'd like to filter on some values in a pivot table, however I can't see a way to do so with the library.

For example:

A book can be loaned to many people, so we have a `book_person` table a `due_date` property.

Normally, you can just do `wherePivot()`. Do you think would make sense in this library?
If so, would you accept a PR?

Thanks!

[2020-03-26 16:38] AlexVanderbist commented on #171
This will be fixed in v3 of the package.

Closing for now, thanks everyone for your help :)

[2020-03-26 16:38] #171 closed

[2020-03-26 16:39] AlexVanderbist commented on #357
Closing this due to inactivity. Feel free to open a new issue if you (or anyone else) is still experiencing this.

[2020-03-26 16:39] #357 closed

[2020-03-26 16:42] AlexVanderbist commented on #390
Closing this due to inactivity. Feel free to open a new issue if you (or anyone else) is still experiencing this issue.

Thanks!

[2020-03-26 16:42] #390 closed

[2020-03-26 16:44] AlexVanderbist commented on #402
Not sure what happened there, but this recovered a day later 🤷‍♂

[2020-03-26 16:44] #402 closed

[2020-03-26 16:45] AlexVanderbist commented on #411
This will be fixed in v3 via https://github.com/spatie/laravel-query-builder/pull/443. Thanks!

[2020-03-26 16:45] #411 closed

[2020-03-27 08:59] AlexVanderbist commented on #421
Hi! I don't think I'd be afraid of some PHP magic to make this work. However, I think we've got this covered in v3 via https://github.com/spatie/laravel-query-builder/pull/443? Will this do the job for everyone?

[2020-03-27 20:01] ablishek opened #457 "Limiting fields when no field is specified in URL"
Whilst building a query, I can select the fields I would like an API to provide. And this works perfectly when an API calls out those specific fields. But when no fields are assigned in the url, all fields are shown, even those fields that weren't part of the allowedFields list. This can cause issues with hidden data that I may not want to publicly show.

[code]

Is there any way, I can restrict o

[2020-03-29 12:36] AlexVanderbist commented on #444
Great idea :)

[2020-03-29 12:36] #444 closed

[2020-03-29 12:44] AlexVanderbist commented on #434
I'm not sure what's going on here. What version are you running? Did you try anything else?

[2020-03-29 13:08] AlexVanderbist commented on #439
Can't this be solved with 1 custom sort as well? Extending `SortsField` and adding the additional `orderBy`? It could look something like this:

[code]

[2020-03-29 13:36] AlexVanderbist commented on #440
I agree that this is not the best default behaviour. Initially, I only added this because I didn't like the look of case sensitive URL parameters 🙈. Is there any reason to keep this in? I'd accept a PR that just gets rid of this on the v3 branch.

I'd accept a PR for that non-existing relationship exception as well.

[2020-03-29 13:51] AlexVanderbist commented on #442
Can we maybe just get rid of snake-casing the requested model/table name? Instead whatever is requested will be used as the table name. I don't think we use that requested value anywhere else.

[2020-03-29 13:54] AlexVanderbist commented on #445
Alright, glad you got it sorted!

[2020-03-29 13:54] #445 closed

[2020-03-29 13:58] AlexVanderbist commented on #446
Hi!

You can create a custom sort that simply calls the `inRandomOrder()` method on the query. The resulting request could look like this: `GET /users?sort=random`. Read more here: https://docs.spatie.be/laravel-query-builder/v2/features/sorting/#custom-sorts

The query builder only builds queries (what a surprise), what you want to do with the query is up to you. You can `paginate()`, `get()`, `f

[2020-03-29 13:58] #446 closed

[2020-03-29 14:10] AlexVanderbist commented on #448
The easy solution for that would be to  create new relationship on the `Post` model that has the `orderBy` and `take` in there:

[code]
And use it: `->allowedIncludes(['highlightedComments'])`.

Alternatively I'd accept a PR that adds support for custom include classes.

Good luck!

[2020-03-29 14:10] #448 closed

[2020-03-29 17:49] ablishek commented on #446
Sorry I wasn't clear enough. When I said pagination, I actually mean in realation to the above random function for included relationships.

Meaning, that if I got related posts, I could limit those posts by 10 instead of bringing all of them onto view.

For now I have been able to accomplish this by assigning a special relationship in the model called randomPosts where I run random plus take funct

[2020-03-30 12:01] cosecantt opened #458 "AllowedFiliter callback throws an error"
Laravel 6.15.1

Filter url:
````/search?q=test&filter[country_code]=US&filter[rating]=3````

The following

[code]

throws error

[code]

But when I remove typehint ````Builder```` as:
[code]
it does not throw any error works as expected.

[2020-04-01 05:38] shingsoso opened #459 "Filtering & Sorting by Model append Attributes"
Is there any way to implement filtering & sorting by the model appended attributes ?
For example :

[code]
I want to do sorting on appended attributes such as average_rating , total_review_count, etc

[2020-04-02 15:35] gpibarra opened #460 "ignore(null) ignore "false" value"
In "User.php"
[code]

In "UserController.php"
[code]

int "routes/web.php"
[code]

Request:
[code]

Response:
[code]
Expected response:
[code]

[2020-04-06 01:53] martinandersen3d opened #461 "[Help Needed] Exclude from search results"
I have a Model:

- Profile
[code]

Lets say my **profile table** looks like:
[code]

My search Request looks like:
`/profiles?filter[city]=a`

### The Problem:
in the _backend_, I want to remove some of the id's before the respond is returned.
In my situation, I want to exlude the ids [2,3,4]

**How can I in the backend write a rule that will exlude/remove some of the Id's from the query?**

-----

[2020-04-06 02:00] #461 closed

[2020-04-07 05:56] zabavnikov commented on #457
Same problem.

[2020-04-07 12:35] JTinkers opened #462 "Filtering greater than, lesser than etc."
I'm looking all around the web and I can't seem to find any answer.

Does Spatie support queries with `?filter[id]>=11`? a.k.a 'greater than or equal'.

I'm trying to find a way not to have to declare 5 filters per column, which in this case will give me 36 filters - each being:

- ge__[column]
- le__[column]
- l__[column]
- g__[column]
- [column]

[2020-04-07 14:39] malinushj commented on #441
@AlexVanderbist Am I good to just use the v3 branch for now until v3 is released? Any possible timeline on that? (on 2.8.0 at the moment).
Many thanks @hivokas for the PR!! 🎉

[2020-04-13 10:01] #367 closed

[2020-04-13 14:35] mokhosh opened #464 "Use with Livewire"
I saw this https://github.com/spatie/laravel-query-builder/issues/417 and wanted to give it a test, but I think you actually can't use this with livewire because you can't set `filter[name]` as a php variable name:

[code]

[2020-04-13 15:01] mokhosh commented on #464
For anyone interested. If you use `wire:model="filter.name"` it updates querystring's `filter[name]`.

[2020-04-13 15:01] #464 closed

[2020-04-13 20:17] ondast commented on #457
Same problem. Also for related models.

[2020-04-14 07:42] AlexVanderbist commented on #450
Good point! Let's continue this discussion in the PR.

[2020-04-14 07:42] #450 closed

[2020-04-14 08:37] AlexVanderbist commented on #462
Hi, we currently don't support this and probably aren't going to add this any time soon.

A single custom filter could be used to achieve something like this: `users?filter[money]=>1` and even more advanced queries like `users?filter[money]=>1&<100`. But that'll leave parsing the `>1&<100` string up to your custom filter.

Good luck :)

[2020-04-14 08:37] #462 closed

[2020-04-14 08:42] AlexVanderbist commented on #452
Hey @gutofurlan, have a look at the docs regarding custom filters: https://docs.spatie.be/laravel-query-builder/v2/features/filtering/#custom-filters

When using the custom filter @btxtiger has posted above, the `$value` will be the value you supplied in the request. For example: `GET /users?filter[hasName]=Jhon` will have `$value = 'Jhon'` in the custom filter.

Good luck and feel free to open a

[2020-04-14 08:42] #452 closed

[2020-04-14 08:54] AlexVanderbist commented on #458
Hey, you'll want to import the `Builder` typehint as `Illuminate\Database\Eloquent\Builder` (Eloquent builder instead of database query builder).

`QueryBuilder` actually extends `Illuminate\Database\Eloquent\Builder`, so you can also just typehint `QueryBuilder` in your callback and still use all Eloquent methods like `where`, scopes, etc...

Good luck and feel free to open a new issue if this is

[2020-04-14 08:54] #458 closed

[2020-04-17 08:15] KillWil opened #466 "Integrity constraint violation: 1052 Column &#039;column&#039; in where clause is ambiguous"
Hello,

Filtering model field and in the same time with scope and join may cause ambigous in where clause.

**How to reproduce :**
1 table 'table_one' with a code field
1 another table 'table_two' with a code field
1 model 'table_one' with a scope 'MyScope' (I'm not using whereHas functions which is too long to execute)

[code]

Then call a get request :
`GET myroute?filter[code]=15&filter[my_scop

[2020-04-17 16:58] abishekrsrikaanth opened #468 "Eagerload additional relations if a particular relation is included in the query"
So, I have a 2 relations added to my `allowedIncludes` method.

Let's say for example
[code]

If the request includes `saleable_products` to be included, I want to load additional child relations for `saleable_products` but not when the `products` relation is included.

How do I go about doing this? Is there a way to check if the underlying query has a specific `include` included?

Or can I do

[c

[2020-04-17 20:09] renanBritz commented on #457
"allowedFields" is not working at all. WTF?

[2020-04-25 12:57] sribna opened #470 "Ignore arrays"
I use this awesome package to filter different lists. A user can manipulate a GET request and pass an array instead of string, which leads to a fatal error. Not a big problem, but would it be better to forbid arrays for some fields?

[2020-04-28 21:22] binaryweavers commented on #464
It updates queryString but it works in next request. For example you search for something say the field on component gets updated but it doesn't filter data in that request. After getting response it updates query string in the url, now in next request, for example you clear the search field but it will reflect the filter from url and will give you the filtered results based on previous value

[2020-04-28 21:26] binaryweavers commented on #464
It doesn't clear the query string
[code]
this doesn't work as well
[code]

[2020-05-01 16:59] Dardanboy opened #471 "allowedFilters doesn't filter elements with allowedIncludes"
Hi,

Thank you for this package that is very useful. I began to use it today but I struggled with **a problem that is not documented and without examples with that case**.

I lost some time today until I figured it out.

When using `allowedIncludes` and `allowedFilters`, at same time, it appears that when `allowedIncludes` is defined after `allowedFilters`, filtering doesn't work.

I read doc mult

[2020-05-05 09:02] scramatte opened #472 "default table for allowedFields ..."
Hello,

I append allowedFields to my queryBuilder and get query must be something like bellow

`
/api/v1/contacts?filter[name]=firstname&fields[billing.contacts]=id,name
`

As you can see,  for fields, I must specify table name else it doesn't works and raise exception.

Query builder shouldn't detect automatically default table name ?

[code]

Regards

[2020-05-08 11:28] chelout opened #473 "Appending attributes based on scope"
Hi, i'm looking into using package in my project and have a question about appending attributes.
I'd like to add conditional attributes to response based on query result.

Let's say i have `Post` model with `comments` relation

[code]

I can get posts list from `PostController` like this:
[code]

With following request `/post?filter[comments_statistics]=1&append=comments_statistics`

So the questi

[2020-05-12 12:03] tusharsinhparmar opened #475 "Can we use table name instead of class"
Thanks for building awesome package.

Can we use table name instead of class
Form example

`QueryBuilder::for('table_name')
            ->allowedFilters('all')
            ->get();`

If not then how to achieve that?

Thanks

[2020-05-14 19:05] gpibarra commented on #442
Maybe change the syntax of "allowedFields" method
`
QueryBuilder::for(Post::class)
    ->allowedFields([Post::class=> ['title'] , Author:class => ['author.id', 'author.name']])
    ->allowedIncludes('author');
`
you can get an instance of the class and the table name
`
$tableName = (new $modelClass())->getTable();
`

[2020-05-18 17:05] telkins commented on #432
Any traction on this issue...?  Has anyone taken a look at @ampersand 's potential fix?

[2020-05-21 02:44] ashgibson commented on #459
Appended attributes are added to the model after the database is queried. You will need to do a sort on the collection returned from the query.

`
$collection = QueryBuilder::for(MyModel::class)->get();
$collection->sortBy('average_rating');
`

[2020-05-22 17:24] #449 closed

[2020-05-24 22:57] enkota commented on #122
Hey, @alvarezskinner managed to get this to work by creating a Filter Scope:

**First, add the scope to `allowedFilters()`**
`AllowedFilter::scope('title'),`

**Then inside your Model.php**
[code]

[2020-05-25 09:04] AlexVanderbist commented on #374
Closing this due to inactivity. Feel free to open a PR is you stumble across this issue and want the feature.

Thanks!

[2020-05-25 09:04] #374 closed

[2020-05-25 09:06] AlexVanderbist commented on #421
Closing this due to inactivity. Feel free to open a new issue if you (or anyone else) is still having issues with this on the v3 branch. We'll hopefully tag this as soon as we've gone through the rest of the issues.

Thanks!

[2020-05-25 09:06] #421 closed

[2020-05-25 09:12] AlexVanderbist commented on #432
Fix looks promising, tagging it now :)

[2020-05-25 09:12] #432 closed

[2020-05-25 09:35] AlexVanderbist commented on #432
@telkins on a side note: there's also `AllowedFilter::trashed()` as a filter for soft deleted models.

[2020-05-25 09:51] AlexVanderbist commented on #434
Closing this due to inactivity. Feel free to open a new issue if you (or anyone else) is still experiencing this issue.

Thanks!

[2020-05-25 09:51] #434 closed

[2020-05-25 09:55] #439 closed

[2020-05-25 17:17] telkins commented on #432
Thx.  Not sure I need it right now, but it's good to know. 🤓

[2020-05-27 07:23] #475 closed

[2020-05-27 07:31] AlexVanderbist commented on #442
@gpibarra even thought I like the idea, I think it'll limit people that are trying to select data from manually joined tables (so from queries without a model). We could support both by checking if the given string is a class but in that case it'd rather just support one correct way that is properly documented.

I think the easiest solution here is just to remove the snake-casing of the selected f

[2020-05-29 10:01] #420 closed

[2020-06-10 11:42] irineujunior commented on #373
Same here.
The test is good, but this query dosent work.
`select * from "test_models" order by "related_models"."name" asc`
You cant order by `related_models` without a join for example.

Error message:
`Column not found: 1054 Unknown column 'related_models.name' in 'order clause'`

[2020-06-12 22:33] s8v opened #490 "appending attributes / laravel resources"
Hi, I'm having problems using appends with laravel resources. The problem is that resources loads it even if I didn't explicitly called it in request. How could I fix it?

[2020-06-14 17:41] malinushj commented on #490
Hi @s8v !
The way I handle appends with Resources is by settings the `$appends` fields on the model to public and in the resource I'm checking it like this:
[code]

[code]

This way if you have a controller which sets the appends either through the query builder or with code (`->appends('my_append')`) it will work the same in the resource.

[2020-06-14 19:27] s8v commented on #490
Nice, it's working. Thanks!!!

[2020-06-14 19:27] #490 closed

[2020-06-17 06:56] #455 closed

[2020-06-17 07:00] #456 closed

[2020-06-17 07:08] AlexVanderbist commented on #457
Hi! This not including all allowed fields by default is actually by design. The Query Builder will only modify the underlying query if it's requested to do so. So without a request for specific fields, we wont add any selects. They're also allowed fields and not default fields :)

The easy way you could fix this is by adding your own `select()` with a set of default fields. Maybe store them in a s

[2020-06-17 07:08] #457 closed

[2020-06-17 07:09] #459 closed

[2020-06-17 07:26] AlexVanderbist commented on #460
You're right! Let's continue this issue in the PR.

[2020-06-17 07:26] #460 closed

[2020-06-17 07:30] AlexVanderbist commented on #466
Thanks! Let's continue this issue in your PR.

[2020-06-17 07:30] #466 closed

[2020-06-17 07:33] #468 closed

[2020-06-17 07:44] AlexVanderbist commented on #470
Hi @sribna, can you give an example of such a request? Something like this: `GET /users?filter[name][key]=value`?

[2020-06-17 07:46] AlexVanderbist commented on #471
Interesting, I haven't had any issues (yet) with the order of includes and filters. Could you share your `FilterPageDateStarts` custom filter to have a better idea of what's going on? Feel free to also PR a failing test if you're feeling like it.

Thanks for looking into this!

[2020-06-17 07:49] AlexVanderbist commented on #472
You are right, this behaviour seems to have broken/been removed somewhere in the past. I'll try to fix this soon!

[2020-06-17 07:54] #473 closed

[2020-06-17 07:56] AlexVanderbist commented on #470
This will be fixed by #488

[2020-06-17 07:56] #470 closed

[2020-06-18 18:23] 1995Everton commented on #447
I saw something about your problem here https://github.com/spatie/laravel-query-builder/issues/324, I hope it helps

[2020-06-18 18:29] accidentul commented on #447
Thx a lot it seems that it’s a problem with Apache ... with nginx works perfectly

[2020-07-09 13:11] fabianlugones commented on #324
Hi. After adding the config file to the laravel app I had to refresh the laravel cache to get rid of the filter error. Here are the commands that I used:

php artisan cache:clear

php artisan route:clear

php artisan config:clear

[2020-07-09 13:12] fabianlugones commented on #330
Hi. After adding the config file to the laravel app I had to refresh the laravel cache to get rid of the filter error. Here are the commands that I used:

php artisan cache:clear

php artisan route:clear

php artisan config:clear

[2020-07-13 16:14] Yehonal commented on #244
This feature is really needed, however for now I'm using a workaround...inside the model:

[code]

So, when you use `allowedIncludes(["pictures"])"` it will be properly filtered by the whereIn condition. However, it's not so much dynamic. Please improve it!

[2020-07-14 07:10] FZ-Iskandar opened #495 "Zero ignored as a filter value"
Hi,

First of all, thank you for this amazing package. It saved me a lot of time and it works really well. It has almost everything covered.

Still, there are some edge cases where it seems to fail.

In my app, I have a datatable of users and some filtering fields. One of them is a selector that lets you filter by "blocked status" to get only active, inactive(blocked) or both type of  accounts. Th

[2020-07-20 09:57] rorkotech commented on #318
I can't find the `FuzzyFilter` class. Is there anything I'm missing?

[2020-07-20 12:27] dominikb commented on #318
@rorkotech the fuzzy filter class was used as an example for a custom filter implementation. It is not provided in this package.

[2020-08-07 17:34] boris-glumpler opened #506 "Passing a Relation object to QueryBuilder not possible"
Hello,

just tried to pass a `BelongsToMany` relation into `QueryBuilder` and got told off:

[code]

This makes sense because `$builder->getQuery()` at line 32 would actually return a `Illuminate\Database\Eloquent\Builder` instance if `$builder` is an instance of `\Illuminate\Database\Eloquent\Relations\Relation`.

I did check `QueryBuilder` beforehand, tho, and the docblock does suggest that `$bu

[2020-08-18 13:44] AlexGodbehere commented on #506
I second this question. How does one use this package with eloquent relationships? I'm trying to call the following and receiving the same error as above:

`return QueryBuilder::for(auth()->user()->friends()->allowedFilters('username'))`

[2020-08-18 13:48] AlexGodbehere commented on #506
@boris-glumpler After coming across [this](https://github.com/spatie/laravel-query-builder/issues/441) issue, it seems as though all you have to do is call `->getQuery()` on the relationship.

[2020-08-18 21:18] boris-glumpler commented on #506
Sure, but then you lose access to any pivot data. Anyways, seems like v3 fixed this issue.

[2020-08-18 21:25] #506 closed

[2020-08-27 19:45] jeanali opened #515 "How can ignore the wrong filter prams ?"
**New with this package**

I'm using custom query filter and have URL for filtering the data like this

http://example.test/posts?filter[name]=true

All things is good but once I try to change filter[name] to filter[anything] I got this error

 ` Requested filter(s) anything are not allowed. Allowed filter(s) `

How can check if it right do filter, failed show all posts like normal ?

[2020-09-02 06:13] Yeenot commented on #269
@AlexVanderbist Hello, I wanted to reopen this issue because I think it is not possible to select fields when using manual join (just like your query above).

Url: `/users?fields=id,email`

Generated query: `select * from users inner join user_details on user_details.user_id = users.id`

[2020-09-04 12:58] pedro-santiago opened #520 "Laravel 8 Compatibility"
Seems like Laravel 8 is only compatible with a newer version of `illuminate/support`. I've checked the code and it appears not to have any compatibility issues.

Do you guys know any possible impacts?

[2020-09-04 14:19] marttosc opened #522 "AllowedInclude can't be used for nested relationships"
Version: 3.0.0

I have a nested relationship that I can pass it on in the allowedIncludes method like...

[code]

... and it works fine.

But, when I try to use the `AllowedInclude::relationship` method, it throws an error.

[code]

Exception:

[code]

[2020-09-08 08:06] AlexVanderbist commented on #520
Don't think so! I'll be tagging Laravel 8 support in like 10 minutes :)

[2020-09-08 08:06] #520 closed

[2020-09-08 19:17] maiconmva opened #524 "Bug on Select Field when field is write in UPPERCASE"
when i try to get only PES_COD field,

this error shows:
![image](https://user-images.githubusercontent.com/5194641/92518415-b5090880-f1ee-11ea-81a0-4eb4d74e452e.png)

and if i get updated_at works fine..
this query works:

![image](https://user-images.githubusercontent.com/5194641/92518341-91de5900-f1ee-11ea-9dd9-046430ad4a64.png)

[2020-09-09 00:46] aliene-ctrl commented on #515
This is actually a really annoying feature of an otherwise great package.

Is it just me or does [`ensureAllFiltersExist`](https://github.com/spatie/laravel-query-builder/blob/2258ce2d1accb5a286c9fef2bcf58398f1889dde/src/Concerns/FiltersQuery.php#L63) take it's concern a little too seriously? Is the exception really necessary? Is this method even necessary?

[2020-09-09 12:51] marttosc commented on #524
Hi maiconmva,

This happens because it use the snake-casing of the selected fields. Did you try to pass `pes_code` instead of `PES_CODE`?

[2020-09-09 13:08] maiconmva commented on #524
hello @marttosc

this should work:

![image](https://user-images.githubusercontent.com/5194641/92602215-3a8ac800-f284-11ea-9066-52837b3bffbd.png)

this is what u told to do

![image](https://user-images.githubusercontent.com/5194641/92602348-6a39d000-f284-11ea-808b-6a5d323dcaa1.png)

[2020-09-09 13:19] marttosc commented on #524
Ok, I've understand now. Your model has uppercase fields.

You can try to use [filter aliases](https://spatie.be/docs/laravel-query-builder/v2/features/filtering#filter-aliases), like this.

[code]

If this doesn't work, the problem probably is in the `ensureAllFieldsExist` method.

[2020-09-09 13:25] marttosc commented on #524
It seems that's a similar problem that occurs in [#515](https://github.com/spatie/laravel-query-builder/issues/515#issuecomment-689229711).

[2020-09-09 14:02] aliene-ctrl commented on #524
It's a really annoying feature. IMO `ensureAllFieldsExist` can be safely deleted.

[2020-09-10 01:58] bitrevo opened #526 "Error after upgrading from v2.8.2 to v2.8.3"
The database query failed when I upgrading laravel-query-builder from v2.8.2 to v2.8.3. Downgrading to v2.8.2 temporary fix the issue. I am using Laravel 7.

[code]

[2020-09-14 03:37] Yeenot opened #527 "Cannot use include alias on allowedFields"
Hello, I have a problem where I cannot use my include alias on allowedFields.

Example:
This will not work: `/sample?include=tag&fields[test]=id,name`
but this will work: `/sample?include=tag&fields[taggable]=id,name`

[code]

[2020-09-15 10:51] thoss opened #529 "Can not load deleted relations"
I'm using the `AllowedFilter::trashed()` Filter.
Its working on the root Model but I cant load deleted relationships with the `allowedIncludes` method or filter on relations.

Is it possible to inherit the `withTrashed` to the childs?

[2020-09-17 15:11] oneart-dev opened #530 "Filtering ignored values if the supplied value is an array"
Hello and thank you for plugin.

I found a problem when you using scope filter with multiple values.

Setup looks like:
[code]

Scope:
[code]

Query:
[code]

Result
[code]

[2020-09-17 19:51] aliene-ctrl commented on #524
#525

[2020-09-23 19:36] marttosc commented on #522
After some workarounds, when I do this...

[code]

And change the line 29 of `AddsIncludesToQuery.php`

https://github.com/spatie/laravel-query-builder/blob/e17fbfc4a5a89f320d5d99eb0373b5224551d98f/src/Concerns/AddsIncludesToQuery.php#L29

to...

[code]

Then, it works!

Does it make sense to be implemented in a PR?

[2020-09-24 14:22] francoism90 opened #531 "whenAppended no longer working"
I don't know if this is an QueryBuilder bug or Laravel has changed this call:

[code]

[code]
The appending fields are just not included in the response.

[2020-09-24 14:35] francoism90 commented on #531
It seems this change has caused the whenAppended method to stop working: https://github.com/laravel/framework/commit/9c297949bc2ded6a7b6f205ddddf0b238967c506

[2020-09-24 15:13] francoism90 commented on #531
It seems to be caused by spatie/laravel-json-api-paginate, if I'm using `->get()` instead of `->jsonPaginate()` the whenAppends are working fine.

https://github.com/spatie/laravel-query-builder/blob/master/src/QueryBuilder.php#L96 - checks only for Model/Collection, but this returns a `LengthAwarePaginator` instead of `Illuminate\Database\Eloquent\Collection`

[2020-09-27 06:06] arukas commented on #531
yes,me too.
I use $model->allowedAppends(['src'])->paginate(); is's not show src
$model->allowedAppends(['src'])->get(); is't show src.

[2020-09-30 12:43] #531 closed

[2020-09-30 23:23] freekmurze commented on #440
We'll take a look at this in the next major version.

[2020-09-30 23:23] #440 closed

[2020-09-30 23:23] freekmurze commented on #442
We'll take a look at this in the next major version.

[2020-09-30 23:23] #442 closed

[2020-10-01 13:52] #495 closed

[2020-10-02 09:02] dominikb commented on #515
I think the exception does exactly what it is supposed to do: it let's you react to an invalid query by generating a meaningful error response. This is quite helpful if you do not control the consumer of your API.

@jeanali : what you were asking for could be solved like this

[code]

[2020-10-02 09:47] denitsa-md opened #535 "Has v3 been merged into v2.8.3 by mistake?"
I did a `composer update` today and started getting errors on type hints of the eloquent builder incompatible with spatie's query builder. It surprised me because it's a change introduced in v3 and we're at `^2.3` in composer.

Then I stepped through to the QueryBuilder and it looks like the one from v3 even though we're on v2.

Then I checked my composer.lock just to be sure we're at 2.8.3 and no

[2020-10-02 11:06] dominikb commented on #530
Hi, @oneart-dev !

You are right, there is a problem with filtering ignored values if the supplied value is an array:
[code]

This is because the `array_diff` implementation compares the string representation of values:

However, even if this would work, I think the resulting query would still pose an unexpected result:

[code]

As a temporary work-around I would suggest to use a custom filter:
[c

[2020-10-02 15:32] freekmurze commented on #535
I've fixed this by releasing 2.8.4

[2020-10-02 15:32] #535 closed

[2020-10-02 15:32] freekmurze commented on #535
Thanks for reporting btw 👍

[2020-10-02 15:32] freekmurze commented on #526
This has been fixed in 2.8.4

[2020-10-02 15:32] #526 closed

[2020-10-05 19:18] AlexVanderbist commented on #471
Closing this due to inactivity. Feel free to open a new issue if you (or anyone else) is still experiencing this issue.

Thanks!

[2020-10-05 19:18] #471 closed

[2020-10-05 19:23] AlexVanderbist commented on #472
I've just checked this again in the latest version of the package and everything seems to be working as expected. This test should cover this specific feature as well: https://github.com/spatie/laravel-query-builder/blob/766db08500085247a88ea56295c328f3eb0648ef/tests/FieldsTest.php#L68

Feel free to open a new issue about this if you (or anyone else) is still experiencing this issue. Thanks!

[2020-10-05 19:23] #472 closed

[2020-10-05 19:30] AlexVanderbist commented on #515
Hi! v3.3.0 adds a new config option to disable this exception. I've also opened a discussion for making the exception behave a bit better in a real world scenario here: #537

Thanks for your concern and time!

[2020-10-05 19:30] #515 closed

[2020-10-05 20:02] AlexVanderbist commented on #522
Related: https://github.com/spatie/laravel-query-builder/pull/414 (cc @dominikb)

As discussed in the linked PR, the parts or the models of a relationship are mapped to the parts of the alias. E.g. `AllowedInclude::relationship('userAlias.postsAlias', 'users.posts')` will cause the following allowed includes: `userAlias` and `userAlias.postsAlias`.

However, the more I look at it, the more I think

[2020-10-05 20:07] AlexVanderbist commented on #524
Hi @maiconmva, sorry you ran into this issue. This is something we'll be addressing soon in dominikb's PR (#534). As @marttosc suggested using an alias is probably the best way forward for now:

[code]

[2020-10-05 20:07] #524 closed

[2020-10-05 20:12] AlexVanderbist commented on #527
Hi @Yeenot, this is something that's not currently supported. Aliases defined in the `allowedIncludes` cannot be used as aliases in the `fields` query parameter. In fact, aliases for `allowedFields` aren't supported at all right now. Feel free to open a PR or an issue to discuss this further. Thanks :)

[2020-10-05 20:12] #527 closed

[2020-10-05 20:22] AlexVanderbist commented on #529
Hi @thoss, this is not possible out of the box with the `AllowedFilter::trashed()` filter. I'd suggest creating a custom filter that filters the query by `trashed()` scope on the relationships. Something like this:

[code]

Good luck and feel free to open a new issue if this does not answer your question.

[2020-10-05 20:22] #529 closed

[2020-10-07 21:17] timdorey opened #539 "Case insensitive query on relation"
Partial filters on related fields are case sensitive on postgresql.

I noticed that this issue was raised for partial filters on issue 14 and was resolved by casting the search value to lower case. It doesn't appear that this same methodology is applied to related fields.

Can the partial filters on related fields be case insensitive as is the case with the parent table?

[2020-10-09 21:36] dlogvin opened #541 "400 when calling from REST API in Production"
Block of code being involved:

[code]

In local environment it works as expected, in production I get a 400.

[2020-10-11 07:45] dominikb commented on #541
Hi @dlogvin,

an HTTP 400 response is a generic error response and it's hard for us to help you without further information. Can you provide the stack trace or the exception that causes this error? (**Please make sure no sensitive data is included in the stack trace!**)

[2020-10-13 06:20] dlogvin commented on #541
Hello! Apparently, I cannot make use of `?filter[duedate]=date` in production, I had to use `?duedate=2020-05-25` for example. I ended up making the query myself since I still got some trouble while filtering, I was not getting what I needed with `?duedate`

[2020-10-13 06:20] #541 closed

[2020-10-19 07:27] ivanradojevic-web-dev opened #549 "Class 'Spatie\QueryBuilder\QueryBuilder' not found"
I was installed "spatie/laravel-query-builder": "^3.3",
and try basic example, but I have an error Class 'Spatie\QueryBuilder\QueryBuilder' not found?

[code]

[2020-10-19 07:36] #549 closed

[2020-10-20 21:25] freestyledork opened #553 "Custom sort on EAV attribute"
I am using https://github.com/rinvex/laravel-attributes to add EAV pattern to models. I can't figure out a proper way to resolve the sort query based on an attribute name. The default model attributes work fine. I can filter using the whereHas method and it resolves the model relationship. Any advice would be appreciated.

WhereHas resolved EAV query
[code]

Sort unresolved EAV query
[code]

[2020-10-23 14:12] freestyledork commented on #553
I ended up building my own pre-processor to handle adding the joins required before sending the query to the query builder.

[2020-10-23 14:12] #553 closed

[2020-10-24 10:54] n-u-l-l-e-d opened #555 "Inclusions of type "morphTo" and "belongsTo" are null when "allowedFields" is used"
:x:
[code]
:x:
[code]
:heavy_check_mark:
[code]
:heavy_check_mark:
[code]
:heavy_check_mark:
[code]

_Originally posted by @n-u-l-l-e-d in https://github.com/spatie/laravel-query-builder/discussions/554_

[2020-10-24 20:10] n-u-l-l-e-d commented on #555
This is related with Laravel:

Adding the foreign key columns and it would work:

[code]

Sorry!

[2020-10-24 20:10] #555 closed

[2020-10-27 18:05] AlexVanderbist commented on #539
Sure! Feel free to send a PR to change this behaviour in the same way as it was fixed in #14

[2020-11-10 08:16] Yeenot commented on #448
@AlexVanderbist but what about if I want to sort the result of the `->allowedIncludes`?

[2020-11-11 00:51] Yeenot opened #560 "Allowed sort for allowed includes"
How to sort relationship records specified on allowed includes through request sort parameter? I mean, I am aware that it can be put statically on the declaration of relationship in the model but it does not give the user of the api an option to modify the relationship records.

[2020-11-23 16:28] beingdo opened #565 "When use the ignore method on the allowedFilters, comma separated list of values must have the same order"
Hi, thank you for the package.
When I use the ignore method, if I pass a comma separated list of values in the request, the results are not as my expected.
The order of the values in the comma separated list must be the same with the value array passed to the ignore() method.

Here are my test case:

[code]

I think the function in this method:
**array_diff_assoc()** should be **array_diff.**

[co

[2020-11-23 20:21] jonneroelofs opened #566 "Ambiguous filters partial"
I noticed that a PR was merged to fix the issue that you can get an ambiguity sql error when filter and sorting at the same time when the table sorted on is joined and has a overlapping field name.

For consistency sake I will make a similar PR to fix the same problem for Partial Filters.

[2020-11-26 05:42] tsndp opened #568 "How can I achieve OrWhere"
Taking from official Docs:

[code]

How can i get below data:
$users contain all users with "john" in their name **OR** "gmail" in their email address

[2020-11-26 11:10] #566 closed

[2020-11-26 11:18] AlexVanderbist commented on #560
Currently this package doesn't offer an easy, out of the box way to do this. It's easy for one to one relationships (e.g. sort by `$user->profile->id`) but it gets funky when having to sort with a one to many relationship (e.g. sorting by `$user->posts` `created_at` field: what `Post` model will be used as the sorting value?).

TL;DR: it's not in the package by default but you can create a custom

[2020-11-26 11:18] #560 closed

[2020-11-26 11:21] AlexVanderbist commented on #565
Hi! Thanks for the detailed explanation. I'm not sure if `array_diff` will fix it, but maybe sorting to array first will work. That way the items in the array are always queried in the same order.

Feel free to send a tested PR to fix this and I'll be happy to merge it!

[2020-11-26 11:22] AlexVanderbist commented on #568
Hi! We currently don't support this out of the box. I'm happy to discuss this issue further if someone would be willing to create a PR to add this functionality somehow.

[2020-11-26 11:22] #568 closed

[2020-11-26 11:24] AlexVanderbist commented on #568
On a sidenote: something similar was already discussed before in this issue: https://github.com/spatie/laravel-query-builder/issues/367

In that case the solution was using custom sorts with each their own `orWhere` query.

[2020-12-02 11:06] ishan-biztech commented on #399
Do we have any update on this? It seems like `append()` is not working with relationship data when using dot notation(`.`).

[2020-12-04 17:00] ogribiennikov-newfire opened #569 ""Array to string conversion" error when AllowedFilter's value is a multidimensional array"
Hello,

I have issues when try to allow filtering by value that is a multidimensional array.

[code]

where `metadata` is an array:
[code]

I always get the error "**Array to string conversion**". Because in the `\Spatie\QueryBuilder\AllowedFilter::resolveValueForFiltering` the `array_diff` function is used. And this function is unable to convert my value to a string.

Thank you for helping.

[2020-12-06 20:04] michgeek commented on #147
This one would allow you to paginate and reuse the query

[code]

[2020-12-07 23:31] badams commented on #318
Sorry @AlexVanderbist I don't really understand how this would work - calling `allowedFilters` or `allowedSorts` multiple times on a query object will override the filters/sorted that have already been defined.

So if you have a base query that defines some filters and then you want to take that base query and add some additional filters in a particular situation - you have to redefine all the bas

[2020-12-09 22:06] forrestedw opened #574 "Custom filters ignored if more than one exists but not all used in a query."
Hi. First off, amazing package. Thank you.

I have a stack of customer filters that look a bit like this:

    ->allowedFilters([
                AllowedFilter::custom('foo', new FooFilter),
                AllowedFilter::custom('bar', new BarFilter),
                AllowedFilter::custom('baz', new BazFilter),
            ])

All those filters look a bit like this:

    public function __invoke(B

[2020-12-23 21:09] #569 closed

[2020-12-23 21:09] #574 closed

[2020-12-25 20:54] mohhamedion opened #584 "issue when i use the allowedFilters()"
like in the picture, i passed ?level=1 to the url and this error show up.

![image](https://user-images.githubusercontent.com/41584933/103141856-67a79d00-46f2-11eb-98e1-5ab3d7c5b69f.png)

then, i change the url to ?filter[level] = 1 like in the documentation
and i got this
![image](https://user-images.githubusercontent.com/41584933/103141873-c3722600-46f2-11eb-87a8-6fe9c1d37e9d.png)

this is the c

[2021-01-03 11:06] AlexVanderbist commented on #584
Interesting! Can you share your query-builder config file with us?

[2021-01-03 17:29] DHSprout commented on #175
I am facing same issue. Could you please suggest any solution for this?

[2021-01-11 23:04] bcorcoran commented on #36
For anyone that needs to do this in 2021, on v3:

First, create a custom sort class, then the contents of your `__invoke` function should look like this:

[code]

relationship_id = your current model's relationship id field. This is just an example of a hasOne/BelongsTo.

[2021-01-12 15:21] thijsw commented on #332
I'm using this workaround for now:

[code]

[2021-01-13 15:30] AlexGodbehere opened #586 "Column not found when attempting to filter on pivot table"
I have a `User` model that is accessible via the `Company` model's `members()` relationship, defined like this:

[code]

I'm trying to filter by the `role` column on the pivot table using the following query:

[code]

But I keep getting the following error when requesting `/members?filter[membership.role]=manager`:

[code]

I'm able to filter by `username` no problem and the relationship is config

[2021-01-15 18:02] Radiergummi commented on #584
I experienced the same issue, but noted I didn't flush the configuration cache after installing and publishing the config file. Right after running `artisan config:cache` filtering was working flawlessly. Contrary to the documentation, the config file seems to be required though.

[2021-01-17 12:46] AlexGodbehere commented on #586
Looking into this a bit further it appears as though the issue stems from `FiltersExact.php` checking if a method exists with the first part of the `.` delimited string (in this case `membership`) on the model by calling `getModel()`.

It seems as though `getModel()` is not resolving the appended pivot column so therefore doesn't exist.

[code]

If I print out the contents of `$query->getModel()`

[2021-01-18 00:16] JanMisker commented on #413
Thanks for your great open source projects!
I am looking for this feature, so ended up in this (closed) question (and a few others).

This SQL
[code]
is obviously not valid SQL, there should be a `JOIN`.
My impression is that this will never work, because how I understand it Eloquent loads the related table rows in a second query.

[2021-01-18 00:27] JanMisker commented on #413
Ah nevermind I found this issue with more comments: https://github.com/spatie/laravel-query-builder/issues/36

[2021-01-19 14:24] ppisecky opened #587 "Setting array delimiter for a single filter"
As mentioned in issue #450 setting a delimiter on one filter overrides every other filter because the value is stored statically on the class.

It used to be that this was overriding includes and sorts but pull request 451 solved that problem: https://github.com/spatie/laravel-query-builder/pull/451/

But it didn't solve the bigger problem of these values being stored globally as a static property

[2021-01-20 09:20] arrilot opened #588 "Contributing guide is missing"
There is a link to [CONTRIBUTING.md](https://github.com/spatie/laravel-query-builder/blob/master/CONTRIBUTING.md) in [README.md](https://github.com/spatie/laravel-query-builder/blob/master/README.md) but there is no such file.

[2021-01-22 07:19] imknight opened #594 "InvalidFilterQuery when using in conjunction with json api paginate package"
if using QueryBuilder with allowedFilters, then it will break the JSON API package because the "page" query parameter

[2021-01-26 13:33] vicenterusso opened #597 "Support for Laravel Query Builder? -- Subject class `Illuminate\\Database\\Query\\Builder` is invalid."
Hello, I just installed and got this error.

This is my controller:

[code]
And this is my API response:

[code]

Also I have a Ray debug output inside `QueryBuilder's initializeSubject()`:

[code]

![image](https://user-images.githubusercontent.com/80538/105851353-b9796680-5fc1-11eb-928a-38ca5d0cccf9.png)

[2021-01-27 12:21] bianchi opened #598 "allowedFields by relation camelCase problem"
I have an error when trying to define allowedFields for nested relations with camelCase name. Shouldn't it work like include? [https://spatie.be/docs/laravel-query-builder/v3/features/including-relationships#include-casing](url)

Query string:
`include=localizacaoOrigem,material&fields[material]=nome&fields[localizacaoOrigem]=nome`

Error:
`Requested field(s) 'localizacao_origem.nome' are not allo

[2021-01-28 12:13] jovertical commented on #93
I created a `FilterableResource` trait:

[code]

Then use it like so:

[code]

[2021-02-08 11:03] #530 closed

[2021-02-08 11:03] #522 closed

[2021-02-12 09:23] DHSprout opened #605 "Filed selection not working for nested hasMany relationship"
Filed selection not working for nested hasMany relationship.

It is working proper when we have one to one relation.

Scenario: I have relation like
employee has many address and i want to specify got some fields from address in this case it is not working.

Could you please help me on this?

[2021-02-13 09:35] satun14 commented on #529
And so, if you got here, then your despair has reached its peak and you want to do a rather perverse thing through this tool =)

Stack:
[code]

First, we create a custom filter:
[code]

Now you can add this filter to the allowedFilters:
[code]
**Important!** You have to make sure that **allowedIncludes** is executed before **allowedFilters**, as our filter overwrites standard **with**

Now you can

[2021-02-14 15:45] plateena commented on #324
Hi. I got the same problems. But I'm working on packages. When I use the package on the  laravel app, it's working. error happened only when I run phpunit on the package itself.

[2021-03-08 06:58] ronssij opened #614 "Scope Filters of arrat values"
[code]

The query works using a callback filter.

[code]

But doesnt work on scope filter as expected. The filter value is not passed as an array but instead as a string.

![image](https://user-images.githubusercontent.com/24932380/110285556-5d711b80-801e-11eb-9e40-b929dce93d71.png)

[2021-03-08 07:01] #614 closed

[2021-03-11 06:52] ftaurino commented on #586
Perhaps you should try with a Resource

[2021-03-29 10:03] #565 closed

[2021-04-01 11:48] bianchi commented on #598
Someone know how to deal with it?

Besides I'm have the same problem with _append_

[2021-04-02 00:09] josephxanderson commented on #598
I'm investigating this issue as well. Is there any way we can use `camelCase` fields? Maybe something like `AllowedField::field('firstName', 'first_name')` similar to `AllowedSort::field()`?

[2021-04-02 06:23] reppair commented on #325
Interesting that the this discussion is quite for some time now, looking to solve this too

[2021-04-02 16:53] bskimball commented on #325
I ended up ditching route model binding when I'm using QueryBuilder
## Model
[code]

## Resource
[code]

## Controller Action
[code]

## Query URL
[code]

[2021-04-02 18:21] reppair commented on #325
I went @docmattman 's way:

**`QueryBuilderBindable` trait**
[code]

**Model**
[code]

**Query class**
[code]

**Controlle**
[code]

Works nicely.

[2021-04-08 08:27] tex1712 commented on #597
Maybe it's late, but for someone else it could be helpful.

You need to pass to the **QueryBuilder** the model itself. Also you need to indicate allowed for sorting fields.

Exemple:
`$comments = QueryBuilder::for(Comment::class)
->allowedSorts([
            'title',
            'created_at',
            'updated_at'
        ])
->get();`

[2021-04-08 08:29] #597 closed

[2021-04-08 14:24] Propaganistas opened #620 "Cloning QueryBuilder doesn't actually clone"
I'm building an index overview with some filter fields and also a discriminating results filter (by means of tabs):

![Schermafbeelding 2021-04-08 om 16 17 59](https://user-images.githubusercontent.com/6680176/114042838-1167ff80-9886-11eb-99e0-d7a8e4013f72.png)

The mentioned count badges should take into account the actual filtered result set, but of course without one filter applied.

So I have

[2021-04-09 13:51] vincent-lu opened #622 "Getting InvalidFieldQuery exception when using allowedFields with custom query parameters"
Hi I'm having trouble getting this to work:

Assuming this is what I got in my controller index():
[code]

If I query something like `/products?sort=-id&fields[products]=id` the above works as intended.

However if I add some arbitrary query parameters to my request url, say something like `&foo=bar` so the query now looks like `/products?sort=-id&fields[products]=id&foo=bar` I get InvalidFieldQue

[2021-04-13 10:30] leon0399 commented on #325
@reppair haven't you yet faced an issue with nested controllers:

`GET /posts/{post_id}/comments?include=liked_by`

Controller:
[code]

Post:
[code]

Since router will try to resolve `Post` through `QueryBuilderBindable`, which doesn't have `likedBy` allowed to include, it will fail with `InvalidIncludeQuery` exception

[2021-04-13 11:17] reppair commented on #325
I will try, and let you know.

[2021-04-13 12:15] yoelpc4 commented on #598
Try snake case for the relation part for current solution e.g:

[code]

[2021-04-14 19:11] cjaoude commented on #173
hi @denitsa-md

Did you figure this out? I'm encountering the same issue. The scope works fine on the parent model, but once moved to an extending model, return is always empty.

Although what's odd is, this only happens for the spatie method, and not a Model 'where' method for example.

tnx, if u figured it out

[2021-04-20 13:50] shoxton commented on #172
Whats the current status of this pr?

[2021-05-06 04:36] timoteo7 commented on #324
I have the same problem in Lumen 8 yet
with simple allowedFilters(['title'])

[2021-05-17 10:03] #584 closed

[2021-05-20 00:04] vincent-lu opened #624 "Filter doesn't not filter by null/empty"
This issue seemed was fixed a long time ago here https://github.com/spatie/laravel-query-builder/issues/88 / https://github.com/spatie/laravel-query-builder/commit/2334c94e840de882dd20e8b54c51b357109e5bcd

But using current version of  `"spatie/laravel-query-builder": "^3.3"` I don't get the expected result when:

Request: `/users?filter[last_name]=`
Expected behaviour: `User::where('last_name', '

[2021-05-20 06:29] freekmurze commented on #624
I'm thinking that changing this behaviour now could be a breaking change. It's probably something for us to fix in the next major release.

[2021-05-20 06:29] #624 closed

[2021-05-20 07:58] vincent-lu commented on #624
np thanks @freekmurze

[2021-05-20 09:11] #620 closed

[2021-05-20 09:15] AlexVanderbist commented on #588
Fixed, thanks! It was in the `.github/` directory

[2021-05-20 09:15] #588 closed

[2021-05-20 09:18] AlexVanderbist commented on #587
That makes sense! Feel free to send a PR that limits the scope of the delimiter to the current instance and I'll be happy to merge that in :)

[2021-05-20 09:18] #587 closed

[2021-05-20 09:22] AlexVanderbist commented on #598
Hi! There are indeed some issues with string casing in the current version. In the next version of the package I'm looking to get rid of all casing conversions and just pass the requested string the the query builder. If someone wants to kickstart this, feel free to send a PR and I'll be happy to merge it in a new major version of the package 👍

[2021-05-20 09:22] #598 closed

[2021-05-20 09:23] AlexVanderbist commented on #539
Closing this due to inactivity. Feel free to open a new issue if you (or anyone else) is still experiencing this issue or even better: send a PR 👍

Thanks!

[2021-05-20 09:23] #539 closed

[2021-05-20 09:30] AlexVanderbist commented on #586
Hi @AlexGodbehere, thanks for being patient. It looks like we simply don't support adding a condition on a pivot table using `wherePivot`. I'm happy to merge a PR that solves this somehow, but I'm not sure where to start...

As a solution I'd propose creating a custom filter that utilises Laravels's [wherePivot](https://laravel.com/docs/master/eloquent-relationships#filtering-queries-via-intermedi

[2021-05-20 09:30] #586 closed

[2021-05-20 09:33] AlexVanderbist commented on #594
Hi @imknight! Thanks for reporting this. We're currently using this package in combination with the JSON API paginate package basically everywhere without any problems. I'm gonna close this issue as it's been a while but definitely feel free to open a new one with some more information (query builder config, versions, etc...) if you're still experiencing this problem. Thanks!

[2021-05-20 09:33] #594 closed

[2021-05-20 09:35] AlexVanderbist commented on #605
Hi @DHSprout! I'm not sure if I understand your question correctly. I'm gonna close this issue as it's been inactive for a while but please feel free to open a new issue if you're still having questions. Make sure to include a code example so we can help you better! Thanks and good luck 👍

[2021-05-20 09:35] #605 closed

[2021-05-20 09:39] AlexVanderbist commented on #622
Hi @vincent-lu! Are you still having issues with this? If not, feel free to close the issues.

If you are, can you please post the exact URL you tried and the error message it returned?

`Requested field(s) products?foo=bar.id are not allowed. Allowed field(s) are products.id.....` makes it seem like there's a lot going wrong. For a start `products?foo=bar.id` is definitely not a field so I'm quit

[2021-05-20 19:12] urameshibr opened #628 "Disable InvalidFilterQueryException does not work on v3.2.2"
Hello, actually im using the v3.2.2 of this package, i must to disable the InvalidFilterQueryException when any not available filter appears on query string. I tought adding the key `"disable_invalid_filter_query_exception" => true` in `config/query-builder.php` solves, but unfortunally that does not work.

i did try to clear the chache and config of Laravel by the artisan, nothing happens.

_Orig

[2021-05-21 00:38] vincent-lu commented on #622
Hi @AlexVanderbist thanks for getting back to me. Honestly the original complaint was so long ago before I completely rewrote my wrapper around `spatie/laravel-query-builder` I don't remember what the cause was and how I fixed it.

Will just close this.

[2021-05-21 00:38] #622 closed

[2021-05-23 10:49] GrahamCampbell opened #630 "CI now failing"
<img width="1089" alt="image" src="https://user-images.githubusercontent.com/2829600/119257349-cc412800-bbbc-11eb-82ee-6f4f553b1d17.png">

You know what I'm going to suggest to use instead... :P

[2021-05-23 21:15] freekmurze commented on #630
🙂

Thanks for bringing this to our attention. The problem has been fixed.

[2021-05-23 21:15] #630 closed

[2021-05-24 06:59] lioneaglesolutions opened #631 "hasManyThrough pulls ID's from the wrong table"
When using the QueryBuilder with a hasManyThrough relationship, the output has models pulled by the ID of the pivot table - not the model itself.

**Controller Method**
[code]

**Relationship Definition**
[code]
**Request URL**
`/api/v1/sites/1/patients?page[number]=1&page[size]=25`

When passing the request to this controller, when querying using the first site (`$site->id = 1`), I get the below

[2021-05-24 09:19] francoism90 opened #632 "Using 'use_simple_pagination' breaks appends"
I was wondering why my appends wouldn't work, turns out using `'use_simple_pagination' => true,` causes this to happen. Is this is a know limitation? Can it be fixed? :)

Thanks.

[2021-05-24 09:21] francoism90 commented on #632
Wrong repo.

[2021-05-24 10:14] freekmurze commented on #632
Thanks for the PR

[2021-05-24 10:14] #632 closed

[2021-06-12 21:32] DHSprout opened #639 "Filter not working in case of nested hasMany relationship"
In my scenario I have to do search on the coulmn which is present in 3rd table respective of table relationship .

For example:
QueryBuilder::for(User::class)
            ->allowedFilters('campaigns.redirectionurls.url')
            ->allowedIncludes('campaigns,campaigns.redirectionurls')
            ->allowedFields('name', 'uuid', 'id', 'campaigns.product_url', 'campaigns.created_by', 'campaigns.

[2021-06-15 09:37] thijsw commented on #422
I often encounter a scenario similar to the one described in this issue where I'd like to constraint the includes based on other request parameters.

Suppose for example that you only want/allow to include products that match a certain search term and include some other relations of the filtered products such as a category. An unfiltered list of products might get too large so you explicitly requi

[2021-06-18 17:23] reppair commented on #325
@leon0399 you are correct, here is how I use it currently, just got rid of the route model binding..

[code]

[2021-06-22 23:04] mitchierichie opened #640 "Filter not recognizing relationship"
https://spatie.be/docs/laravel-query-builder/v3/features/filtering#exact-or-partial-filters-for-related-properties

Following the instructions in the link above, I tried to create an AllowedFilter for one of my relationships. My query fails because instead of filtering by my related model, it tries to find a column with that name on the main model's table.

[code]

 I did some digging - seems Spat

[2021-06-22 23:16] mitchierichie commented on #639
@DHSprout see my issue #640 - it's totally undocumented and unexpected behavior, but they only check for the existence of a method that matches the CAMEL case of the allowedFilter. As a workaround until (hopefully) my PR for this issue gets merged, you can duplicate all your relationship methods in camel case.

What I did was create a method that just calls my existing relationship method, for exa

[2021-07-04 18:08] PunyFlash opened #644 "Appends do not work with pagination"
I have such controller:

[code]

When retrieving query results using `paginate`, `cursorPaginate` and `simplePaginate` attributes are not being appended:

[code]

[2021-07-05 09:12] AlexVanderbist commented on #628
What version of the package are you using? On the latest version the check for the config value should be here: https://github.com/spatie/laravel-query-builder/blob/master/src/Concerns/FiltersQuery.php#L65-L67

Feel free to send a PR if this needs to be changed or tested differently.

[2021-07-05 09:26] AlexVanderbist commented on #631
Hi, that doesn't seem right indeed. Does that query work when you don't use the query builder package?

If you've not using any filters/includes/etc, the query builder package wont actually change the query. This means that the executed query would be the same as `$site->patients()->jsonPaginate()`.

[2021-07-05 12:32] AlexVanderbist commented on #639
Hey, can you PR a failing test for this please? I've played around with it but its seems like this test covers the issue you're experiencing:
https://github.com/spatie/laravel-query-builder/blob/fce2df57b3e09f55b781380579319bdfdc73a6c9/tests/RelationFilterTest.php#L70

[2021-07-05 12:35] AlexVanderbist commented on #640
This tried to follow 2 best practices: case insensitive urls & camelcase for Laravel relationships. Ultimately not the best choice for this package. Let's continue this issue in the #641

[2021-07-05 12:35] #640 closed

[2021-07-05 14:20] AlexVanderbist commented on #644
Thanks for letting us know. Fixed in v3.5.0

[2021-07-05 14:20] #644 closed

[2021-07-06 09:26] francoism90 opened #645 "cursorPaginate breaks inRandomOrder"
I'm testing the newly introduced `cursorPaginate`, all seems to work fine, however using `inRandomOrder` results in:
[code]

Is this expected or a known bug? I'm simple calling a custom filter and works fine using `paginate`:
[code]

Thanks!

[2021-07-06 13:07] mitchierichie commented on #640
@AlexVanderbist I see, well I appreciate the quick turnaround

[2021-07-13 22:45] lioneaglesolutions commented on #631
@AlexVanderbist there is definitely some strange behaviour going on.

Let's just focus on `Avis` with `id = 196`.

This is what is in the database essentially;
`u = users, pl = patient_locations`
| u.id | u.first_name |  | pl.id | pl.client_id | pl.site_id | pl.department_id |
| :---: | :------------:| :--: | :---------: | :---------: | :---------: | :---------: |
|196 | Avis| | 193 | 1 | 1 | 1 |

[2021-07-13 23:27] lioneaglesolutions commented on #631
I think the issue lies with `jsonPaginate` actually... when doing;
[code]
I believe it is running as expected.

[2021-07-13 23:35] #631 closed

[2021-07-21 08:17] francoism90 commented on #645
Hmm, shouldn't this return a `lazyCollection` instead of a ` Collection`?

Is this a Laravel bug? If I change `Illuminate/Collections/Collection.php:382",` to be the same as `Illuminate/Collections/LazyCollection.php:382", it all works fine.

[2021-07-22 08:55] Peter-Krebs opened #647 "CHANGELOG.md has forgotten about 1.18.0"
The version 1.18.0 added support for Laravel 6 and PHP 8, according to [1.18.0 changelog](https://github.com/spatie/laravel-query-builder/blob/1.18.0/CHANGELOG.md).

- In [version 2.0.0's changelog](https://github.com/spatie/laravel-query-builder/blob/2.0.0/CHANGELOG.md) this change has already been forgotten and doesn't list 1.18.0
- The current version (as of this writing) [with the changelog fo

[2021-07-22 11:26] freekmurze commented on #647
We don't use v1 anymore, so we're not going to invest time it. Feel free to PR changes you need to the v1 version.

[2021-07-22 11:26] #647 closed

[2021-07-22 11:31] Peter-Krebs commented on #647
It is not about V1 for me, it's about representing the correct history in the changelog.
A PR to the v1 branches doesn't do anything - the last v1 version was 1.18.0 I mentioned. The changelog is correct there.

If you don't mind forgetting about 1.18.0 in the changelogs since 2.0.0 I don't think I have to care either.
So nevermind, this can stay closed then.

[2021-07-30 14:12] williamxsp commented on #614
@ronssij What was the problem?

[2021-07-30 14:17] williamxsp commented on #614
If anyone else is having this problem, you must use the three dots syntax in your scope as explained here https://github.com/spatie/laravel-query-builder/issues/334#issuecomment-552113812

[2021-08-06 07:23] driesvints commented on #645
You can't use `inRandomOrder` with cursor based pagination. The entire concept of cursor based pagination is that you have a fixed order.

[2021-08-06 07:31] francoism90 commented on #645
@driesvints Thanks for your reply. :)

What if you use a random seed? Something like `$query->inRandomOrder(1000)`.
If I understand correctly it isn't possible to use `orderBy` giving by IDs?

[2021-08-06 08:06] driesvints commented on #645
I haven't tested that myself.

Sure you can. I'm not sure why you think it isn't?

[2021-08-06 08:17] francoism90 commented on #645
@driesvints I've tried using InRandomOrder including a seed, but it unfortunately still breaks with the same error. Applying the lazy collection logic fixed the issue, but I don't think this is the cause?

Oh, still need to find out how cursor pagination works, sorry!

[2021-08-09 17:42] blite commented on #329
@AlexVanderbist I don't really see where this solves this issue.  For instance if you needed to do a subquery that contains two different parameters.

[2021-08-09 18:11] blite commented on #329
imo both https://github.com/spatie/laravel-query-builder/discussions/557 and https://github.com/spatie/laravel-query-builder/pull/550 are related to this.  The suggested ```passFullRequest``` could solve this issue potentially.  It would additionally need a way to not run certain filters if they have already been run elsewhere.

[2021-08-11 10:05] Jackardios commented on #147
For such cases, I made a separate version from the sources of this project, which can be used separately from the query builder.

[2021-08-16 11:24] Radiergummi opened #651 "Custom includes not eager loading"
TL;DR Custom includes doing the same thing as relationship includes don't eager load models, relationship includes do, even though the query itself is issued correctly.

-----

I have a situation where I'd like to limit an included resource to two fixed fields; API clients may not choose which fields to receive for this resource. At first, I tried combining the `AllowedInclude::relationship()` inc

[2021-08-16 11:28] Radiergummi commented on #651
Just as usual, right after posting the issue I located the problem. I didn't care to include `model_id` with the query, which prevents Laravel from resolving the model correctly.

[2021-08-16 11:28] #651 closed

[2021-08-19 03:07] C-Collamar commented on #325
I'm not sure whether my comment is already in tangent with the discussion, but as for the original question, my solution is as follows:

1. First, make sure to use `Spatie\QueryBuilder\QueryBuilder` in your `my-resources.index` route. Nothing unusual; and I presume that everyone in here is doing that.

    For example, in your `MyResource` controller:

[code]

1. Then in your `MyResource` model, e

[2021-08-29 19:10] SlimGee commented on #628
I have almost the same issue but throws an `InvalidFilterQuery` exception on unknown sorts, I checked the source code, on the method that `ensures sorts are valid` there is no check for the config flag

[2021-09-06 08:18] AlexVanderbist commented on #628
I've had a quick look into this issue but couldn't replicate it. Feel free to open a PR adding that check for the config flag on the `v3` branch.

[2021-09-06 08:18] #628 closed

[2021-09-06 08:18] #639 closed

[2021-09-06 08:21] #645 closed

[2021-09-06 08:24] francoism90 commented on #645
@AlexVanderbist This hasn't been fixed, why is it closed? :)

[2021-09-17 13:51] rickgoemans commented on #624
This of course only works for a single column but feel free to adjust it with a customer delimiter for checking multiple columns.

[2021-09-29 20:45] izniburak opened #667 "Filter aliases not working correctly [AllowedFilter::exact]"
Hi,

I tried to use filter aliases as specified in [documentation](https://spatie.be/docs/laravel-query-builder/v3/features/filtering#filter-aliases) but it's not working.

[code]

I try to use multiple filters. One of them is `type` that should match `type` column on database table. And other is `q` that should match `title` column on database table. If I use `title` filter instead of used alias,

[2021-09-29 21:20] #667 closed

[2021-10-22 04:57] owenconti opened #677 "DeferrableProvider causes config to not be loaded"
Hello, I believe this commit that introduced the `DeferrableProvider` is causing the non-published config file from being loaded: https://github.com/spatie/laravel-query-builder/pull/660

This causes an issue in `QueryBuilderRequest` where all input data is returned instead of just the `filter=` values, because `filterParameterName` ends up being `null`: https://github.com/spatie/laravel-query-bui

[2021-10-27 13:21] localpath opened #679 "documentation site down or bugged?"
Hello, the v3 docs have seemed to disappear?

![image](https://user-images.githubusercontent.com/44937070/139074037-a19beb3c-0b64-454b-8608-85495c13eaed.png)

[2021-10-27 14:15] #679 closed, assigned to nobody

[2021-11-01 03:41] PharaohAsh opened #681 "AllowedFields are not taking into consideration the relationship fields"
**Using V4.0.1**

When we do the following:
[code]

And query the endpoint like so:
[code]

It appears to list _all_ the fields of the `author` and not **just** `id` and `name`.

I think the issue lies [here `->get($table)`](https://github.com/spatie/laravel-query-builder/blob/main/src/Concerns/AddsFieldsToQuery.php#L57) where it's grabbing the `$table` instead of the `$relation` from the collecti

[2021-11-22 11:34] madrussa commented on #84
Example custom filter, built on top of the FiltersExact.

[code]

Get users that **are** admin
/users?filter[role]=admin

Get users that **are not** admin
/users?filter[role]=!admin

Get users that **are not** admin or super,
/users?filter[role]=!admin,super

You can customise the negative prefix
[code]
/users?filter[role]=^admin

Handles relationships the same way as the FiltersExact does, as we'

[2021-11-25 00:45] wattsie commented on #681
I too have just ran into the similar issue (v4.0.1 as well)

I tried applying a resource to each of the keys within the main resource. ie.
[code]
But it appears, when I call the `$this->first` it pulls in the entire record, thus does not obey the include'd requirement within the URL.

It would be awesome if any included/related models apply their resource or resource collections.

[2021-11-25 01:16] wattsie commented on #681
FYI: I have found a work around.

By checking the `relationsToArray` I have found which additional includes have been defined.

Then I just check and convert into either Resource or ResourceCollection as required.

[code]

[2021-11-30 17:53] jpgilchrist commented on #681
I just ran into this issue as well today. Same thing specifying fields on a relationship is not added to the select statement. If the field is for the root object, then it does work.

?include=author&fields[post]=id&fields[author]=id,name

outputs

`select post.id from post ... `

omitting the ?field[post]=id just results in a `select * ...`

[2021-12-10 10:55] mrlinnth opened #698 "Can this package be used with MongoDB model?"
Tried to search if mongodb is supported or not at old issues/discussion and couldn't find any.

Can someone help or guide me in the right direction?

I am connecting Mongo DB and want to use this package but facing issue.

![image](https://user-images.githubusercontent.com/4952597/145562894-fb904fb7-0a7e-4f84-ad12-ac74dfbdb847.png)

[2021-12-13 14:36] ajcastro commented on #448
You can use
[code]
[code]

[2021-12-14 21:03] weogrim commented on #698
It seems to me that this package is not capable of working with MongoDB. I've been trying right now to find out why, and I locate `Spatie\QueryBuilder\Filters\FiltersPartial` which construct RAW **SQL** query:

[code]

[2021-12-15 09:53] mrlinnth commented on #698
@weogrim yea I also concluded that this is not compatible for MongoDB models yet.

Since I am developing a REST API app, I have switched to laraveljsonapi package instead.

[2021-12-15 09:53] #698 closed

[2021-12-18 18:00] claudiofabiao commented on #681
Same problem here. Using version 4.0.1 too.

[2021-12-28 10:07] kimulisiraj opened #703 "Broken link"
<img width="307" alt="Screenshot 2021-12-28 at 13 05 09" src="https://user-images.githubusercontent.com/8648780/147555042-c5952cea-c44e-4404-a549-2c112a123f5e.png">
👆That link is broken on the about us section.
Please change it to `https://spatie.be/docs/laravel-query-builder/v3/introduction`

[2021-12-28 12:15] freekmurze commented on #703
Done!

[2021-12-28 12:42] kimulisiraj commented on #703
🎉👏

[2021-12-28 12:42] #703 closed

[2022-01-01 10:54] phongjimmy opened #705 "Error with spatie/laravel-translatable"
"php": "^7.3
"laravel/framework": "^8.54"

When i using
"spatie/laravel-translatable": "^4.6"
with
"spatie/laravel-query-builder": "^3.6"

I got error
json_decode() expects parameter 1 to be string, array given {****,"exception":"[object] (ErrorException(code: 0): json_decode() expects parameter 1 to be string, array given at ****/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Concerns/

[2022-01-03 09:39] renepardon opened #706 "Request parameters are not handled for sort/filter requests"
I implemented an action like this: https://gist.github.com/renepardon/162334dfbd4c208b9090fffeda9dbaff
Based on [lorisleiva/laravel-actions ](https://github.com/lorisleiva/laravel-actions).

The passed $request object is of type `Illuminate\Http\Request` and contains the following data from UI/Frontend:

[code]

My problem here is that the `-name` filter is not applied, it's always `name` as defin

[2022-01-13 12:27] jsandfordhughes opened #712 "Navigation in v5 docs broken"
The navigation on the v5 docs seem to be trying to visit a URL with /v3/ in the URL which then gets stuck in an unlimited redirect loop.

I have had a look in the docs folder however I cannot see the navigation code.

The top of the page also states we are on v3 docs.

Screenshots attached to try and help with the explanation.

![CleanShot 2022-01-13 at 12 25 34](https://user-images.githubusercont

[2022-01-14 07:27] jamols09 commented on #36
I know this is too much to ask. but is there a way for me to filter a relation within a relationship?

[code]

[2022-01-14 10:04] williamxsp commented on #712
If you type v5 at the url bar instead of v3 it loads correctly.

[2022-01-14 10:09] jsandfordhughes commented on #712
Yes that is correct, just wanted to make them aware 😄

[2022-01-14 14:30] nikitabuida commented on #644
Using v4.0.2 and the issue is still here - not appending custom attributes via paginate().

[2022-01-17 00:45] oceanapplications opened #714 "FiltersPartial index miss"
FiltersPartial is using LOWER() which causes index misses. Many collations are case insensitive so LOWER() is not necessary.

The LIKE expression uses % before the search value which also cases index misses. This is necessary at times but if it could be used optionally that would be ideal.

Perhaps instead of just FiltersPartial, we add FiltersBeginsWith and FiltersEndsWith as options to place % o

[2022-01-22 09:20] nipunTharuksha commented on #324
I was going through all the comments. as they say check that `query-builder.php` available in config folder. If it is not then please run
`php artisan vendor:publish --provider="Spatie\QueryBuilder\QueryBuilderServiceProvider" --tag="config"`

and then you may run commands at https://github.com/spatie/laravel-query-builder/issues/324#issuecomment-656118260 .
Thanks

[2022-01-28 12:07] klimov-paul commented on #698
You may try to use [illuminatech/data-provider](https://github.com/illuminatech/data-provider) instead.

[2022-01-28 12:10] klimov-paul commented on #597
You may try to use [illuminatech/data-provider](https://github.com/illuminatech/data-provider) instead. It privdes suport for raw DB queries.

[2022-01-28 12:15] klimov-paul commented on #371
You may try to use [illuminatech/data-provider](https://github.com/illuminatech/data-provider) instead. It is not tied to `Request` class.

[2022-01-28 12:22] klimov-paul commented on #57
You may try to use [illuminatech/data-provider](https://github.com/illuminatech/data-provider) for the integrated pagination solution.

[2022-01-28 12:26] klimov-paul commented on #681
You may try to use [illuminatech/data-provider](https://github.com/illuminatech/data-provider) instead. It does provide the ability to specify selected fields for the relations.

[2022-01-28 12:29] klimov-paul commented on #376
You may try to use [illuminatech/data-provider](https://github.com/illuminatech/data-provider) for the integrated pagination solution.

[2022-01-28 12:29] klimov-paul commented on #424
You may try to use [illuminatech/data-provider](https://github.com/illuminatech/data-provider) for the integrated pagination solution.

[2022-02-02 19:53] mitchierichie opened #720 "With/include not including on multiple queries in the same request cycle"
I'm trying to use with or allowedIncludes to include a many-to-many relationship in 2 or more queries in the same request, and then I'm using union on the resulting QueryBuilder objects to run the queries at the same time.

This was working, but now for some reason I'm getting errors because this is my resulting query:

[code]

This is a  long  query and a little tough to read, so I've included th

[2022-02-02 21:13] mitchierichie commented on #720
I was able to fix this by extending the `AllowedFilter` and `FiltersExact` classes, and overriding the `isRelationProperty` method and removing an if statement:

[code]

https://github.com/spatie/laravel-query-builder/blob/603145faeffed88ac86cc13c8eb22c0af416f8cb/src/Filters/FiltersExact.php#L47

This doesn't seem to have caused any errors, is this if statement required?

The other reasoning for t

[2022-02-05 21:32] Kenny201 opened #722 "Conflict with laravel version"
laravel: 8.82.0
Issue:"
  Problem 1
    - Root composer.json requires spatie/laravel-query-builder ^5.0 -> satisfiable by spatie/laravel-query-builder[5.0.0].
    - spatie/laravel-query-builder 5.0.0 requires illuminate/database ^9.0 -> found illuminate/database[v9.0.0-beta.1, ..., 9.x-dev] but these were not loaded, likely because it conflicts with another require."

[2022-02-10 15:11] punyflash opened #725 "Call to undefined method"
Trying to migrate my project to Laravel 9. After upgrading `laravel-query-builder` to version 5.0.0 I get the error:
[code]
It seems like there is no more [appending attributes](https://spatie.be/docs/laravel-query-builder/v4/features/appending-attributes) point for version 5 as well. Why this feature was removed?

[2022-02-10 16:12] #725 closed, assigned to nobody

[2022-02-11 14:57] pionl commented on #725
Good to know, maybe update the "changelog" and release notes? Thank you

[2022-02-16 10:35] wi-wissen commented on #725
For me, the Feauture appending attributes was very helpful. For example to add computed properties only when needed or allowed by role.

Fortunately you still kept all needed functions in `QueryBuilderRequest`. So I only had to restore `AppendsAttributesToResults` and `InvalidAppendQuery` and overwrite `__call` from `QueryBuilder`.

Is it planned to leave `QueryBuilderRequest` like this? If not, i

[2022-02-16 15:32] JasperTey opened #729 "Documented command to publish config doesn't work as intended (v5)"
In https://github.com/spatie/laravel-query-builder/blob/main/docs/installation-setup.md, the command for publishing the config:

[code]

Did not work for me (Laravel 9):

[code]

Removing `--tag="config"` was how I got it working:

[code]

[2022-02-16 17:26] regnerisch opened #730 "Nested include not working with custom include"
Hey,

first: Great Package! I use it a lot, and it's doing a great job! 

Today I ran in an issue. I have a class like: 

[code]

We call the API with `/learnings?include=steps,steps.products,steps.products.thumbnail`. But adding the `steps.products.thumbnail` include overwrites the things I do in `ProductInclude`. 

[code]

So our response only contains the `thumbnail` but `avgRating`, `rated` an

[2022-02-17 07:11] DanjBethel opened #731 "Static methods not being found in VSCode"
Getting "Non static method 'for' should not be called statically."

Laravel: 9
PHP: 8.1
Laravel-query-builder: 5.0

Not sure what I could be doing wrong. I just installed the package and tried using it and VsCode started barking at me. Also receiving a 500 error in my test saying the same.

[2022-02-17 15:38] #729 closed

[2022-02-22 21:20] TheDoctor0 commented on #624
There is a simpler solution to this problem - extending the `AllowedFilter` and overriding the `filter` function:
[code]
Then it can be used as you would expect:
[code]

[2022-02-22 22:09] benswinburne commented on #624
Another way you can do this is

[code]

[code]

Which allows you to pass `filter[type]=null` onto the query string.

This is obviously an issue if you expect a string value `"null"` but in my case it was filtering an enum column so no risk of that.

[2022-03-02 14:11] JeremyPinto opened #736 "allowedAppends not work anymore in V5 ?"
Appending attributes has been removed from V4 to V5 : https://spatie.be/docs/laravel-query-builder/v4/features/appending-attributes.

The following code returns an error
->allowedAppends(['fullname'])

What is the alternative to this in the last version ?

Thanks,

[2022-03-04 13:38] dominikb commented on #736
Duplicate of #725

[2022-03-09 10:18] Bosphoramus opened #738 "Config file publish documented is incorrect"
Docs say that the publish command for the configuration file is
`php artisan vendor:publish --provider="Spatie\QueryBuilder\QueryBuilderServiceProvider" --tag="query-builder-config"`

But it doesnt work, its actually
`php artisan vendor:publish --provider="Spatie\QueryBuilder\QueryBuilderServiceProvider"`

[2022-03-09 19:56] WildEgo opened #739 "Documentation server erroring"
As the title says
[code]

[2022-03-10 18:22] #739 closed

[2022-03-17 16:36] steven-fox opened #741 "PHP8.1 passing null to explode() is deprecated warning for $includeParts"
Identical to PR #702 ([commit](https://github.com/spatie/laravel-query-builder/pull/702/commits/67ad6d786f34717a14b5d5fcc77735c86a18bfa9)), the `include` parameter on a QueryBuilderRequest can be `null` and should be checked before passing to the `explode()` function.

https://github.com/spatie/laravel-query-builder/blob/e7abb43f1ee94753a2be3b4dc6e79eaf03d4a9d5/src/QueryBuilderRequest.php#L41

Upd

[2022-03-18 07:44] #741 closed

[2022-03-18 08:09] dominikb commented on #738
Hi 👋

Did you check out issue #729? Are you using version 5 of this package?

The `--tag` parameter in the command narrows the scope of the published resources and can be omitted in this case. Check out the docs on [Laravel - Publish file groups](https://laravel.com/docs/9.x/packages#publishing-file-groups) for more information on that.

[2022-03-18 14:17] Bosphoramus commented on #738
Oh ok thank you @dominikb
So based on what im reading in that issue, shouldnt the documentation be adjusted and suggest the commans without the tag, so something gets published? Its weird to follow the installation options, and when at the moment you try to publish you get “No configuration files to publish”, when the docs clearly say that you have to use that commans if you want to publish the co

[2022-03-20 15:01] dominikb commented on #738
Are you using the same version as in the documentation? Publishing older versions with this command will not work. I just tried it with v5 and this was my output. I think the documentation is correct.

[code]

[2022-03-23 08:36] Bosphoramus commented on #738
Id swear it was the latest query builder version on Laravel 8 instead of 9

[2022-03-23 13:05] luilliarcec opened #743 "(v4) It doesn't have support for laravel > 7.30.4"
[illuminate/http](https://github.com/spatie/laravel-query-builder/blob/57929660741334995950dc82994e1501608bf03e/composer.json#L25)

[illuminate/support](https://github.com/spatie/laravel-query-builder/blob/57929660741334995950dc82994e1501608bf03e/composer.json#L26)

**Solution**

[code]

[2022-03-23 14:58] luilliarcec commented on #743
Fixed in merge spatie/laravel-query-builder#744

[2022-03-23 17:23] jamols09 commented on #36
This is really helpful and I've use this a lot. However I have a pivot table it doesn't have a model but how can custom sort be implemented for pivot table's columns ?

[2022-03-23 17:34] bcorcoran commented on #36
You could implement another subquery.

I re-implemented the above function slightly differently to satisfy phpstan:

[code]

[2022-03-25 00:53] jamols09 commented on #36
Seems that it's not working as of now. The `with()` doesn't work correctly maybe because I use don't use beta version of `Illimunate/database 9.0` (this requires me to have 9.0 version for `spatie/laravel-query-builder 5.0.0` the furthest I could update is 4.0.3

[code]
`error: "SQLSTATE[42S22]: Column not found: 1054 Unknown column 'branch_item.is_active' in 'field list' (SQL: select * from `item

[2022-03-26 23:45] musiwei commented on #36
What is `Relationship::select`? I am using Laravel 9 and the only Relationship class I can find is \Illuminate\Database\Eloquent\Factories\Relationship...

[2022-03-27 01:44] bcorcoran commented on #36
Your model name. Sorry, I should have been more clear. i.e. "Person::select"

[2022-04-09 13:27] kurorido commented on #725
I follow @wi-wissen suggestion and made a fork.

https://github.com/kurorido/laravel-query-builder/commit/067595efaeacfcb7c91f46df5f878ddce3cd9fb6

[2022-04-13 19:50] jpgilchrist opened #747 "Bug or Oversight: allowed filter with value of an empty string bypasses the filter"
I have a controller method, that I want to allow a user to switch a scope filter on and off for controlling the data they are authorized to see that will be returned.

For instance and admin account may want to just see their own personal data or they may want to see all the data for every user they have access manage.

So I created a scope query, but when playing with the query parameter values f

[2022-04-14 09:31] dominikb commented on #747
Hi @jpgilchrist,

I've tried reproducing the behavior you are describing but failed at that. Can you specify which version you are using or provide a sample project to reproduce this error?

Heres the test setup I used.
[code]

If you want to dig deeper yourself a good starting point would be [FiltersQuery#addFiltersToQuery](https://github.com/spatie/laravel-query-builder/blob/26e343c6e42188005349

[2022-04-17 16:35] anthonymf commented on #36
It is not strictly necessary to use a custom sort class because you can sort by related properties using dot-notation if you add a join and a select table.* like this:

[code]

It's also worth noting that [joins are typically faster than subqueries](https://reinink.ca/articles/ordering-database-queries-by-relationship-columns-in-laravel).

[2022-04-17 16:36] anthonymf commented on #362
By adding an explicit select and a join, dot-notation becomes possible, see https://github.com/spatie/laravel-query-builder/issues/36#issuecomment-1100911854

[2022-05-02 10:00] #705 closed

[2022-05-07 09:24] rezaffm commented on #681
Hello, I am facing the same issue - is there any solution?

[2022-05-07 16:41] dominikb commented on #681
As pointed out by @PharaohAsh initially the problem is with how the table name is inferred using the relation string:

[code]

A workaround could be to specify the included fields with this transformation in mind:
[code]

One thing to keep in mind: you always need to include the **key** for 1-to-1 relations and the **foreign_key** for 1-to-many relations for Eloquent to be able to correctly associ

[2022-05-08 05:50] rezaffm commented on #681
Great stuff, much appreciated.

Would be great if it works for 4v as well then, not ready for Laravel 9 yet :-)

[2022-05-13 13:46] j2L4e commented on #36
This version works with the dot-notation property names.
It splits $property into relation and column name to get the relation and corresponding keys from the QueryBuilder. It uses subqueries, so it's not fast, but it works out-of-the-box and doesn't have side-effects on the original $query.

[code]

[code]

[2022-05-16 10:01] #712 closed

[2022-05-18 10:00] #714 closed

[2022-05-21 14:17] abdelazim94 opened #754 "when i use filters it give me a warning"
Since symfony/http-foundation 5.1: Retrieving a non-string value from "Symfony\Component\HttpFoundation\InputBag::get()" is deprecated, and will throw a "Symfony\Component\HttpFoundation\Exception\BadRequestException" exception in Symfony 6.0, use "Symfony\Component\HttpFoundation\InputBag::all($key)" instead.

Since symfony/http-foundation 5.1: Passing a non-scalar value as 2nd argument to "Symfo

[2022-05-24 20:34] joaoVtr opened #755 "PostgreSQL error on Filter Relationship"
Hi. I have a problem when i try to filter a relationship on QueryBuilder. Error SQLSTATE[42883] Undefined function: 7 ERROR:  function lower

My error
![image](https://user-images.githubusercontent.com/61917597/170124723-aa43a79e-c198-4338-9134-542db951e237.png)

My code
[code]
And my query
![image](https://user-images.githubusercontent.com/61917597/170125584-cfcec49a-5b59-42b3-9f20-dc218fc323fa.p

[2022-06-02 08:17] jeffwhansen opened #774 "Passing empty value to filter causes slowness"
Thanks for the package!  Really enjoying it!

In my testing it appears that empty filters cause some hefty delays. It appears the delays are in the code, not the database query.

I have a very small project, the table I am querying has only 4 records.

I have the following in my controller:

[code]

Note that I am doing the `dd` there.
I query using Postman get the following response times:

`{{ho

[2022-06-17 10:00] #730 closed

[2022-06-20 10:01] #706 closed

[2022-06-20 23:29] alitokmakci opened #780 "Call to undefined method Spatie\QueryBuilder\QueryBuilder::mapInto()"
spatie/laravel-query-builder v: 5.0.2
laravel v: 9.14.1
php v: 8.0.2

Hi! I want to create an api, if user sends page or per_page parameters api should paginate or if user do not send these parameters api should return all the data. When I tried the given code it gives error below:

`Call to undefined method Spatie\QueryBuilder\QueryBuilder::mapInto()`

[code]

Here are the working examples:

[cod

[2022-06-20 23:40] alitokmakci commented on #780
Problem solved by adding changing to this:

[code]

Sorry for taking your time that was totally my sleepy mistake!

[2022-06-20 23:40] #780 closed

[2022-06-22 14:05] joaovdiasb commented on #755
Hi, i belive it's becouse of this line: https://github.com/spatie/laravel-query-builder/blob/2e738da1ed5c34a452b1fc041862a5852ef8704d/src/Filters/FiltersPartial.php#L21
With some types of column you will be able to do it this way, but not for types like uuid, bigint...
the solution i found was to create a custom filter

and hi from Brazil, ES

[2022-06-22 15:14] joaoVtr commented on #755
@joaovdiasb Obrigado pela resposta. Também criei um filtro pra isso. Nos resta ficar de olho caso o pacote faça alguma atualização a respeito. vlw

[2022-06-29 13:59] #755 closed

[2022-07-05 10:00] #736 closed

[2022-07-13 13:36] anikgoel opened #788 "Exact filter on relationship making multiple sub query resulting in slow performance"
Hi

I am using this package at lot of places but recently putting multiple filters on relationship. And in the query log I found it is appending a lot of sub-query (exists) resulting in slow performance. What can be done?

I am using below filters -

            AllowedFilter::exact('fuel_id', 'ownerVehicle.fuel_id'),
            AllowedFilter::exact('body_vehicle_id', 'ownerVehicle.body_vehicle_i

[2022-07-14 13:42] SerkoCy commented on #344
Thank you very much mate you saved me. I have been spend whole my morning to find this error.

[2022-07-21 07:20] shaunluedeke commented on #754
I had the same error, the error comes from the Spatie\QueryBuilder\QueryBuilderRequest class for the getFilterValue() function because a null query is missing before the Str::contains

[2022-07-23 16:59] lrfahmi opened #792 "Include Relation is Null"
I am confused by the results that do not match what is documented. I'am using the package version 5.0.2.
[code]

[code]

[code]

[code]

Based on the information above, the response from the API is:

[code]

Please help, what's wrong? I redo the documentation but the result is the same. Thank you.

[2022-07-23 17:22] lrfahmi commented on #792
Some time later I tried with a different URL, entering the **user_id** to **fields[posts]**.
[code]

The select feature does not match the requested parameters, the author field is displayed all.

[2022-07-23 17:47] lrfahmi commented on #792
Apparently, the problem is from the fields[relation?] parameter. Where the query builder package or laravel specify the name / alias plural. So there is a difference in the Controller.

[code]
But in controller and selection, **allowedFields** must be written in **plural**. **allowedFields[authors]**, **NOT allowedFields[author]**
[code]

[code]

[2022-07-23 18:04] lrfahmi commented on #681
This issue can't be fixed yet?

../Concerns/AddsFieldsToQuery.php

[code]
Why not rollback like the previous version? Is it related to the others?
[code]

[2022-07-25 09:44] 7Jhanson opened #793 "Having `orWhereHas` in initial query cancels out filters"
I have something like:

`QueryBuilder::for(Object::class)
->whereHas('comments')->orWhereHas('relation.comments')->orWhereHas('relation.relationChild.comments')
            ->allowedFilters($this->setAllowedFilter($this->filters))
            ->allowedSorts($this->setAllowedSorts($this->filters))
            ->paginate(data_get($options, 'pagination.rowsPerPage'), ['*'], 'page', data_get($options,

[2022-07-25 10:02] #738 closed

[2022-07-29 14:19] #754 closed

[2022-08-02 12:24] olliescase opened #797 "Create from mixes static and self"
https://github.com/spatie/laravel-query-builder/blob/9b7bf9123a66ddd38e0e2e9c1138b69c2325b11a/src/QueryBuilderRequest.php#L32

Is there a reason why the `fromRequest` method creates a new instance of `self()` rather than `static()` this means if you extend the class you have to then also override this function in order for it to return the extended class.

There may well be a "best practice" or us

[2022-08-03 06:14] dominikb commented on #774
Hi @jeffwhansen 👋

Thanks for reporting the issue. Can you provide me with an example app that reproduces the described slowdown? I'd like to look into this issue.

[2022-08-17 17:38] Mina-R-Meshriky opened #805 "Allowed fields key should be the route name not the database table name"
When we call the following route
`/api/product-categories/1?fields[product-categories]=id,name`
it does not work and gives a 400 error.

but when we change the fields key to `[product_categories]` -which is the table name in the database- it works!

the same can be said about the fields, if a frontend dev. requests `createdAt` -which is the name in the resource file-
And in the queryBuilder `->all

[2022-08-24 07:38] chimit opened #807 "Scope filters don't work with relationships"
Unlike exact filters scope filters don't work on related models.

Works:

[code]

Doesn't work:

[code]

Scope filter works well on the model itself:

[code]

Building scope:

[code]

[2022-08-24 07:46] chimit commented on #807
Sorry, I was wrong. I misused the scopes.

[2022-08-24 07:46] #807 closed

[2022-08-26 07:59] maartenpaauw commented on #805
If I understand you correctly you are looking for aliases. Check out the chapter "Content Filter Aliases" in the documentation: https://spatie.be/docs/laravel-query-builder/v5/features/filtering#content-filter-aliases

[2022-09-01 15:39] Mina-R-Meshriky commented on #805
No this is not about the filters in the documentation.
it is related to "sparse fields" or as in the documentation "selecting fields"
https://spatie.be/docs/laravel-query-builder/v5/features/selecting-fields
the route will only accept table names and table columns with no aliases.

[2022-09-09 06:01] chimit commented on #36
@j2L4e it throws `Call to undefined method Illuminate\Database\Eloquent\Relations\HasOneThrough::getQualifiedOwnerKeyName()` for me.

[2022-09-09 09:31] j2L4e commented on #36
It only works for direct relations OOTB. It shouldn't be too much effort to make it work, though. You can check the API of `HasOneThrough` over here: https://laravel.com/api/9.x/Illuminate/Database/Eloquent/Relations/HasOneThrough.html

[2022-09-23 16:33] ce-brex commented on #698
Just ran into this issue as well, my current workaround is to use Filter::callback() or Filter::custom() instead.

[2022-10-05 10:09] btxtiger commented on #725
@kurorido how did you install the fork?
Composer wouldn't allow me to install it, because the branch name `"Invalid version string "main"`

[2022-10-08 08:17] euoia commented on #725
I was also using this feature and was surprised by its removal after upgrading to Laravel 9.

@freekmurze Given that this is a breaking change, I would love to see some guidance on how to migrate existing code that was using this feature. Given that people were using this feature, UPGRADING.md could be worded a bit better:

I guess the simplest way is to modify your code to call `append` on the qu

[2022-10-13 09:36] prodigy7 commented on #725
That is a great pity that the functionality has been removed. This is important for me in some respects. Now I'll probably have to work with not so nice workarounds.

[2022-10-24 15:08] AlexVanderbist commented on #797
Hey @olliescase, you're right, this is probably an oversight. Feel free to PR the change from `new self()` to `new static()` and I'll merge it in :)

Thanks!

[2022-10-24 15:08] #797 closed

[2022-10-27 23:24] oceanapplications opened #820 "FiltersPartial index miss"
FiltersPartial is using LOWER() which causes index misses. Many collations are case insensitive so LOWER() is not necessary.

The LIKE expression uses % before the search value which also cases index misses. This is necessary at times but if it could be used optionally that would be ideal.

Perhaps instead of just FiltersPartial, we add FiltersBeginsWith and FiltersEndsWith as options to place % o

[2022-10-31 06:25] sethjfischer commented on #597
According to the documentation you are supposed to be able to pass a query, not just the model itself.

https://spatie.be/docs/laravel-query-builder/v5/introduction#content-works-together-nicely-with-existing-queries

[2022-11-14 11:01] #788 closed

[2022-11-24 11:02] #681 closed

[2022-11-28 11:07] #820 closed

[2022-11-28 13:24] AlexVanderbist commented on #774
Hi, I'll be closing this issue due to inactivity. If you or anyone else are still experiencing this problem, feel free to open a new issue and we'll happily look into it :) Thanks!

[2022-11-28 17:51] stevebauman opened #826 "[v5.1.0] BC Break -- `array_diff_assoc` vs `array_diff` -- Array to string conversion"
PHP Version: 8.0.25
Laravel Version: 9.41.0
Query Builder Version: 5.1.0

After updating from v5.0.3 to v5.1.0, all of my tests with this package broke, with the below exception:

<details>
<summary>Exception Screenshot</summary>
<img src="https://user-images.githubusercontent.com/6421846/204345269-826f3a35-961f-42a0-bcef-08bf8d96e38b.png" alt="Screenshot 2022-11-28 at 12 43 42 PM"/>
</details>

T

[2022-11-28 18:13] stevebauman commented on #826
Failing suite:

https://github.com/stevebauman/laravel-query-builder/actions/runs/3567463398

Failing test:

https://github.com/stevebauman/laravel-query-builder/commit/7c58630bef90520b1473ce1be6c6b188d880221b

[2022-11-28 19:01] davidjr82 commented on #826
hi @stevebauman ,

Wasn't your code working because you had only one item in the array? `array_diff_assoc` would work because of that, as soon as you would have 2 keys in your array, then it would fail, wouldn't it?

Thinking on a solution, I don't see an obvious one. Could the solution be on the user side, flattening the array dimensions they want before evaluating the ignore?

I don't know if th

[2022-11-28 19:04] stevebauman commented on #826
Hey @davidjr82,

Unfortunately this isn't the case, as shown in the second comment with the failing test.

No worries on the PR issue! Things happen, and there was no test case covering this, so you wouldn't have been able to easily catch it.

I've submitted a PR with passing tests if you're interested in reviewing: https://github.com/spatie/laravel-query-builder/pull/827

[2022-11-30 15:09] oulfr commented on #826
I have the same issue and all my test are broken because of array_diff that not accept multi-dimensional arrays